---
layout: play
title: The Final Day, Six Hours Remains
description: "A semi-finished play based on the unfinished short story 'The Fourth Day, Six Hours Left' with a definitive ending, more characters, and expanded backstory."
draft: true
---

<div class="centered">
  <p style="font-size: 50px;">The Final Day, Six Hours Remain</p>
  <br>
  <p style="font-size: 25px;">written by AlwaysNever</p>
</div>
<br>
<br>
<br>
<div class="action centered">
  <p>DRAMATIS PERSONAE</p>
</div>
<div class="action">
  <p>Ruben Parker: A male, in his 20s, surviving the harsh apocalyptic earth. A pragmatic person who dislikes when
        his ritual is interrupted, he is trying hard to find peace with his inevitable fate before his time comes.</p>
</div>
<div class="action">
  <p>Theresa Pollock: A female, in her late 20s, surviving the harsh apocalyptic earth. A usually cheerful
        extroverted person beaten down by the wall of reality, she is struggling to accept her inevitable fate before
        her time comes.</p>
</div>
<div class="action">
  <p>Gerry: A male in his early 30s. Theresa&#39;s boyfriend. He is similarly extroverted as Theresa and likes to
        talk about various topics. On the outside, he gives off the vibe that he has not given up yet, but on the
        inside, he is terrified of being alone at the end of the world, or when the time comes.</p>
</div>
<div class="action">
  <p>Jessie Parker: A female teenager, sister of Ruben Parker. She was staying over with her older brother in the
        early days when disaster struck the moon but left early to be with their parents. She is headstrong in her own
        beliefs and clashes over often with her brother's pragmatic nature.</p>
</div>
<div class="action centered">
  <p>DISCLAIMER</p>
</div>
<div class="action">
  <p>This story is set in a universe of a series called &quot;Don&#39;t Escape&quot;, specifically the fourth game
        &quot;Don&#39;t Escape 4&quot;. There will be unexplained things that are explicit references to that game, so I
        am sorry in advance if things are confusing.</p>
</div>
<div class="dialog centered">
  <p>SCENE 1</p>
  <p>SETTING: A bench in an abandoned park, messy, dirty, and filled with debris.</p>
</div>
<div class="action">
  <p>A lone bench appears with RUBEN PARKER and THERESA POLLOCK sitting on it. RUBEN is closing his eyes in a
        meditative state while THERESA sits beside him.</p>
</div>
<div class="action">
  <p>The entire world seems to rumble in this low tone as if something is coming down hard. The skies are red as the
        fractured MOON is heading down toward Earth like a supercharged meteor.</p>
</div>
<div class="action">
  <p>THERESA is fiddling with her thumbs awkwardly, looking up into the sky, blue with a tinge of flaming red across
        them, before she speaks up.</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>How can the end of the world look so&#8230; beautiful?</p>
</div>
<div class="action">
  <p>RUBEN is opening his eyes, but he is not responding. Theresa poked Ruben in the cheek.</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>Hey, Ben, what do you think?</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p class="parenthetical">(annoyed)</p>
  <p>What do I think about what?</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>The skies. How can it look so beautiful even though it's supposed to destroy us?</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p class="parenthetical">(looking up, thoughtful)</p>
  <p>Beauty exists both in creation and destruction.</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p class="parenthetical">(chuckles)</p>
  <p>Oooh, wise words.</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p>What can I say? The end of the world brings out the artistic side in me.</p>
</div>
<div class="action">
  <p>RUBEN closes his eyes again before THERESA pokes him in the shoulder this time.</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>Say, how about we do something-</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p class="parenthetical">(interrupting)</p>
  <p>Dammit! Okay, Tess, we agreed on not talking for about 15 minutes.</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>Whoa, okay. Ben, it's the end of the world. No time to spare. Why can't we talk for a second?</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p>I was trying to find some peace.</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>Peace can be found within each other.</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p class="parenthetical">(mocking)</p>
  <p>Oooh, wise words.</p>
</div>
<div class="action">
  <p>A beat as they looked at each other before Theresa chuckled again, and Ruben reluctantly joined in her delight.
  </p>
</div>
<div class="dialog centered">
  <p>SCENE 2</p>
  <p>SETTING: The same bench in an abandoned park, but only Ruben is sitting this time.</p>
</div>
<div class="action">
  <p>RUBEN sat by himself on the bench about an hour before the previous conversation. He is meditating.</p>
</div>
<div class="action">
  <p>A female survivor, THERESA, approached him, looking around the park. She looked confused at the meditating man
        before attempting to sit next to him. RUBEN opened his eyes and turned to look at THERESA incredulously.</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p>Can I&#8230; help you?</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p class="parenthetical">(embarrassed)</p>
  <p>Oh! Hello! I&#39;m sorry if I&#39;m bothering you&#8230; Can I sit here?</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p class="parenthetical">(taken aback)</p>
  <p>Sure, be my guest.</p>
</div>
<div class="action">
  <p>THERESA takes a seat beside RUBEN, awkwardly gazing around before facing him. RUBEN is looking down, also
        awkward. A minute passed before THERESA started talking.</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p class="parenthetical">(fiddling thumbs)</p>
  <p>So&#8230; do you live around here?</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p>Yeah, I lived there.</p>
</div>
<div class="action">
  <p>RUBEN pointed to a nearby building that looked like a dilapidated apartment building.</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p class="parenthetical">(incredulous)</p>
  <p>Have you been holed up in there all this time?</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p class="parenthetical">(small awkward chuckle)</p>
  <p>Yeah&#8230; everywhere else is too dangerous for me, so I holed up there, well&#8230; until today. I heard
        other places have giant spiders and poisonous gas&#8230;</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p class="parenthetical">(grimace)</p>
  <p>Yeah&#8230; that&#39;s right. I saw them nearby, didn&#39;t come this way though.</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p class="parenthetical">(sighed)</p>
  <p>That&#39;s a relief. I would rather die because of that instead of spiders&#8230;</p>
</div>
<div class="action">
  <p>RUBEN pointed to the red skies, the moon breaking and falling towards the earth.</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p class="parenthetical">(cont&#39;d)</p>
  <p>&#8230;seems like that would be a more peaceful end, don&#39;t you think?</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p class="parenthetical">(pause, frowning)</p>
  <p>No&#8230; but anyway, let&#39;s not talk about it. How about this, instead&#8230; what series do you wish had
        an ending before all of this happened?</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p class="parenthetical">(thinking)</p>
  <p>Oh? I mean, there&#39;s this fantasy series that I was reading that I wish I could live to see the
        ending&#8230; what about you? Uhm, I am Ben, by the way.</p>
</div>
<div class="action">
  <p>RUBEN offered his hand to a surprised THERESA.</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p class="parenthetical">(embarrassed)</p>
  <p>Oh! Sorry, forgot to introduce myself&#8230; I&#39;m Tess.</p>
</div>
<div class="action">
  <p>THERESA takes RUBEN&#39;s hand and shakes it.</p>
</div>
<div class="dialog centered">
  <p>SCENE 3</p>
  <p>SETTING: The same bench in the abandoned park, continuing just after both RUBEN and THERESA chuckled.</p>
</div>
<div class="action">
  <p>RUBEN and THERESA sit on the bench and breathe after chuckling hard. The same low rumbling tone can still be
        heard, and it seems to intensify somehow.</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p>But seriously, Tess, I did say fifteen minutes. It&#39;s barely five minutes.</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>Sorry! It&#39;s just&#8230; I can&#39;t stand the silence, cause all I would hear is the rumbling&#8230;</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p>Ah&#8230; I see. I&#39;m sorry, it&#39;s just, that I need the time to charge sometimes after our discussions.
  </p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>Even when it&#39;s only about books and movies?</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p class="parenthetical">(sighed)</p>
  <p>Yeah. Just&#8230; a personal quirk of mine I guess.</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p class="parenthetical">(dejected)</p>
  <p>Oh&#8230;</p>
</div>
<div class="action">
  <p>THERESA then stops talking for a second, frowning to herself as she looks down. RUBEN turned to look at her
        with a sad look as if it wasn&#39;t his intention to bring down the mood. A moment passed before RUBEN started
        speaking up again.</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p>Before&#8230; I&#39;ve told you about where I live&#39; how about you, Tess? Where did you come from?</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p class="parenthetical">(surprised)</p>
  <p>Oh, I lived off the coast.</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p class="parenthetical">(flabbergasted)</p>
  <p>The coast?! That&#39;s&#8230; that&#39;s pretty far.</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>Yeah&#8230; we traveled for quite some time&#8230; through the ruined worlds, dodging storms and bandits.</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p>Wait, wait, bandits? We?</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>We&#8230; yeah. It used to be two of us, me and my boyfriend.</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p>Oh&#8230; I'm sorry.</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p class="parenthetical">(sighed)</p>
  <p>Yeah&#8230;</p>
</div>
<div class="action">
  <p>The silence descends again on the pair as the skies burn, and the rumbling of the falling moon continues on and
        on.</p>
</div>
<div class="dialog centered">
  <p>SCENE 4</p>
  <p>SETTING: A camp somewhere in the desert at night.</p>
</div>
<div class="action">
  <p>Inside the tent are THERESA and GERRY, cuddling each other not only because they want to do it but because they
        have to due to the unnatural cold around them. GERRY is the big spoon, while THERESA is the little spoon.</p>
</div>
<div class="dialog">
  <p class="character">GERRY</p>
  <p>Talk about a novel experience, eh?</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p class="parenthetical">(giggling, sarcastic)</p>
  <p>Really? How so?</p>
</div>
<div class="dialog">
  <p class="character">GERRY</p>
  <p>We&#39;re sleeping in a tent, in a desert that wasn&#39;t here three years ago cause the moon is falling on our
        asses, and we have to cuddle just so that we won&#39;t die. A desert!</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>You do know that it always has been, right? They can get that cold even before!</p>
</div>
<div class="dialog">
  <p class="character">GERRY</p>
  <p>Not so much that we have to cuddle, though.</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p class="parenthetical">(teasing)</p>
  <p>Oh? So now you&#39;re complaining?</p>
</div>
<div class="dialog">
  <p class="character">GERRY</p>
  <p class="parenthetical">(smirking)</p>
  <p>I mean&#8230; not really.</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p class="parenthetical">(chuckled)</p>
  <p>Of course&#8230; Gerry, you big ol&#39; softy.</p>
</div>
<div class="dialog">
  <p class="character">GERRY</p>
  <p>Theresa Pollock, need I remind you that I&#39;m the big spoon now?</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>Only because I was tired of being the big spoon, dum-dum.</p>
</div>
<div class="action">
  <p>The couple chuckled together before they huddled even closer and shared the warmth they needed to survive. A
        few minutes of peaceful silence passed before Gerry piped up.</p>
</div>
<div class="dialog">
  <p class="character">GERRY</p>
  <p>Have you ever had a De&#769;ja&#768; vu dream before, Tess?</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>De&#769;ja&#768; vu dream? Do you mean like&#8230; when you dream of things that later on happened?</p>
</div>
<div class="dialog">
  <p class="character">GERRY</p>
  <p>Yeah.</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p class="parenthetical">(blushing)</p>
  <p>If&#8230; if you want me to be honest, Gerry, I&#39;ve dreamed of this moment the night before&#8230; both of
        us cuddling in a tent&#8230; Why are you asking?</p>
</div>
<div class="dialog">
  <p class="character">GERRY</p>
  <p class="parenthetical">(shivering)</p>
  <p>Well&#8230; I&#39;ve been dreaming of something else.</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>What is it?</p>
</div>
<div class="dialog">
  <p class="character">GERRY</p>
  <p>Just&#8230; some stuff. A paralysis demon, I think, and&#8230; people in bikes chasing both of us.</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>People in bikes? Gangs?</p>
</div>
<div class="dialog">
  <p class="character">GERRY</p>
  <p class="parenthetical">(hugs Theresa tighter, whispering)</p>
  <p>I think so&#8230; I&#39;m scared that it&#39;s our future, Tess. I&#39;ve also dreamt things that&#8230; I am
        sure is going to happen again and again.</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>Is this&#8230; is this the reason why you have us constantly moving? Ever since what happened on the coast?</p>
</div>
<div class="dialog">
  <p class="character">GERRY</p>
  <p class="parenthetical">(nods)</p>
  <p>Yeah, the acid rain. I dreamt about it too&#8230; and the storms, the earthquake.</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>Gerry, why haven&#39;t you told me about this?</p>
</div>
<div class="dialog">
  <p class="character">GERRY</p>
  <p class="parenthetical">(nervous chuckle)</p>
  <p>I mean do you hear what I&#39;m saying, babe? I managed to maneuver our way through calamities that would kill
        us both because I dreamt about it? It just sounds like I&#39;m losing it.</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>Gerry&#8230;</p>
</div>
<div class="dialog">
  <p class="character">GERRY</p>
  <p>It would just sound like someone is rationalizing over how they survive in this fucked-up world, Tess. I
        don&#39;t want you&#8230; to think that I&#39;m gone over, sanity-wise.</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>Hey! You didn&#39;t think that I would abandon you if you suddenly started losing it, right?</p>
</div>
<div class="dialog">
  <p class="character">GERRY</p>
  <p class="parenthetical">(hesitant)</p>
  <p>Maybe&#8230;</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p class="parenthetical">(turned around, almost in tears)</p>
  <p>Babe, I would never do that! We&#39;ve literally been through thick and thin, way before all of this craziness
        starts, and even after. I would be daft and stupid to let that go because of something like this&#8230;</p>
</div>
<div class="action">
  <p>THERESA holds GERRY&#39;s cheek with her hands and gives him a sweet kiss on the tip of his nose, her eyes
        slightly watering. A surprised GERRY looked at THERESA and finally smiled. They both held their gaze at each
        other&#39;s eyes for a few seconds before GERRY broke the silence.</p>
</div>
<div class="dialog">
  <p class="character">GERRY</p>
  <p>Before this&#8230; Tess, do you remember that one time I got in trouble because I touched a statue in that
        museum?</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p class="parenthetical">(giggled)</p>
  <p>Yeah! I still can&#39;t believe the guard just ate that lie straight up. You don&#39;t look blind at all! Oh,
        how about when you almost got into that crazy bar fight with some karate dudebros?</p>
</div>
<div class="dialog">
  <p class="character">GERRY</p>
  <p class="parenthetical">(playfully annoyed)</p>
  <p>They were fighting against each other, but one just decked me by accident! I ain&#39;t letting that one go,
        that punch still hurts like hell.</p>
</div>
<div class="action">
  <p>The scene then slowly fades away as they both reminisce over the shenanigans they had before the apocalypse,
        talking way into the night, before finally sleeping in each other&#39;s embraces.</p>
</div>
<div class="dialog centered">
  <p>SCENE 5</p>
  <p>SETTING: The same bench in the abandoned park.</p>
</div>
<div class="action">
  <p>RUBEN and THERESA looked up to the approaching moon, broken in two. The rumblings were now steady, amounting to
        a background noise that filled in the silence. THERESA again broke the awkward silence.</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>Have you ever had a dream, Ben? A dream that later on became real?</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p class="parenthetical">(unsure)</p>
  <p>I&#8230; might have. Why?</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>I&#39;ve been thinking about it. Dreams, this apocalypse, all the disaster that I managed to evade&#8230;
        together with my boyfriend&#8230; what if it&#39;s not just a survival instinct, or my mind coping with the
        current state of the world? What if it&#39;s something else entirely?</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p>It&#39;s still just dreams, Theresa.</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p class="parenthetical">(crazed)</p>
  <p>I know! But&#8230; it all felt so&#8230; real! Did you know that I dreamt of my boyfriend dying in my arms? I
        dreamt of it, and it did happen! I&#8230; It&#39;s just&#8230;</p>
</div>
<div class="action">
  <p>RUBEN then pats THERESA&#39;s shoulder in an attempt to calm her down.</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p>Tess&#8230; calm down. Breathe with me&#8230;</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>No, Ruben&#8230; it has to be something more&#8230; why else would I dream&#8230; about that? About&#8230; all
        the disasters and how I die in them?</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p>It&#39;s just dreams, Tess. It&#39;s not some kind of vision for the future. You can&#39;t determine the future
        that way, you just can&#39;t!</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>Why can&#39;t it be? Why, Ruben?</p>
</div>
<div class="action">
  <p>RUBEN looks at THERESA, whose eyes are wild as her sanity slips.</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p class="parenthetical">(calm)</p>
  <p>If that&#39;s the case, then my sister would still be alive.</p>
</div>
<div class="action">
  <p>RUBEN then looks away, as if remembering something. THERESA looks back at him, suddenly sobering up from his
        words, and the world seems to blur away.</p>
</div>
<div class="dialog centered">
  <p>SCENE 6</p>
  <p>SETTING: An apartment bedroom, in the early days when disaster struck.</p>
</div>
<div class="action">
  <p>A single backpack is currently filled to the brim with supplies and some clothes by a teenage girl, JESSIE. Her
        brother, RUBEN, is pacing around her, attempting to change her mind.</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p>Jess, I&#39;m telling you, it&#39;s just a dream!</p>
</div>
<div class="dialog">
  <p class="character">JESSIE</p>
  <p>It&#39;s not just a dream, Ben! They&#39;re going to die unless we get there and save them!</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p>We can&#39;t get there in time! Didn&#39;t you see the news? The traffic? It&#39;s going to be hell trying to
        get there!</p>
</div>
<div class="dialog">
  <p class="character">JESSIE</p>
  <p>It&#39;s not going to be as packed as the road out of the city and you know it. They&#39;re only busy trying to
        escape, to wherever the heck that&#39;s safe around here, they&#39;re not going back in.</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p>Jessie, please! We&#39;ve talked to them! Mom, Dad! They&#39;ll stay there if it&#39;s the last thing they do!
  </p>
</div>
<div class="dialog">
  <p class="character">JESSIE</p>
  <p class="parenthetical">(tears)</p>
  <p>Ben, please! Stop! Do you think I don&#39;t know that? Do you think that I&#39;m just dreaming all of this
        because they are saying that? Just rationalizing myself so that I can try to save them? I know, okay? I know
        they won&#39;t budge. I just&#8230; I&#8230; want to try one last time. Please, just let me go.</p>
</div>
<div class="action">
  <p>JESSIE then broke down in tears as RUBEN held her close for a few minutes, waiting for her to settle down. The
        entire world seemed to panic in the background, with sounds of people screaming, preparing themselves for the
        end, and even sounds of gunshots, but they held each other still.</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p>I would be a pretty shitty big bro if I let you go back alone, Jess.</p>
</div>
<div class="dialog">
  <p class="character">JESSIE</p>
  <p>Yeah, you would. In fact, you already are a shitty big bro, trying to hold me off from doing this.</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p class="parenthetical">(interrupted)</p>
  <p>Well, it&#39;s not like I&#39;ll let you drive there by yourself with all that traffic. You&#39;d probably
        crash the car before you even get th-</p>
</div>
<div class="action">
  <p>JESSIE slaps RUBEN with the clothes she&#39;s trying to pack in, eyeing him viciously, and RUBEN laughed.</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p class="parenthetical">(chuckled)</p>
  <p>Kidding. I think Mom and Dad would probably get a heart attack if they knew you drove all the way there all by
        yourself.</p>
</div>
<div class="dialog">
  <p class="character">JESSIE</p>
  <p>Not funny, Ben!</p>
</div>
<div class="action">
  <p>JESSIE slaps RUBEN with her hand this time, on his shoulder, as he tries to dodge in vain. He snickered as he
        helped her pack supplies on their journey, and the scene faded away.</p>
</div>
<div class="dialog centered">
  <p>SCENE 7</p>
  <p>SETTING: The same bench in the abandoned park.</p>
</div>
<div class="action">
  <p>RUBEN sits on the bench, his eyes glazing over, his hand shaking. THERESA looked at him, worried. The world
        itself seems to shake along with RUBEN, the fiery death watching over them inevitably.</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>Ben?</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p class="parenthetical">(unfocused)</p>
  <p>Didn&#39;t even make it in time to leave, an earthquake splits open the road. Then she&#8230; she kept dreaming
        of seeing herself dying. I kept trying, and trying to take her mind off of it&#8230; didn&#39;t work.</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p class="parenthetical">(scared)</p>
  <p>Ben&#8230; talk to me. Please&#8230;</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p class="parenthetical">(grim chuckle)</p>
  <p>You&#39;re not the only one who dreamt of seeing your loved ones dying in your arms, Tess. Happened to me too.
        That&#39;s why&#8230; that is why I don&#39;t want to believe that it&#39;s the future, even if&#8230; in the
        end, I made my choices based on it.</p>
</div>
<div class="action">
  <p>THERESA then grabbed RUBEN&#39;s shaking hand. RUBEN finally looked up and met her gaze as his shaking hands
        slowly stopped. They stayed like that for some time, holding each other&#39;s hands, before they were
        interrupted by a booming sound.</p>
</div>
<div class="action">
  <p>Both of them look at the source of the sound, somewhere behind all the buildings. A streak of light, like a
        reverse shooting star, shoots its way up&#8212;a rocket, a full-fledged rocket&#8212;heading into the
        stratosphere, aiming for the moon.</p>
</div>
<div class="action">
  <p>The pair look at each other before laughing. They were losing it, and the sight managed to make RUBEN finally
        speak up, changing the topic into a much more light-hearted one.</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p>What do you do before all of this, Tess?</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p class="parenthetical">(taken aback)</p>
  <p>I&#8230; I was an intern at this company. Sidereal Plexus. What about you?</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p>Just an amateur writer&#8230; working on temporary jobs&#8230; at least until I get published. How was the
        company?</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>Well&#8230; they&#39;re secretive about the stuff they do, I was under orders to do&#8230; well, you know,
        interns stuff. Slaves, basically.</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p class="parenthetical">(snickered)</p>
  <p>At least your pay&#39;s good&#8230; right?</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>Yeah&#8230; still enough for me to endure the crap I was given, at least. How about you? What kind of book
        you&#39;re writing?</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p>You know that series I told you I want to see finished? I&#8230; I was talking about my own.</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>Oh? What is it about?</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p>It was about an apocalypse, much like this one, just in a fantasy world.</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>You kidding me?</p>
</div>
<div class="action">
  <p>THERESA and RUBEN continued their idle chatting for a while, still holding hands, as the world disintegrated
        around them. The temperature warms up as the moon starts to enter the atmosphere. The rumble turns up to eleven
        as the sky burns and the celestial body creates friction with the atmosphere.</p>
</div>
<div class="action">
  <p>They now move closer, embracing each other, their words but a whisper.</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p>What&#8230; what would you do if you were given another chance, Tess? To live in a world where none of this
        happened?</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>I&#39;d probably&#8230; make more memories with everyone I love&#8230; how about you?</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p>I&#39;d spend less on my own and more time with Jess&#8230; my mom and dad&#8230; perhaps if I was given time,
        I might spend it to find&#8230; the one for me, too.</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>Jess&#8230; your sister?</p>
</div>
<div class="action">
  <p>RUBEN silently nods.</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>Yeah&#8230; I would savor the time I have with Gerry&#8230;</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p>Your boyfriend?</p>
</div>
<div class="action">
  <p>THERESA also silently nods.</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>Ben, in that&#8230; hypothetical world&#8230; would you like to have an annoying friend who might or might not
        be able to introduce you to someone?</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p>Does this&#8230; annoying friend happen to have someone that would be perfect for me?</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>She has a lot of friends, so&#8230; could be.</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p class="parenthetical">(chuckled)</p>
  <p>Then I would love to meet her, whoever she was. Perhaps she can make that version of me go out more instead of
        sticking in his apartment, like the gremlin that he is.</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>Yeah&#8230; perhaps she can learn a thing or two from him too, about when to speak and when to let the silence
        go on.</p>
</div>
<div class="action">
  <p>THERESA laughed, and RUBEN joined her. The world heats up, even more, almost everything is now red even on the
        ground. Amidst the searing pain, RUBEN speaks.</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p>Tess&#8230; how did you even get here in the first place and&#8230; found me?</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>Heh&#8230; you wouldn&#39;t believe it but&#8230; I dreamed about it. The park, the bench. The lone man sitting
        on it.</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p class="parenthetical">(interrupted)</p>
  <p>Are you kiddin-</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>Just accept it, Ben. It&#39;s real. I wouldn&#39;t lie to you, not right now, at least.</p>
</div>
<div class="action">
  <p>RUBEN grumbled slightly before nodding, and THERESA chuckled.</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>Thank you, though, Ben.</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p>For what?</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>For making the end of it all&#8230; a lot less daunting than it should&#39;ve been.</p>
</div>
<div class="dialog">
  <p class="character">RUBEN</p>
  <p>Heh&#8230; you&#39;re welcome. Thank you too, Tess&#8230; for being here with me, and finding me. Turns out
        it&#39;s a lot more&#8230; peaceful than being alone.</p>
</div>
<div class="action">
  <p>Then everything went red. Nothing left remains.</p>
</div>
<div class="dialog centered">
  <p>SCENE 8</p>
  <p>SETTING: Starbucks, with people queueing.</p>
</div>
<div class="action">
  <p>RUBEN is sitting in a stall near the door, his laptop on the table. He is currently sleeping, leaning on his
        hand as his laptop continues running.</p>
</div>
<div class="action">
  <p>RUBEN wakes up suddenly, startled at the phantom pain and the scenes he had in his head. A dream that felt so
        real&#8230; his hand shaking, he looked at his laptop. A blinking line, waiting for him to type in the words he
        is currently stringing along in his brain. The door then suddenly opened up by a woman, THERESA, on her phone,
        talking to someone. RUBEN turns to look.</p>
</div>
<div class="dialog">
  <p class="character">THERESA</p>
  <p>Babe, okay, I know. She can be a little bit much&#8230; what if I take her on a night out&#8230; tonight? Take
        her off your plate, hmm?</p>
</div>
<div class="action">
  <p>RUBEN then smiled silently.</p>
</div>
<div class="action centered">
  <p>THE END</p>
</div>