<header class="site-header" role="banner">
    <div class="site-header__container">
        <div class="site-header__left">
            <h3><strong>AlwaysNever <br>Website@11ty</strong></h3>
        </div>
        <div class="site-header__right">
            {% include "navigation.njk" %}
        </div>
    </div>
</header>
