<header class="site-header" role="banner">
    <div class="site-header__container">
        <div class="site-header__left">
            <h2><strong>AlwaysNever Website@11ty</strong></h2>
        </div>
        <div class="site-header__right">
            {% include "navigation.njk" %}
        </div>
    </div>
</header>
