---
title: Summer Break 2025
---

        <section>
            <p>This Summer (or rather, starting earlier in Spring but continuing to Summer), I went ahead and assembled the most ambitious choices since Winter 2024 Contracts; an Anime-filled Marathon.</p>

            <p>As of this writing (August 23rd, 2025), starting from the moment Spring anime season begin in early April 2025, I've begun all of these series and continue to watch it until present times:</p>

            <ul>
                <li>
                    Spring 2025
                    <ul>
                        <li><i><a href="https://anilist.co/anime/181078/Bye-Bye-Earth-Season-2/">Bye Bye, Earth Season 2</a></i></li>
                        <li><i><a href="https://anilist.co/anime/153554/Danjo-no-Yuujou-wa-Seiritsu-suru-Iya-Shinai/">Danjo no Yuujou wa Seiritsu suru? (Iya, Shinai!!)</a></i> (Danjoru) (avoid this btw, this SUCKS)</li>
                        <li><i><a href="https://anilist.co/anime/180675/Apocalypse-Hotel/">Apocalypse Hotel</a></i> (hidden gems)</li>
                        <li><i><a href="https://anilist.co/anime/180367/Witch-Watch/">Witch Watch</a></i></li>
                        <li><i><a href="">Summer Pockets</a></i> (Edit: I still haven't finished this... because I'm watching this with a group of friends using a very specific... "translation", and they're currently stalled at the last few episodes.)</li>
                        <li><i><a href="https://anilist.co/anime/178781/Sentai-Daishikkaku-2nd-Season/">Sentai Dashikkaku Season 2</a></i> (Ranger Reject)</li>
                    </ul>
                </li>
                <li>
                    Summer 2025
                    <ul>
                        <li><i><a href="https://anilist.co/anime/185407/Takopii-no-Genzai/">Takopii no Genzai</a></i> (Takopi's Original Sin) (Edit: I have watched three episodes of this but I have stalled progress for now.)</li>
                        <li><i><a href="https://anilist.co/anime/185660/Dandadan-2nd-Season/">Dandadan Season 2</a></i> (I even watched <a href="https://letterboxd.com/film/dan-da-dan-evil-eye/">the movie premiere</a> for this!)</li>
                        <li><i><a href="https://anilist.co/anime/177175/Arknights-Enshin-Shomei/">Arknights: Rise From Ember</a></i> (Arknights Season 3)</li>
                        <li><i><a href="https://anilist.co/anime/175914/Yofukashi-no-Uta-Season-2/">Yofukashi no Uta Season 2</a></i> (Call of the Night Season 2)</li>
                        <li><i><a href="https://anilist.co/anime/169420/Watarikun-no-xx-ga-Houkai-Sunzen/">Watari-kun no xx ga Houkai Sunzen</a></i> (Watari-kun's ****** Is About to Collapse) (THE DUMPSTER FIRE IS HEREEEEEEE) (Edit: Progress for this is also stalled.)</li>
                        <li><i><a href="https://anilist.co/anime/177761/9nine-Shihaisha-no-Oukan/">9-nine- Shihaisha no Oukan</a></i> (9-nine-: Ruler's Crown) (Edit: Progress for this is also stalled.)</li>
                        <li><i><a href="https://anilist.co/anime/171046/Seishun-Buta-Yarou-wa-Santa-Claus-no-Yume-wo-Minai/">Seishun Buta Yarou wa Santa Claus no Yume wo Minai</a></i> (Rascal Does Not Dream Season 2) (Edit: Progress for this is also stalled.)</li>
                        <li><i><a href="https://anilist.co/anime/154768/Sono-Bisque-Doll-wa-Koi-wo-Suru-Season-2/">Sono Bisque Doll wa Koi wo Suru Season 2</a></i> (My Dress Up Darling Season 2)</li>
                        <li><i><a href="https://anilist.co/anime/181444/Kaoru-Hana-wa-Rin-to-Saku/">Kaoru Hana wa Rin to Saku</a></i> (The Fragrant Flower Blooms With Dignity) (I am a manga reader for this... excited af)</li>
                        <li><i><a href="https://anilist.co/anime/180929/Ruri-no-Houseki/">Ruri no Houseki</a></i> (Ruri Rocks) (Quite literally a hidden gem)</li>
                        <li><i><a href="https://anilist.co/anime/184591/Watashi-ga-Koibito-ni-Nareru-Wake-Naijan-Murimuri-Muri-ja-Nakatta/">Watashi ga Koibito ni Nareru Wake Naijan, Murimuri! (※Muri ja Nakatta!?)</a></i> or <i>Watanare</i> (There's No Freaking Way I'll Be Your Lover! Unless...) (Edit: It has <a href="https://anilist.co/anime/199112/Watashi-ga-Koibito-ni-Nareru-Wake-Naijan-Murimuri-Muri-ja-Nakatta-Next-Shine/">a movie version continuation</a>!)</li>
                        <li><i><a href="https://anilist.co/anime/177689/Hikaru-ga-Shinda-Natsu/">Hikaru ga Shinda Natsu</a></i> (The Summer Hikaru Died) (I am temporarily dropping this tho) (Edit: I have dropped this for now.)</li>
                    </ul>
                </li>
                <li>
                    Non-seasonals
                    <ul>
                        <li><i><a href="https://anilist.co/anime/101310/Kishuku-Gakkou-no-Juliet/">Kishuku Gakkou no Juliet</a></i> (Boarding School Juliet)</li>
                        <li><i><a href="https://anilist.co/anime/21092/Rakudai-Kishi-no-Cavalry/">Rakudai Kishi no Cavalry</a></i> (Chivalry of a Failed Knight)</li>
                        <li><i><a href="https://anilist.co/anime/172258/Kimi-no-Koto-ga-Dai-Dai-Dai-Dai-Daisuki-na-100nin-no-Kanojo-2nd-Season/">Kimi no Koto ga Dai Dai Dai Dai Daisuki na 100-nin no Kanojo/Hyakkano Season 2</a></i> (100 Girlfriends Season 2)</a></i></li>
                        <li><i><a href="https://anilist.co/anime/178462/Class-no-Daikirai-na-Joshi-to-Kekkon-Suru-Koto-ni-Natta/">Class no Daikirai na Joshi to Kekkon Suru Koto ni Natta./Kurakon (I'm Getting Married to a Girl I Hate in My Class)</a></i></li>
                        <li><i><a href="https://anilist.co/anime/165171/Medalist/">Medalist</a></i></li>
                        <li><i><a href="https://anilist.co/anime/131565/takt-opDestiny/">takt op. Destiny</a></i> (I finally finished it!) (Edit: What I neglected to mention is that I somehow managed to not get spoiled on the LAST EPISODE TWIST on this. It was crazy.)</li>
                        <li><i><a href="https://anilist.co/anime/18245/WHITE-ALBUM-2/">White Album 2</a></i> (a certain someone finally managed to rope me into this!) (Edit: I have read the portion of the <a href="https://vndb.org/v7771">visual novel</a> that this anime is based on, and has continued reading past that as well, but the progress on that is currently stalled due to relating too hard to the story.)</li>
                        <li><i><a href="https://anilist.co/anime/170942/Ao-no-Hako/">Ao no Hako</a></i> (Blue Box) (I also finally finished this!)</li>
                        <li><i><a href="https://anilist.co/anime/3841/Chis-Sweet-Home/">Chi's Sweet Home</a></i> (I have this for the longest time in my hard drive for some reason) (Edit: Progress for this is also stalled.)</li>
                        <li><i><a href="https://anilist.co/anime/161645/Kusuriya-no-Hitorigoto/">Kusuriya no Hitorigoto</a></i> (The Apothecary Diaries) (I'm still not done with this) (Edit: Progress for this is also stalled.)</li>
                        <li><i><a href="https://anilist.co/anime/147103/Watashi-no-Shiawase-na-Kekkon/">Watashi no Shiawase na Kekkon</a></i> (My Happy Marriage) + <i><a href="https://anilist.co/anime/167486/Watashi-no-Shiawase-na-Katachi/">Watashi no Shiawase na Katachi</a></i> (OVA) (I also started <a href="https://anilist.co/anime/169441/Watashi-no-Shiawase-na-Kekkon-2nd-Season/">Season 2</a> for this anime!) (Edit: Progress for season 2 is stalled.)</li>
                    </ul>
                </li>
            </ul>

            <p>There's also innumerable amount of mangas (and LNs too!) that I'm currently reading. The amount that I'm currently reading is... a little bit too much for me to put in a single post, but I just want to showcase how MUCH ANIME I AM CONSUMING FOR THE PAST FEW MONTHS. This is not even counting the contracts anime (<i><a href="/reviews/2025/2025-05-11-operation-two-head/">86: Eighty Six</a></i>, <i><a href="/reviews/2025/2025-05-11-the-price-of-magic/">Madoka Magica</a></i>, <i><a href="/reviews/2025/2025-08-23-life-is-strange-special-victims-unit">Link Click</a></i>, <i><a href="/reviews/2025/2025-05-11-the-tunnel/">Tunnel to Summer</a></i>, <a href="/reviews/2025/2025-06-08-beater-the-other-side-guild-wars"><i>Sword Art Online Progressive</i> movies</a>) and... some other stuff I cannot mention here.</p>

            <p>"Summer Break" is a bit of a misnomer though, because... I'm still working as of this time. My initial expectation is that I will be free during this time, but... I am not. (Edit: I no longer work at that place.)</p>

            <p>And after this monster of a season, I signed up for something even bigger than this entire roster of Anime Marathon.</p>

            <p>In the upcoming <em>Contract Season X</em>... I signed up for <small><s>(almost)</s></small> EVERY SINGLE CONTRACT THAT ARE OFFERED.</p>

            <p><small><s>That one special is too scary for me to take. I'm already doing something crazy by taking everything here (that are not game contracts).</s> (Edit: I TOOK THAT SPECIAL TOO! I TOOK <em>EVERYTHING</em>!)</small></p>

            <p>Base Contract. Challenge Contract. Veteran Special (Path of Peak). Duality Special (Yang Path). Epoch Special (Path of Progeny). Honzuki Special (Path of the Novelist). Buddy Special. Aid Parade. (Edit: AND ARCANA SPECIAL TOO! YOU KNOW WHICH ONE I GET? PERSONA 5 ROYAL! I AM PLAYING PERSONA, <em>FINALLY!</em>)</p>

            <p>That's <s>eight</s> NINE contracts that I signed up for. One of these will be a light novel. Most of these will be mangas. Aid Parade can be anything.</p>

            <p>I will not waver. I am already sure this will be my last time ever doing contracts, because there is no way I will complete every single thing that I signed up for.</p>

            <p>I don't have fighting words. I have no promises. ESPECIALLY since recently I started some new gacha games, and some hidden stuff that I cannot divulge just yet. <s>I also have a goal to pass JLPT N4.</s> (Edit: Not feasible anymore.) I also also need to finish some stuff regarding my college (I am graduating this November!).</p>

            <p>This has been quite the summer indeed.</p>
            
            <p>Or rather... I cannot believe what a year this has been.</p>
        </section>