---
layout: empty
title: Monarch
font: merriweather
---

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monarch</title>

    {% include "meta.njk" %}
    <link rel="stylesheet" href="/assets/css/main.scss">
    <link rel="preload" href="/assets/fonts/merriweather/merriweather-v33-latin-regular.woff2" as="font" type="font/woff2">
</head>

<body class="container">
    <header>
        <nav>
            <span>
                <form action="/fiction/">
                    <input type="submit" value="Back" />
                </form>
            </span>
            <span>
                <button type="button" data-theme-toggle aria-label="Change to light theme"
                    class="theme_toggle light-theme" style="float: right;"></button>
            </span>
        </nav>
    </header>
    <main class="merriweather-regular">
        <p><img src="/assets/icons/butterfly.svg"
                alt="Butterfly icon by Evan MacDonald (The Noun Project)"
                style="display: block; margin-left: auto; margin-right: auto;" width="40px" class="filter"></p>
        <p>Jump.</p>
        <p>What am I still thinking about? Just jump.</p>
        <p>Not even this beautiful view from the top of the building will change my mind, not even the yellow butterfly
            that perched on the edge of the building will make me stop.</p>
        <p>I had made up my mind way before I climbed to the roof of this building. Way before my breakdown.</p>
        <p>Right after I heard the news.</p>
        <p>In another public fight, another block of the city was destroyed. It has been only a few weeks since the
            public revealing of the powers that have spread, more than a year since the winged guy exposed himself to
            the world, and the rates of destroyed buildings have risen exponentially.</p>
        <p>Lots of death nowadays, and funeral parlors are practically thriving.</p>
        <p>The winged guy fought his nemesis, the armed man, a few days ago, and that brought down a building. My mother
            and father lived there.</p>
        <p>That's not the news that brought me to this spot.</p>
        <p>Another fight happened and brought down another building. A university dorm. All my friends lived there.</p>
        <p>That's also not the news that brought me to this spot.</p>
        <p>A building right in the center of the city, a prime spot for another wanton destruction to hit, and yet she
            didn't budge when I told her to move with me.</p>
        <p>And I have to watch her being taken out of the rubble of that building.</p>
        <p>To say that drove me to the edge is too underwhelming. I was ready to just drop down and find any sharp
            things to just slash at my artery and bleed out on the spot. To seep out all my sorrows, to drown in my own
            blood.</p>
        <p>And now I can just jump, right? Jump, and in a few seconds, I'll be free of this painless shriek of agony
            that I've been struggling to hold.</p>
        <p>But I'm not a brave person. So I didn't jump.</p>
        <p>I just stepped off the building instead.</p>
        <p>I felt the winds flapping this hard before when I tried to go 100 km/h on my motorcycle on an empty road. It
            was actually quite thrilling, but I can't say the same about this. My entire body's instinct is to flap
            around, panicking.</p>
        <p>I started regretting what I had just done by the time I reached half of the building's height, gut feeling
            says. My mind desperately wanted to live, but what do I have to live for?</p>
        <p>Nobody.</p>
        <p>I reached the ground and expected a crunch, pitch black darkness to greet my consciousness and all my
            thoughts to go into nothingness. Instead, I opened my eyes and saw the building from which I just jumped
            off, in all its glory, from beneath it.</p>
        <p>I didn't die. I jumped off a building and didn't die.</p>
        <p>I wanted to scream about how I just got denied my only chance to take away all of my pain, but I was
            approached by a person.</p>
        <p>"Are you okay?"</p>
        <p>It was a woman in a regular employee outfit. She looked surprised and worried, and so did dozens of people
            around the building. I think I saw one on a phone already, probably calling emergency services.</p>
        <p>I sat up and answered, "No."</p>
        <p>"What? But..." she replied, cutting off before she could finish the sentence because I stood <br />up and
            walked towards the building again. I felt a hand on my shoulder.</p>
        <p>"Don't," she said.</p>
        <p>"Why the hell not?"</p>
        <p>"I know it felt like it's all gone wrong and there's nothing you could do, but-"</p>
        <p>"But what? BUT FREAKING WHAT?" I screamed at her and cut off her clich&eacute;d attempt to make me feel
            better.</p>
        <p>"DO YOU KNOW WHAT IT'S LIKE TO WAKE UP ONE DAY TO HEAR THAT THE ONLY TIES YOU HAVE TO THIS WORLD HAVE BEEN
            SEVERED? DO YOU KNOW HOW TO LIVE WITH ALL THIS PAIN AND ON THIS <br />FUCKED UP WORLD?"</p>
        <p>"Please, tell me if you do, because only then I'll stop whatever I'm doing."</p>
        <p>I hear nothing, so I stepped inside. I climbed the building and faced the same view I had just seen a few
            moments ago.</p>
        <p>Jump.</p>
        <p>What am I still thinking about? Just jump.</p>
        <p>Not even this beautiful view from the top of the building will change my mind, not even the yellow butterfly
            that perched on the edge of the building will make me stop.</p>
        <p><img src="/assets/icons/butterfly.svg"
                alt="Butterfly icon by Evan MacDonald (The Noun Project)"
                style="display: block; margin-left: auto; margin-right: auto;" width="40px" class="filter"></p>
        <p>Each time I saw him jump and die, and scream, and go back again, I felt like I wanted to die with him.</p>
        <p>The device that I have set can last forever, and I'll spend each piece of this infinity to bring him back
            with me.</p>
        <p>He can feel like he has lost everything, but he didn't know that he was my everything. I lost my parents way
            before the public revelations of the powers. I only have my sister left.</p>
        <p>We survived together into our adulthood. My sister and I worked together to support each <br />other. We
            depended on each other.</p>
        <p>He was always my everything since the day I met him in the building where I worked. He was a guest, I was a
            bartender. He ordered a drink and led some small talk with me. We clicked instantly and decided to trade
            phone numbers. He and I hung out afterwards, but we never progressed into dating. It's always just friends.
        </p>
        <p>I don't know when it changed, but one day he visited my apartment.</p>
        <p>My sister introduced herself to him, and I thought nothing of it. But suddenly, a few weeks afterwards,
            during an awkward dinner, my sister announced that he had asked her to be his girlfriend.</p>
        <p>Even though I didn't even tell her that I liked him, she still knew that I might've had feelings for him.
            It's hard to hate her when she does that guilty, embarrassing face.</p>
        <p>I woke up crying the next day. Repressed feelings sometimes came out in the most unexpected ways.</p>
        <p>I didn't recognise the feelings I had.</p>
        <p>I was an idiot. But I'm still glad that he became my sister's boyfriend.</p>
        <p>He was the reason why she stopped self-harming after she had major depression, a thing I only realized after
            he told me about it when we hung out. He's the reason why she became happy all the time, instead of only at
            certain times.</p>
        <p>When his parents died in another building crash, I was the first to be there to cheer him up.</p>
        <p>My sister came after me.</p>
        <p>To see him break down at the rubble in which my sister was retrieved, I cried with him.</p>
        <p>When I heard that someone jumped from a building, I didn't think that it could be him. I just left his
            apartment after I was convinced by him that he is okay.</p>
        <p>I still can't forgive myself for leaving him alone like that.</p>
        <p>I almost broke down as he did after the rubble when I saw his demise, but I didn't. I know a <br />way to
            save him. A device that can loop time infinitely, so long as it is never longer than 10 minutes for each
            loop.</p>
        <p>It was a different world now. Things like this used to be so unthinkable, so impossible. Then a guy with
            wings appeared, and now everything seems to be possible.</p>
        <p>Powers that used to belong only in fantasy are now reachable for me.</p>
        <p>And I'll never leave until he realizes that his life is precious.</p>
        <p><img src="/assets/icons/butterfly.svg"
                alt="Butterfly icon by Evan MacDonald (The Noun Project)"
                style="display: block; margin-left: auto; margin-right: auto;" width="40px" class="filter"></p>
        <p>A butterfly flew its way through time, landing each time on the edge of the building.</p>
        <p>He was depressed, she was determined. A beautifully tragic pattern. The butterfly can't judge; it was there
            just as a clue. As an anchor to the looping space and time, as the one that brings stabilization to the
            dimensions.</p>
    </main>
    {% include "footer.njk" %}

    <script type="module" src="{{ '/assets/js/main.js' | url }}"></script>
</body>