---
title: Spring Break 2024
---

        <section>
            <p>So... this is awkward.</p>

            <p>Yeah, for this Spring Season this year, I took a break from contracts. It almost felt voluntary to me, but really, it's because I didn't finish one contract, the hardest one out of my Winter 2024 Contract; <i>Darkest Dungeon</i>.</p>

            <p>And I don't think I'll ever finish the game.</p>

            <p>So I elected to stop playing the game voluntarily, and took the L with the contracts system. I got penalized as a result, so I cannot participate in this season's contracts.</p>

            <p>It's a bit sad, but I decided to actually up my game during this "spring break" that is presented to me, using this chance to actually spread my wings without the contracts whipping me to do it.</p>

            <p>Before this break even happened, I already started this process by finishing some series, but I just consistently up my effort as time goes on, and now that I'm unburdened by contracts, I was able to really focus in on the series that I'd like to read.</p>

            <p>And the result? As of this writing (August 3rd, 2024), starting from the moment I got penalized on April 8th, 2024, I've completed these series, ordering them from the time I finished them:</p>

            <ul>
                <li>Anime</li>
                <ul>
                    <li><i><a href="https://anilist.co/anime/166216/Boku-no-Kokoro-no-Yabai-Yatsu-2nd-Season/">Boku no Kokoro no Yabai Yatsu Season 2</a></i> (The Dangers in My Heart Season 2)</li>
                    <li><i><a href="https://anilist.co/anime/159831/Zom-100-Zombie-ni-Naru-Made-ni-Shitai-100-no-Koto/">Zom 100: Zombie ni Naru Made ni Shitai 100 no Koto</a></i> (Zom 100)</li>
                    <li><i><a href="https://anilist.co/anime/151807/Ore-dake-Level-Up-na-Ken/">Ore dake Level Up na Ken</a></i> (Solo Leveling)</li>
                    <li><i><a href="https://anilist.co/anime/132405/Sono-Bisque-Doll-wa-Koi-wo-Suru/">Sono Bisque Doll wa Koi wo Suru</a></i> (My Dress-Up Darling)</li>
                    <li><i><a href="https://anilist.co/anime/162694/Kimi-no-Koto-ga-Dai-Dai-Dai-Dai-Daisuki-na-100nin-no-Kanojo/">Kimi no Koto ga Dai Dai Dai Dai Daisuki na 100-nin no Kanojo/Hyakkano</a></i> (100 Girlfriends)</li>
                    <li><i><a href="https://anilist.co/anime/141821/Mato-Seihei-no-Slave/">Mato Seihei no Slave</a></i> (Chained Soldier)</li>
                    <li><i><a href="https://anilist.co/anime/127230/Chainsaw-Man/">Chainsaw Man</a></i></li>
                    <li><i><a href="https://anilist.co/anime/20997/Charlotte/">Charlotte</a></i></li>
                    <li><i><a href="https://anilist.co/anime/166828/Henjin-no-Salad-Bowl/">Henjin no Salad Bowl</a></i> (A Salad Bowl of Eccentrics)</li>
                    <li><i><a href="https://anilist.co/anime/158417/Sentai-Daishikkaku/">Sentai Daishikkaku</a></i> (Ranger Rejects)</li>
                    <li><i><a href="https://anilist.co/anime/158927/SPYFAMILY-Season-2/">Spy x Family Season 2</a></i></li>
                    <li><i><a href="https://anilist.co/anime/20694/Non-Non-Biyori-Repeat/">Non Non Biyori: Repeat</a></i> & <i><a href="https://anilist.co/anime/21585/Non-Non-Biyori-Repeat--Hotaru-ga-Tanoshinda/">Non Non Biyori: Repeat - Hotaru ga Tanoshinda</a></i></li>
                    <li><i><a href="https://anilist.co/anime/174788/Look-Back/">Look Back</a></i> (the movie)</li>
                </ul>
                <li>Manga</li>
                <ul>
                    <li><i><a href="https://anilist.co/manga/163754/Renai-Daikou/">Renai Daikou</a></i> (Love Agency... axed unfortunately)</li>
                    <li><i><a href="https://anilist.co/manga/136609/Ane-no-Shinyuu-Watashi-no-Koibito/">Ane no Shinyuu, Watashi no Koibito.</a></i></li>
                    <li><i><a href="https://anilist.co/manga/76282/Chikan-Otoko/">Chikan Otoko</a></i> (Molester Man... no, this is not sus, you should read it. I also read the 2ch thread!)</li>
                    <li><i><a href="https://anilist.co/manga/106983/Arasa-Dakedo-Hatsukoi-desu/">Arasa Dakedo, Hatsukoi desu.</a></i></li>
                    <li><i><a href="https://anilist.co/manga/98188/Akarui-Kioku-Soushitsu/">Akarui Kioku Soushitsu</a></i></li>
                    <li><i><a href="https://anilist.co/manga/103111/Senpai-ga-Uzai-Kouhai-no-Hanashi/">Senpai ga Uzai Kouhai no Hanashi</a></i> (My Senpai is Annoying... it's finally over)</li>
                </ul>
                <li>Mixed</li>
                <ul>
                    <li><i><a href="https://anilist.co/manga/97894/Imouto-sae-Ireba-Ii/">Imouto sae Ireba Ii/Imosae</a></i> (A Sister's All You Need, both LN and <a href="https://anilist.co/anime/98596/Imouto-sae-Ireba-Ii/">anime</a>!)</li>
                </ul>
            </ul>

            <p>There's also innumerable amount of animes and mangas (and LNs too!) that I'm currently reading that I haven't finished. Seasonal animes, mangas that has rotted in my PTR list, some LNs that I already downloaded years ago that I never finished.</p>

            <p>But now that the "spring break" is coming to a close, I'll potentially take a lighter load of Contracts this time so that it'll work in tune with my effort that I'm keeping up right now.</p>

            <p>And I promise, this time I will make a high-effort review. I've seen the effort people has done in this season and the previous alone for their review, and I need to keep up with that. I have some ideas bouncing in my mind, especially now that I learned more about web development, but it depends on the series I'll be contracted.</p>

            <p>Anyway, there you go, that's what happened during my "spring break". Hope to see you in the next season in a proper review!</p>