---
title: "Lara"
description: "The review of the game 'Tomb Raider (2013)' by AlwaysNever."
series: "Tomb Raider (2013)"
media: (game)
intro: "<p>An axe, a bow, and one heck of a gal. Lara Croft, truly a magnificent character.</p>"
rating: 9
ratingaddon: "<ul>
<li>Tomb Raider (2013): <b>9/10</b></li>
<li>Rise of Tomb Raider (2015): <b>9/10</b></li>
</ul>"
images: https://upload.wikimedia.org/wikipedia/en/f/f1/TombRaider2013.jpg
imagesalt: "Image of the cover of the game 'Tomb Raider (2013)', featuring the main character Lara Croft."
---

<p>When I get this contract, I recognize immediately that this is the second game in the trilogy of the Lara Croft remake, a game that already exist in my Epic Games library (among other forgotten free games that I claimed). I formulated a plan to enjoy ALL THREE GAMES for this review, but as you can see with the progress above, I was unable to do that.</p>

<p>Heck, I just finished Rise of the Tomb Raider about an hour ago! These two games are a beast.</p>

<p>Anyway, I won't get too much into detail about the plot of the games. It reminds me a lot of Uncharted, actually, and now I wish I can play Uncharted 1-4 as well. But anyway, the game look stunning even 11 years/9 years has passed. Each scenery is breathtaking, the island imagery from the first game, the mountains in the second.</p>

<p>I also have to mention the fact that I'm actually using controller to beat this game. This doesn't sound like much to you reading this review, but I am actually not a console guy. The last time I ever held a controller was when I played my PS2, more than a decade ago. After that, I switched to Wii and then never bought another console ever again.</p>

<p>And so, come this season, I was given an opportunity to acquire myself an XBOX controller, something that I've been meaning to buy because I want to play some games that are meant to be played with controller like Ori or PlateUp, but then I realized... I can play these Tomb Raiders game with the controller as well! And so I began my journey.</p>

<p>The first few hours of me handling controller is pretty awkward. I am used to using mouse and keyboard to play a shooter game, and in this case it was a TPS combat with exploration focus, but after 30 hours of experience, I managed to comfortably get used to the controller. Now, I don't think I can ever play Tomb Raider games without using a controller... now I get my people still have console... I'm being slowly converted from my pcmasterrace headspace HELP-</p>

<p>Anyway... yeah, game is really good. I'd say the first one is better than the second, especially since they don't have this ingredient system that they introduce in the second. I hate having to scavenge everywhere to upgrade my equipment, my weapon, heck, even to HEAL. That one sucks... but it does make for a very challenging gameplay, I will admit that at least.</p>

<p>And the second game has this automatic aiming system with the bow that is... honestly, chef's kiss. :chefkiss:  I like using the bow, but with the amount of enemies they throw at you at the last portion of the game, it was pretty hard to hit a consistent headshot every single time...</p>

<p>Not like the first game I have trouble, mind you... somehow I have an easier time with the bow on the first game, even without the auto aim...</p>

<p>With all that said, I'll give BOTH game a rating of 9/10. It's not the GOAT that I would froth at the mouth to shill, but I'll definitely recommend you guys to pick it up on a sale. It really still hold up, even until now. The second game does have this weird MTX stuff though, which was disappointing but at least the credits were farmable by playing the game itself.</p>