---
title: The Princess Trap
description: The review of the anime 'Princess Principal' by AlwaysNever.
series: Princess Principal
media: (anime)
rating: 9
ratingaddon: "<ul>
    <li>Season 1 + OVA (Picture Drama): <b>9/10</b></li>
    <li>Crown Handler + OVAs  (BUSY EASY MONEY, Revealing Reviews, Cost for Custom Cars): <b>9/10</b></li>
</ul>"
intro : "<p><i>Princess Principal</i> surprised me.</p>

<p>When I first see the poster, my first impression is that this will be a somehow cute type of anime mixed with the steampunk setting, but from the first few minutes my view was completely changed. The narration reminded me completely of Spy x Family, and by the end of the first episode I completely understand how wrong my first impression was.</p>

<p><i>Note: Massive part of this review are just thoughts that came to mind immediately after watching the series... except for Crown Handler, which I write a bit later after I viewed them. I put in a bit more of my thoughts regarding the series in the Introspection part, including parts that I enjoyed in the series that I didn't mention in my notes. Hope you can enjoy it nevertheless, even if it may contain a lot of summarizing instead of my actual opinions.</i></p>"
images: "/assets/images/Princess Principal.jpg"
imagesalt: "Image of the key visual of the anime 'Princess Principal', featuring the main characters, Team White Pigeon, consisting of Ange, Princess Charlotte, Beatrice, Dorothy, and Chise."
---

<section id="table-of-contents">
    <fieldset>
        <legend>Table of Contents</legend>
        <ol>
            <li><a href="#first-part">The Spy's Introductions</a></li>
            <li><a href="#second-part">Tenuous Family Ties</a></li>
            <li><a href="#third-part">The Laundry, The Princesses, and the Duel</a></li>
            <li><a href="#fourth-part">The Spy's Goodbyes</a></li>
            <li><a href="#crown-handler">The Crown</a></li>
            <ol>
                <li><a href="#the-bishop">The Bishop</a></li>
                <li><a href="#the-crown-prince">The Crown Prince</a></li>
                <li><a href="#the-crown-princess">The Crown Princess</a></li>
            </ol>
            <li><a href="#introspection">Introspection</a></li>
        </ol>
    </fieldset>
</section>

<section id="first-part">
    <h2>The Spy's Introductions</h2>
    <p>Princess Principal is what happens when the Spy part in SPY X FAMILY is taken seriously... and also with a dash of anime girls. The first three ep familiarize me with the steampunk era that this story is taking place, including the gizmos that they have to help with their espionage work, powered by the mysterious Cavorite.</p>

    <p>It's all so... captivating. But the setting itself is not the only reason why. We were quickly introduced to the cast of characters we're going to follow for the rest of the show, from the kuudere Ange who lies a lot, Dorothy who is legally the onee-san of the group (she's 20), Princess Charlotte (yes, *Princess*) and her attendant/friend Beatrice, and that ninja girl with swords that I don't know the name yet (or it was told but I missed them).</p>

    <p>The first episode literally started in the middle of their group's routine mission, where they helped a scientist defector escape from the forces of the Kingdom of Albion (the name of the ruling monarchy). The episode quickly establishes the group dynamic, and also the existence of "Control", a board consisting of adults that supervises the group and gives them order. I'd say, it's quite the introductory episode, but I was confused for a second thinking that I watched the wrong episode, because the name of the episode is 'Case 13: Wired Liar'... and the name of the next episode is 'Case 1: Dancy Conspiracy'.</p>

    <p>Turns out that was on purpose, so we ball.</p>

    <p>The episode ends quite dark, including how Ange just coldly... okay maybe not coldly, but her dispassionate way of executing the double agent...</p>

    <p>The next two episodes also deals in tense situation that I wasn't actually expecting, as the origin of their team is explored. Dorothy and Ange was the original spy from the Commonwealth (the other side), and Princess Charlotte (and Beatrice because she cares about Charlotte but she wasn't originally included) was their target for an operation to replace her, because Ange suspiciously look like her...</p>

    <p>Suspicious... that suspicion doesn't last long, cause turns out both of them already knew each other?!?!?</p>

    <p>And they're actually taking each other's name??? What is going on???</p>

    <p>This reveal got me to look at the wikipedia page for this series, and lo and behold, this series is inspired by the tales of "The Prince and The Pauper", which has similar plot. I can see the cooking being told here...</p>

    <p>We also get to see a spotlight on Beatrice, and it was revealed to us that she has her vocal chord experimented by her father- jesus fucking christ this show is so dark...</p>
</section>

<section id="second-part">
    <h2>Tenuous Family Ties</h2>

    <p>The next set of <i>Princess Principal</i> episodes continues to baffle me as they blend in anime girls with a rather depressing setting and plot. I mean, episode 4 brings more tension as we were told that everyone has tenuous relationship with each other due to their "grey" status, including the new member Chise who were there on behalf of the Japan. The episode tries to make us doubt everyone's loyalty, but Princess Charlotte proves to be the heart of the team as her actions shows her clear intention to cooperate. This kind of development I do enjoy</p>

    <p>We also get to see Chise's actual introduction episode, episode 5, as she involves herself in an assassination plot by a famous killer, that we were led to believe killed her father, but turns out revealed to be her actual father... and we got to watch her kill him by her own hands... yikes man...</p>
                
    <p>Episode 6 is also very dark, as the timeline now finally passes over the first episode (as you can probably guess, the way they're airing this episodes jumps through timelines as an artistic choice, which is pretty good, as far as I can tell), but we get to see Dorothy (partnered with Beatrice) meeting her abusive father in a mission involving morgue. They got me feeling a lot of things, including even a bit of sadness as her father dies trying to secure money for Dorothy by bargaining against a dangerous spy... I... this is just sad... I need to go to sleep.</p>
        </section>

<section id="third-part">
    <h2>The Laundry, The Princesses, and the Duel</h2>

    <p>The next set of <i>Princess Principal</i> episodes has a really... inconsequential(?) scenario out of all the episode with high tension and consequences so far... Episode 7, or the laundry episode, exhibits the kind of mix between fun and job, but leaning towards the fun, as the team refurbished a laundry mill in order to do their job and find a psychotic poison gas villain hiding in the ranks of the Kingdom's army. Of course, it's only possible because the laundry mill takes on the job of washing their clothes, which they use as an opportunity to test the clothes for chemical reactions.</p>

    <p>Without knowing how it ends, I was fearing the worst to happen, including how all these kids working in the laundry mill might die.. but thankfully that did not happen... and the ownership of the mill is even transferred to one of the girls working there initially...</p>
                
    <p>Well, the next episode, episode 8 brought back the dark vibes as we finally learn why this story is inspired by <i>The Prince and The Pauper</i>, and we get told of how Princess Charlotte and the Pickpocket Ange was originally switching roles frequently during their childhood, but was unable to switch back one day because of a rebellion. The current Ange (the old Princess Charlotte) laments on how the old Ange (the current Princess Charlotte) works really hard to survive and assuming the role of princess, and the pressure she must have felt hiding her identity amongst the paranoid nobles who would have executed her when they found out...</p>
                
    <p>Honestly, that situation actually brought a bit of fear and sadness to my heart, because I can't even begin to imagine having to be forced onto such role to play for <i>years</i> with my head on the line. At the end, though, (current) Ange admits that (current) Charlotte is more of a princess than she ever was, as her effort has lead her to become a formidable princess.</p>

    <p>We also get some chill episode involving Chise familiarizing herself with the western culture. It's a bit of a cliche, for sure, but it remains funny to me how clueless she is. We also get to see Chise getting closer with the rest of Team White Pigeon (officially Team Principal as Control calls them), Chise's assessment of everyone, and a bit of a cool moment where Chise throw a bullet using just a sling to hurt a bully that kicks a fucking Butterfly and calls her oriental. Damn, the racism is just apalling... but somehow real, and it got me gripping on my clothes in anger...</p>
           
    <p>At the end though, Chise was able to win, and the whole team celebrates her win in a... Japanese way, or at least they tried. Everyone is just so endearing... I'm not sure I'm quite ready for this dynamic to be messed with...</p>
</section>

<section id="fourth-part">
    <h2>The Spy's Goodbyes</h2>
    <p>The last batch of <i>Princess Principal</i> starts with a flashback to Ange and Dorothy's past in a woman-only spy training facility (like the Red Room) called "The Farm", and their classmates who they have to investigate because of her potential to be a double agent...</p>

    <p>Well... the horrific reality of spies are again on full display here, but at this point I'm more or less accepted that this gonna keep happening. My only worry is now about the main characters, but they do have a movie as a sequel to this... a six part movie, at that. But... the last few seconds of the episode brought that worry to the forefront, as Control changes leadership, and their new leader demands them to assassinate Charlotte...</p>
                
    <p>...and of course, this sudden development comes with massive changes to status quo, all in order to isolate Ange and Charlotte from possible shenanigans. Dorothy is reassigned, Chise is pulled back by her vassal, and Beatrice is just... missing. Suspicious. I also hate it. Fuck these adults trying to mess with their friendships! (But also they're actually spies so I feel childish even saying this.)</p>
                
    <p>Anyway, yeah, the second-to-last episode quickly ramps up the tension as Control's leadership is handled by an army general, who hasten the plot to go to war. Ange and Charlotte has a disagreement on what to do, as Ange wants to run, but Charlotte still insist on staying, so she locked Ange into a ship, and pretended to be her *pretending* to be Princess Charlotte, running with Operation Changeling for real.</p>
                
    <p>Spies, man...</p>
                
    <p>The last episode is quite action packed, and as I suspected, Beatrice was in cahoots with the hidden element to help Ange, which turns out to be Dorothy! (who approached her in the previous episode then....? Seven?)</p>
                
    <p>The schemes of Zelda, who also has her own C-ball which is already rare, is thwarted as Ange and Chise managed to save her, while Dorothy and Beatrice (mostly Dorothy) creates havoc on the event the schemes are supposed to be taking place, thereby managing to save the Queen and stop the country from destabilizing...</p>
                
    <p>And once the episode ends, they all live in Casablanca now, taking their well-earned vacation from all the drama they've been having... wait, why is Chise with them? I mean... awww... but also damn, she's a long way from home... </p>
</section>

<section id="crown-handler">
    <h2>The Crown</h2>

    <h3 id="the-bishop">The Bishop</h3>
    <p>Team White Pigeon is back, and their mission (should they choose to accept it) is to extract a high-ranked spies from the inner circle of the Kingdom, which revealed to be the Bishop. Throughout the episode, I get the feeling that the Bishop's life is not going to end well, which was proven to be true at the end, but the themes of this first movie echoes the first episode of the series, I feel.</p>

    <p>Spies' life includes a lot of lying. Even to those they love. It's a massive burden, even if you mean well. It'll wear on you. It's a pretty powerful point, especially since he said this to Ange, as she needed it a lot in my opinion.</p>

    <p>I particularly enjoy the dynamic between the Bishop and Ange, this almost mentor-like connection between them. The chess scene is also very intense. The intrigue of a third party opposing both the Commonwealth and the Kingdom... hopefully this is answered in the next two movies... who am I kidding, I already watched all three, I know they did answer this, but at the time that's what I was wondering, personally.</p>

    <h3 id="the-crown-prince">The Crown Prince</h3>
    <p>The movie start with a Cavorite bomb testing by the Commonwealth, which indicates that we're having nukes in this late 1800s setting now... what a way to raise the stake. We're also introduced to Prince Richard, someone who just came back from the "New World" (I thought this was India before realizing that they meant America)... aaaaand this guy get shot. What a way to start the movie.</p>

    <p>Him being shot brought heightened tension within the royal family, and we are also introduced to Princess Mary, whom I believe is Charlotte's niece(?).</p>

    <p>The meat of the movie however deals with the Cavorite bomb being stolen from the Commonwealth, with them thinking the Kingdom was responsible for it. The movie itself is fast paced and action oriented compared to the first, with not much message that I can glean. The stakes are escalating, however, as the member of the royal family starts getting introduced and gets in harms way, and I cannot wait for this powder keg to blow up.</p>

    <p>And it does blow up. Well, maybe not the Cavorite bomb, but things does change, setting up the next movie immediately...</p>

    <p>The soundtrack for this movie is still on point, as does the action sequence, but I'm starting to wonder if this would get old for me... well, I'm still excited every time I listen to it though, so I'm not worried.</p>

    <h3 id="the-crown-princess">The Crown Princess</h3>
    <p>This movie follows through the bombshell of an event that happened at the ending of the previous movie. The Crown Prince was assassinated, and now the royal family scrambled to prepare for his daughter, Princess Mary, to ascend to the position of the heir, Crown Princess. This movie touch upon the same story as the original series, especially the moment where Charlotte has to learn manners as she assume the role of the Princess after they get forcibly swapped during the Revolution.</p>

    <p>We also get to learn that the third party we've been facing against was a member of the royal family, Prince Richard, who has an "aide" that hails from the new world who were responsible for killing the Bishop and potentially the Crown Prince.</p>

    <p>The story reached the climax on this movie, as Charlotte was pressured by Richard to make a choice; side with him, or watch everyone she cared about get hurt. The whole movie was about the weight of her choice, the consequences of walking on the line between loyalties, and ended up with the explosive reveal that Duke of Normandy have outmaneuvered everyone and managed to catch the whole team, exposing Charlotte as the spy.</p>

    <p>The cliffhanger to end this trilogy of movies... <i>hurts</i> me. What do you mean we got to wait for god knows how many years before we get another set of trilogy to resolve this? Why does Richard go out like a little bitch after all this planning he had? Is this part of his plan to get caught? How will Charlotte fare as a double agent (or potentially, a triple agent)?</p>

    <p>The ending of this movie is woefully reminiscent of a book series that I've been reading, knowing that the ending for this will not be in sight for years, but I'm still invested</p>
</section>

<section id="introspection">
    <h2>Introspection</h2>
    <p>I wrote a ton about what I feel at the moment after I finished watching the series, but I don't really mention how good the music is! From the OP <i>The Other Side of the Wall</i>, to the ED <i>A Page of My Story</i>, the Crown Handler's OP <i>LIES & TIES</i> and their ED <i>Nowhere Land</i>, and their original soundtrack... it's <i>really</i> good, or rather, it hits right for me and really immerse me in the setting completely. The smooth jazz sound accompanying both the action scenes (my favorite of the soundtrack would be ) and the espionage scenes (<i>Espionage Trap</i>) is exhilirating, entrancing at times. It got my blood pumping in excitement. Yuki Kajiura, the composer who also worked on Sword Art Online and Demon Slayer, really knocks it out of the park.</p>

    <p>Each character from Team White Pigeon appeals to me, from Dorothy and her adult appeal, Beatrice and her devotion to Charlotte and her ingenious mind, Chise and her Samurai bruiser way of thinking, Charlotte and her gap moe between heartful innocence and ambition to break down the wall and being a Queen.</p>

    <p>And the complicated Ange, who seems like a chuuni who keep mentioning Black Lizard Planet at first, but behind her quirkiness lies a competent former princess who has survived for years in espionage, and her quirkiness was sometimes a calculated move. Like how she pre-planned getting a life insurance on the guy that was about to betray her, just so she can pay for the guy's sister's operation. That moment stuck with me for a long time.</p>

    <p>The way the anime has anachronistic order is also very interesting. It's a very clever way to not introduce flashback as a method to explore the dynamic between the team, but it does mean you have to pay attention to the sequence of events, or you'll be confused on things (I'm still unsure if the movie takes place right after the anime series...)</p>

    <p>There's also OVAs that I didn't put in here, where we get to see the more CGDCT portion of the series. BUSY EASY MONEY is talking about what each character would do if they receive money (and the wholesome ending about them giving back to the laundry place... man, I missed them as a laundry place owner). Revealing Reviews talking about opera shows that Chise and Beatrice watch, with the story eerily similar to the dynamic between Beatrice, Ange, and Charlotte. I kinda have to grimace a bit as Beatrice doesn't know about the truth yet... and wonders if the movies would explore that at some point. Cost for Custom Cars talks about custom car design that each character likes, as each design really delve deep into what kind of character they are... especially Dorothy wanting to have a pocket designed to hold on alcohol.</p>

    <p>In a CAR, DOROTHY? Good god, you're such a girlfailure...</p>

    <p>Either way, I'll be eagerly awaiting for the last three movies to come out, and I'm willing to give this series a 9/10 rating, for both the series and the currently released movie trilogy.</p>
</section>