---
title: Kubera
description: The review of the manhwa series 'Kubera' by AlwaysNever.
series: Kubera
media: (manhwa)
rating: 5
intro : "<p>I find myself unable to actually enjoy this manhwa that much, even approaching the very end of the first season.</p>"
images: /assets/images/Kubera.png
imagesalt: "Image of the poster for the manhwa series 'Kubera', featuring the main character Kubera."
---

<p>When I started reading this, I was under the impression that all of the things I wouldn't know will eventually be explained to me, and in some manner, they do. The elemental system, half/quarter and sura and the gods. But the way they finally reveal the setting felt... underwhelming in a sense. Mostly because we get to know it not through the eyes of the MC, but through cast of villains that veeeeeery slowly revealed to have sympathetic reasons.</p>
            
<p>I thought that I'll come to love these characters eventually, so I continued, but after 3/4 of the way reading through... I find myself rooting for just Brilith and Agni... and those two were gone after their arc for a long time! I want to like Yuta and know he has connections to Maruna, but we're not getting that much of him. I want to like Leez, but it seems like the force of fate on this world just cannot handle Leez being in the know, so we get to see her keep misunderstanding situations. And I don't even want to talk about Asha...</p>