---
layout: empty
title: Seven Must Die
---

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Seven Must Die">
    <meta property="og:image" content="https://howlongtobeat.com/games/50177_The_Letter_-_Horror_Visual_Novel.jpg">
    <meta property="og:image:alt" content="Image of the cover of the visual novel 'The Letter', featuring the main characters.">
    <meta property="og:description" content="The review of the visual novel 'The Letter' by AlwaysNever.">
    <title>Seven Must Die</title>
    <link rel="stylesheet" href="/assets/css/the-letter.css">
</head>
<body>
    <header>
        <form action="/reviews/">
            <input type="submit" value="Back" />
        </form>
        <h1>Seven Must Die</h1>
    </header>

    <main>
        <section id="typedtext"></section>
    </main>
    <script src="/assets/js/modules/the-letter/typewriter.js"></script>
</body>