---
title: For the Love of Books II
description: The review of the light novel series 'Ascendance of a Bookworm (Part I)' by AlwaysNever.
series: Ascendance of a Bookworm (Part I)
media: (light novel)
rating: 9
intro : "<p>In this digital age, or even, the age after printing is invented by Johannes Gutenberg in 1440, it is incredibly easy to acquire books due to the cheap cost and the technological advancement that has occured in the world. Books are something you can find in abundance, and I'm willing to bet if you look around your house right now, you will find at least ONE book lying somewhere.</p>

<p>But then, before all this convenience existed, have you ever wondered how does people read books?</p>
        
<p>In an era without printing press, without paper, without any means to commercially produce books in such way that it is available to everyone?</p>
        
<p><i>Ascendance of a Bookworm</i>, the light novel series written by Miya Kazuki and illustrated by You Shiina, aims to explore the answer to that question.</p>"
images: "/assets/images/Ascendance of a Bookworm Vol 1.jpg"
imagesalt: "Image of the first volume cover of the light novel series 'Ascendance of a Bookworm', featuring Myne, the main heroine."
---

<section id="table-of-contents">
    <fieldset>
        <legend>Table of Contents</legend>
        <ol>
            <li>Part 1: Daughter of a Soldier</li>
            <ol>
                <li><a href="#first-volume">"WHERE. ARE. THE. BOOKS?"</a></li>
                <li><a href="#second-volume">"The <s>Michael Scott</s> Lutz-Myne Paper Company"</a></li>
                <li><a href="#third-volume">"Acceptance"</a></li>
            </ol>
        </ol>
    </fieldset>
</section>

<section id="part-1">
    <section id="first-volume">
        <h2>"WHERE. ARE. THE. BOOKS?"</h2>

        <p>Isekai is not a new genre for me.</p>

        <p>I've read <i>Re:Zero</i> before... well, just the first four novel, that is. I am aware of the tropes, the developments, but... I was actually not prepared for <i>Ascendance of the Bookworm</i>.</p>

        <p>First of all, by making your character a book geek(?)/book obsessive lover(?), you already separated them from pretty much any other isekai... weirdly, the only character I can compare them to is Theo Fumis from <i>Magus of the Library</i>, and he's actually a fantasy character, not someone transported to another world!</p>

        <p>And second of all... our mc is a girl! Urano, the girl who's obsessed with books... now she became Myne, a sickly six-years old girl. I already aware of Myne because a fansub team, GJM, translated the anime for this, and I saw some of her blue-haired screenshots here and there, so I am familiar with her... I didn't expect her to be such a brat, though?!</p>

        <p>Well, knowing her age, I wasn't actually surprised, but I thought having Urano as her new personality would change things... but no, unlike what any other isekai would do, the author decides that a little girl who tried to experiment with her new world... would be treated like a little girl.</p>

        <p>Mind. Blown. (sarcastic)</p>

        <p>But seriously though, like... damn. I know from that alone that this series (and the high praise they got) is not to be trifled with. I'm looking at a series that knows what they're doing, knows what type of story they would like to be...</p>

        <p>And it shows as the author expertly weave in Myne's experiment to make papers with her day-to-day life with her family and friends.</p>

        <p>Myne's family consist of: Tuuli, her beautiful and more capable older sister. Effa, her beautiful mother and a skilled seamstress. And Gunther, a goofy soldier father (and where we get the name for this first part, Myne being the daughter of a soldier). I'll be honest with you, it took me a while to warm up to them, since they have routines and habits that not even I would be able to acclimate and keep up (talking about the lack of hygiene and... the pig day). But this is why I think it's genius, because I think that's what the author wants to convey to me, because <em>Urano</em>, in Myne's body, is also uncomfortable with them at first, and the author's ability to make me warm up to them just in time with Urano warming up to them is superb.</p>

        <p>Knowing the demographic, <i>I</i> shouldn't be empathizing with Myne that much. I mean, if anything, I should be empathizing more with Lutz, Myne's destined pair. (I will not take your opinion on this, I am <em>SET</em> after their talk with Benno and Otto. I am getting ahead of myself though.) He's a boy who has bigger dreams but cannot follow it because his family forbids him to. That shit actually HITS me. But... I just keep empathizing with Myne more. And I feel like it's because the author is very capable and managed to write a character that would appeal to a lot of people, including me!</p>

        <p>And there's also interesting characters like Otto, a merchant turned soldier who did accounting stuff within the gates, and Ralph, Lutz's older brother who seems gallant but is actually just a boy... and maybe a bit of a dick.</p>

        <p>Anyway, I'm yapping too much so I'll just rattle off things I enjoyed from this volume in a bullet list:</p>

        <ul>
            <li>Gunther being jealous of Otto... and Myne who keep teasing him. What a brat you are...</li>
            <li>Myne's bordering-on-unhealthy attempts at making "paper"</li>
            <li>Tuuli and Myne being the best of sisters istg they're SO CUTE</li>
            <li>Benno, who turns out to be Otto's brother-in-law, and his entire conversation with Myne. Merchants, man...</li>
        </ul>
    </section>

    <section id="second-volume">
        <h2>"The <s>Michael Scott</s> Lutz-Myne Paper Company"</h2>

        <p>Alright, who's ready to read about 150 pages of two child trying to make PAPER?</p>

        <p>Nobody? Okay, so it's not just me.</p>

        <p>The gap between when I read the ending of first volume and when I read through the ending of second volume is... quite massive. And we have this first half of this volume to blame.</p>

        <p>I mean, I won't say that the whole process to make paper is <em>that</em> uninteresting. If anything, the whole thing made me feel blessed for having paper as an easy-to-get commodity, because holy shit if I have to do all the things Myne and Lutz do to get paper, I would have just... live without paper, I guess.</p>

        <p>And the irony of me reading this series digitally too...</p>

        <p>This is where me and Myne differs, I guess. She is <em>hell-bent</em> on making a book after the last volume's ending, and her deal with Benno (alongside making Lutz his apprentice) necessitate her having to make this paper with Lutz. But the whole thing is described in such detail that I can't help but feel like it's too... <em>dense</em>.</p>

        <p>I ended up reading really slowly for the first half of the book, and picking it up right as the deadline came over, finishing the day before the deadline. (I'm writing this about 11 hours before the deadline, and I'm still not finished reading the third volume, so this delay really fucks my timing up.)</p>

        <p>I will say though, after going through those part... we are rewarded with probably the BEST chapter we've had so far in this series, and that is... <i>Lutz's Myne</i>.</p>

        <p>As Myne has to tap into parts of her that was Urano to deal with Benno's merchant ways, naturally it makes Lutz suspicious. I mean, there can only be so many times that a kid acts too much like adult before other kids notice how strange you are. And <i>Lutz's Myne</i> explore that precisely. Lutz was already suspicious of Myne a few chapter before, as he starts to think that Myne is not actually Myne, and instead she was someone else taking her place, perhaps related to the affliction Myne is having (something called the Devouring, very important to remember from now on).</p>

        <p>What follows is honestly something that I wasn't expecting. Urano, or rather, Myne, being totally honest about herself, where she came from, and Lutz finally come to terms with this Myne, which in turn, make Urano finally able to accept her new life as Myne. It's honestly very, very emotional. I shed some tears and had to pester some people who is keeping tabs about my progress about this. The whole chapter made me energized to keep going on, giving me momentum to finish the second half, which basically meant the whole volume.</p>

        <p>The later half dealt with new characters, joining those we know from the first half: Mark, Benno's right hand man. Corinna, Benno's sister and Otto's wife. Later half introduces people such as: The Merchant's Guild's Guildmaster (I don't know his name, nor do I think it's ever mentioned) and her granddaughter, Freida. The story dealt with complications that arrives with Benno and the Guildmaster's thorny relationship, and the game of chess Myne has to maneuver as she both made friends with Freida, and also trying hard not to get played by her due to her schemes (it's honestly not that bad, if anything I love that Freida got Myne as her first friend, considering her circumstances). Freida reminds me a lot of Becky Blackbell from <i>Spy x Family</i>, but more dramatic and less of a comedic relief.</p>

        <p>The volume ends as Myne faces against the worste episode of her Devouring, keeping us in suspense about her fate- no, I know she'll survive, but I guess the suspense lays on the tools required to save her, and the price Myne has to pay... what would be the consequences to this? I guess we'll find out.</p>

        <p>I didn't mention this in the last section, but the light novel came with extra chapters, the first volume dealing with Lutz's POV of his daily life, and also Urano's antics during her previous life on Earth. This volume, however, dealt with both Corinna and Effa, both of our beautiful wives, and the contrast between their rich and poor life, as Corinna explains in-depth about how she ended up marrying Otto due to his effort and willingness to abandon his own family to be with her, but also to avoid getting married to the Guildmaster's son. We also get Effa explaining how <em>she</em> ended up marrying Gunther after he kept persistently appeal to her father, and the sentence that made Effa fall for Gunther. It's both romantic, and also quite intriguing to see the contrast between these two characters and their way of living.</p>

        <p>I wonder if they would get along if they ever meet...</p>
    </section>

    <section id="third-volume">
        <h2>"Acceptance"</h2>

        <p>If you are ever given an option to live as a slave to someone with much more power than you, or to die with your family and everyone else you're close with, which one would you pick?</p>

        <p>Reading through the book, I was prepared for a choice to be made, for Myne to accept a grave choice... which is amplified by the chapter <i>Family Meeting</i>.</p>

        <p>Reading that chapter specifically made my heart hurt, because Myne's determination to live with her family until she dies mirror something that I have to hear in real life, from a family member that I love. For her to accept this fate got me harder than anything this series has to offer so far.</p>

        <p>And I have to say, everything leading to Myne finally becoming an Apprentice Shrine Maiden is just beautiful. We get to see Benno's care for Myne shining through as she picked the most dangerous path she could have chosen, all in the name of her love for books.</p>

        <p>Like, holy shit, she basically agreed to become a nun, cut off from her family, working down to her bones, just so she can read books? (Okay, she didn't know any better, but I believe if she wasn't aware of the drawback of this job, she'd be willing to do it anyway. Holy hell...)</p>

        <p>We also get to see how far Gunther would go to protect HER DAUGHTER, and the real consequences of living in a medieval world where everything is decided by status. This world has just opened up more to me, and there's still more for me to discover as Myne barrel forward with nothing in her mind but... books.</p>
    </section>

    <section id="epilogue">
        <h2>Verdict</h2>

        <p>The whole series is a surprise for me. From its Isekai nature, to its in-depth exploration of the nature of paper, and in some form, also about sweets and foods, and lastly a warm story about a young girl trying to achieve her dreams, helped by everyone that she meet in her blind rush to get to her books. I have to say, this is a <b>9/10</b> for me, with the possibility that it'll become 10/10 once I get through all 33 Volumes, because there is still so much that can be explored with Myne and her magic, and potentially thrilling story about how she maneuver in the world of nobles.</p>
    </section>

            
    <section id="continue">
        <i>This is where the review ends for Contracts purposes. Reviews for further part can be found <a href="/reviews/ascendance-of-a-bookworm/">here</a>.</i>
    </section>
