---
title: Hana Maotana
description: The review of the show 'Aikatsu Planet!' by AlwaysNever.
series: Aikatsu Planet!
media: (anime...ish?)
rating: 7
intro : "<q>You get the best of both worlds<br>
                        Chill it out, take it slow<br>
                        Then you rock out the show<br>
                        You get the best of both worlds<br>
                        Mix it all together<br>
                        And you know that it's the best of both worlds</q>
        
        <p>Those of you that grew up in the late 2000s would understand.</p>"
images: "/assets/images/Aikatsu Planet.jpg"
imagesalt: "Image of the key visual of the show 'Aikatsu Planet!', featuring the main cast of characters including their Aikatsu variant."
---

<p>Anyway... <i>Aikatsu Planet!</i> is an idol series, through and through. It follows Otoha Mao as she stumbles upon the chance of a lifetime; becoming the famous virtual idol Hana, after the person playing her previously mysteriously disappeared.</p>

<p>I didn't expect to get this as my trash special at first. I was prepared to get something heinous, something that I will groan while I'm watching, and I might have to actually hide from everyone I know, lest they start to think less of me (even less than they already are doing). I breathe a sigh of relief once I found out it's just an idol show.</p>

<p>Months went by, though, and many attempts were made for me to binge this show...</p>

<p>Well, I am sad to report that this was not as easy of a watch that I thought it is. The story is... very bare and doesn't tread on new grounds on this kind of concept (at some point I made the connection about this with the classic Disney show <i>Hannah Montana</i>, hence the title and the quote above). Don't get me wrong, at some point the story does pick up for me. (Standout including Ruli affirming her ideal life of treating problems like treasure hunt, Beat revealing herself to the world, Shiori becoming an idol, Mao and Shiori episode alongside Ruri and Beat episode).</p>

<p>And the songs are not all bad too! The OP, <i>Bloomy Smile</i> and the ED <i>Glittering Party Time</i>, are certified bops! Insert songs are all ranged from okay to great as well (standout is definitely <i>Magical Door</i> for me).</p>

<p>But... I guess the fact that this is 50% J-Drama really gets to me in the end. The acting left a lot to be desired, as I feel like they are trying to enact anime-like situations and all their overexaggeratedness (or maybe this is how J-Drama is in general?), and it's not easy for me to chew through it, if that makes sense. There's nothing wrong with the animation though, and that includes the mandatory battle showcase per episode, but they only account for half of the total runtime, sometimes even less, and that doesn't implore me in a way that I would enjoy.</p>

<p>In the end, though, I managed to get through it (I was a bit surprised that the anime ended at episode 23, and the last episode is just extra episodes), and I kinda teared up to see the actresses working hard and crying by the end. Oh, and before I forgot, I love how the ED has this stack of photos that keeps building throughout the show. I love this kind of evolutionary ED that changes each episode, and only really noticed it at the latter half, especially the part where the photos include major moments in the episode I just watched. Kinda fun to notice that.</p>

<p>I'll give this a fair 7/10. I still have fun watching it and enjoyed the characters (my favorite is Shiori and I was ecstatic when she finally become an idol), but I wouldn't particularly recommend this to anyone I know.</p>
        