---
title: Fear Those That Even Ghosts Avoids
description: The review of the manga series 'Dark Gathering' by AlwaysNever.
series: Dark Gathering
media: (manga)
rating: 8
intro : "<p>Ghosts.</p>

<p>Spirits.</p>

<p>Invisible creature beyond our understanding or vision. In this world, they exist, and they regularly trap people within their powers and kill them.</p>

<p>Oftentimes, painfully so.</p>

<p><i>Dark Gathering</i> is a shounen manga series created by Kondou Kenichi, and the story involves supernatural things mentioned above, which would put this comfortably in the horror genre.</p>

<p>Before I go in-depth into the review for this series, I have a confession to make. I am NOT someone who usually enjoys horror. ANY kind of horror, not even a little bit. In fact, this genre is one of the things I would veto if I ever get it as a normal contract, so I was understandably a bit scared when I get this aid contract.</p>

<p>The only reason that I did end up taking this was because someone I knew has talked about this before, and I remember them praising this highly, so I have to at least try and see if it is as good as they say.</p>

<p>And these review will be split into four part, the first chapter, chapter 2 to 7, chapter 8 to 12, and chapter 13 to 19, along with an epilogue to summarize my feeling. It is split that way because I read these parts continuously, and it seems like it's better if I compile my thoughts into those specific reading sessions.</p>

<p>Without further ado...</p>"
images: "/assets/images/Dark Gathering Vol 1.png"
imagesalt: "Image of the first volume cover of the manga series 'Dark Gathering', featuring Yayoi Houzuki."
---

<section id="toc">
    <fieldset>
        <legend>Table of Contents</legend>
        <ol>
            <li><a href="#first-part">The Painful First Steps</a> (Chapter 1)</li>
            <li><a href="#second-part">Apprentice Ghostbuster</a> (Chapter 2-7)</li>
            <li><a href="#third-part">The Girl with the Star Eyes</a> (Chapter 8-12)</li>
            <li><a href="#fourth-part">The Escalation of Threats</a> (Chapter 13-19)</li>
            <li><a href="#epilogue">Epilogue</a></li>
        </ol>
    </fieldset>
</section>

<section id="first-part">
    <h2>The Painful First Steps</h2>

    <p>Reading the first chapter for <i>Dark Gathering</i> is a pain. No, not because of the chapter itself, but due to multiple sources that is available for me to read.</p>
                
    <p>This thing is actually unrelated to the quality of the story itself, but I just want to bring it up because I think it's related to my whole experience with <i>Dark Gathering</i>. After all, after this first chapter, it took me a few days before I was ready to read through the following chapters, so I'd say it does affect me to some point.</p> 
                
    <p>Reading the scanlations that are currently ongoing until recent chapters (my first choice), I was greeted with awkward wordings and some very weird typesetting. I'm not the type of guy that gets put off by bad typesetting, as there's always a chance that as they continue, they will be better in these type of stuff, but it was still bad enough that I want to take a look at how the official translation did it.</p>
                
    <p>They were only marginally better, but I feel like they really took the words literally from Japanese with no localization, something that also happens in the first scanlation. But as I try to read a translation by a famous scanlator (that I will not name as they no longer exist, but I remember them for being Kaguya-sama's scanlator for some time), I have to face the fact that... it's not completely better.</p>

    <p>In fact, going through all of this kinda wrings me out because I was comparing translation instead of actually enjoying the story, but nevertheless, let's talk about the story itself. The story delves into our MC Keitaro, the freshmen class representative in his university, as he attempt to reintegrate himself to the society after being a shut-in due to a supernatural incident that involves his childhood friend, Eiko.</p>

    <p>He hates supernatural stuff, which I can already relate to. Later on, he is faced with supernatural cases after he got entangled with Eiko's cousin, Yayoi, and he's scared shitless. I can relate to him even more.</p>

    <p>Oh wait, did I just introduce our main heroine in an off-hand manner. Silly me, I need to properly talk about her.</p>

    <p>Yayoi... Yayoi... Yayoi... what a character you are. She's a high school student, but also very in tune with the supernatural world, due to a painful childhood, and a burning desire for revenge... but she's also still a young girl. But she is also Keitaro's mentor in the supernatural world... she's honestly quite cool, and pretty much the pillar of this series. Her takedown of the phone booth ghost looks <i>sick</i> as heck, and the blend of her cuteness with her cool factor, and also her ruthlessness, makes for one hell of a character to carry this manga.</p>

    <p>Just like how Keitaro remember vividly about meeting Yayoi for the first time, I too cannot forget about this little girl with skulls for eyes, and also Eiko's baffling demeanor at the end of the chapter. Alas, I did get tired of reading the chapter several times to pick which source I'm going to read, and so my journey was postponed for a few days.</p>
</section>

<section id="second-part">
    <h2>Apprentice Ghostbuster</h2>

    <p>I talked too much about the first chapter, so I'll be yapping less for the next three sections. So... in the next few chapters, we get to see the nature of the affliction that Keitaro get from his incident years ago (that also affects Eiko, making them tied together in some fashion), and Yayoi teaching Keitaro about how to keep himself safe from these dreaded malicious spirits... in some scary manner, that is. I mean... using spirits she has captured to take the hit by mixing the doll they're trapped in with body parts? Like... holy shit!</p>

    <p>We also get to see even more scary yandere stuff from Eiko... girl are you possessed to do this or not? If you're NOT, that makes it EVEN SCARIER.</p>

    <p>The story goes through some chapters where they fight what is basically villains-of-the-chapter, like a doll spirit that tries to choke Keitaro with her hair, an old Goddess spirit that eats children who Yayoi fights, a malicious spirit who burns alive those who watches the tape they made when they're still alive, a spirit that possess people to help them kill people by suicide, and <i>spirits</i> (plural) that dwell in a bridge where they all died.</p>

    <p>That last spirit took two chapters to be taken down, and the stakes for that one is higher since they managed to possess Eiko, and Yayoi has to do some clever maneuver to get them to stop... The shounen aspect blended with supernatural is a new thing for me, but this kind of writing makes me remember that this is probably marketed AS shounen, and they're rocking it for sure! The takedowns for all the other spirits too were AWESOME and CLEVER. I can't wait to see how this develops...</p>

    <p>Oh, speaking of which, after that last incident, Keitaro and Eiko is a thing now... but Eiko has to be all weird about it. WHAT IS WRONG WITH YOU? WHY ARE YOU LIKE THISSSSS???</p>

    <p>These chapters also introduces some outtakes, which actually made me smile a bit as a way to lighten things up after each chapters, and I appreciate that a lot. Reading the afterword also made me realize that the author, Kondou Kenichi, doesn't usually write horror... but holy shirtballs his drawing is REALLY scary. I mean, if this is his first try, you are doing quite well, sir.</p>
</section>

<section id="third-part">
    <h2>The Girl with the Star Eyes</h2>

    <p>Ai Kamiyo.</p>

    <p>A JK gyaru that Keitaro gets to tutor that has star eyes... wait a minute, why does this remind me of Ruby Hoshino-</p>

    <p>Ehm... anyway... she gets introduced during these stretch of chapters, and we quickly gets to learn about her "unlucky" streak, and how everyone she comes to know and gets close to will get that curse of being unlucky. Naturally, this can only mean that some spirit is haunting her.</p>

    <p>And of course, she actually does, and Yayoi easily captures them, but turns out she is also haunted by the spirit of her late older brother... who tried to kill her.</p>

    <p>This whole arc involving Ai lasted for about four chapters, spanning a single volume (Volume 3). During this, we get to see the "god" that fell in love with Ai and put a curse on her, that will take effect when she's twenty. We also fight against an elevator serial killer spirit, something that gets attracted to Ai as she pours out the "god"'s energy.</p>

    <p>The art continues to bring me shivers, as their depiction of spirits (especially the elevator serial killer, superb work there) continues to highlight the horror this series bring.</p>

    <p>Due to her declaration to fight this "god", Yayoi has to contend with losing a lot of her spirit "army" who gets butchered by the "god" in his intimidating force. To remedy this, Yayoi started talking concepts that strangely felt like powerscaling, as she reveals that her main bulk of her spirit "army", kind of like her generals in a sense, are not stored with her as they are too strong to be kept in her house. They call these spirits "graduates" (official translation said so, dunno about scanlations), and she let the remnant of her spirit turn on themselves in order to secure another graduate to bolster her "army".</p>

    <p>Other than this, she also said she needed to replenish her spirit army (to make puppets that can take the damage for them), and start laying out practically the future plots as she rattled off places that she has researched and tagged with specific danger rating. My guess is that for the next few arcs, we will visit ALL of these places, but she names not just six places or anything, if my count is right, there's about 15(?) spots all across Japan, and she wants to get more Graduate spirits from these...</p>

    <p>Yayoi...</p>

    <p>Anyway, this session of the reading ends with Yayoi and Keitaro going after one of the listed place, Hachijoji Castle Ruins.</p>

    <p>The story thus far has managed to capture my attention, and at this point I was confident in saying that this manga alone changed my perspective on Horror genre. It made me think that... it IS possible to make a horror series that can appeal to me. Still, I wouldn't read pure horror after this, but I am more willing to be open minded about horror stuff, and perhaps try more series with that in mind.</p>
</section>

<section id="fourth-part">
    <h2>The Escalation of Threats</h2>

    <p>At this point you already know about how the art and the horror made me shiver in fear. How I've changed my mind regarding horror because of this manga. How Eiko is still a question mark to me. How Yayoi is just plain cool.</p>

    <p>But turns out, you can go <i>even further</i>.</p>

    <p>I'm not going to go too deep into it, but these part of the story is basically split into arcs surrounding a specific place, like H Castle Ruins and F Tunnel, spanning three chapter and four chapters each. You might think this is short, but each chapter is more than 50 pages, which is INSANE. Is this manga monthly? I haven't caught up yet but if it is, then no wonder...</p>

    <p>The end of H Castle Ruins introduces us to elements outside of Yayoi who manipulated spirits using cursed items. Looking at them, I do clearly see the vibes of a certain shonen manga who also deal with supernatural stuff, but way more popular than this series. These force seems to be villainous, and when I continue this manga, I hope to see where they go with it.</p>

    <p>But then comes F Tunnel... man, F Tunnel. From the opposing Tunnel spirit, to the soldier Graduate that Yayoi brought to bring this tunnel spirit down... the art is so good that I forgot for a second that this is still a horror manga... but seriously though, when the action is that well-made, I just can't help but freak out about it.</p>

    <p>Nothing scarier than fighting a spirit that begs you to kill him, and when you can't, he'll unleash his torment in such a big radius... crazy stuff.</p>
</section>

<section id="epilogue">
    <h2>Epilogue</h2>

    <p>To summarize, this series is a pain to start, but once I get a good momentum, it snowballs into this particularly opinion-changing manga as I know look at horror in a different, but still scaredy-cat way. <i>Dark Gathering</i> is enjoyable for me, and I'm proud to give it an <b>8/10</b>, which is a big deal because horror wouldn't usually even pierce 7/10 from me.</p>
</section>
