---
title: Anatomy of a Delusion
description: The review of the anime 'Chuunibyou demo Koi ga Shitai!' by AlwaysNever.
series: Love, Chunibyo & Other Delusions
media: (anime)
rating: 8
intro : "<p>Delusion, according to Oxford dictionary, means a false belief or judgment about external reality, held despite incontrovertible evidence to the contrary. Within Japanese media fandom, we fellow weebs have been (over)exposed to one kind of delusion over and over; Chunibyou. The delusion of grandeur often exhibited by middle schooler, with the name literally meaning 'Middle School Second Year syndrome', or 'Eight-Grader Syndrome'.</p>

<p>We see chuunibyou becoming the most powerful being in the universe (Eminence in Shadow, Fire Force), we see chuunibyou in games, spouting cryptic stuff that goes against the lore of that game universe (Fischl from Genshin, Guillotine from NIKKE, Rappa from HSR).</p>

<p>But when does this term starts to get known by people in the first place?</p>

<p><i>Chuunibyou demo Koi ga Shitai!</i> was released back in October 2012, and coincidentally, the google search around that time regarding the word 'Chuunibyou' rose exponentially. It is not hyperbole to say that this series is responsible for bringing the term to the forefront, and it was my absolute pleasure to be contracted this series for the Fall 2024 season.</p>"
images: "/assets/images/Love, Chunibyou, & Other Delusions.jpg"
imagesalt: "Image of the key visual of the anime 'Chuunibyou demo Koi ga Shitai!', featuring the main character, Rikka Takanashi."
---

<p>Chuunibyou is one of the series I've been wanting to watch for a while now. Images of Rikka have floated around on the internet, and her pained voicelines is something I used when I was in VC with my peers, added by someone who clearly loves the series.</p>

<p>Coming in, I did not expect the MC, Yuuta, to be a <i>former</i> Chuuni. I was under the impression for years that he is a normal guy that got entangled with the clearly Chuunibyou-addled mind that is Takanashi Rikka, but apparently it's not that simple...</p>

<p>Having him as a mc being embarassed of his Chuuni days... made me remember my own chuuni phase that starts in HIGH SCHOOL, UNLIKE HIM WHO STOPPED AT HIGH SCHOOL.</p>

<p>And now I want to roll like him and Nibutani on the floor. Oh yeah, speaking of... we also get the roster of characters that makes up the Magic Society of Napping- okay no I don't really even know what the name of the club is supposed to be. Anime shows and their weird club/circle man...</p>

<p>When I finished the first season... I was emotional. The journey to reach that point has been rife with comedy, but also dramatic rendition of chuuni-ism... but also real story about how people cope using unbelievable situation. Here's my unfiltered (maybe a bit chuuni-ish) paragraph of messages that I wrote at the time, which I believe represent my feeling regarding the first season as a whole, if not the last few episode.</p>

<q>
The world... it's getting crazier these days.<br><br>

I've seen people that I thought all my life is the bastion of logic starting to break down and believe in the most outlandish thing I've ever heard.<br><br>

Being crazy just doesn't feel... <i>crazy</i>, anymore, if that makes sense. Nowadays everyone can be their own little crazy, and people will respond in kind with their own brand of craziness. After finishing <i>Chuunibyou</i>, I started to get into these... spiralling thoughts, especially aimed at the characters in the series, and perhaps even in the real world, that kept taking away the agency that belongs to someone in order to conform to what they think is reality.<br><br>

It's even more infuriating when I see this coming from Rikka's family. I still give Touka a pass because for all the big talk she has, she actually still plays some part in "enabling" Rikka's delusions, but what rights does anyone else has in tearing down the wall that someone has built in order to cope with the bad cards they are dealt with in life? <br><br>

Do you think the person that you're griefing on would like it when you treat their daughter so harshly? Is the anger you have for her is an outlet for your anger of the unfairness of the situation? Like... what <i>rights</i> do you have? <br><br>

I started to feel irrationally mad at the circumstances happening at the last two episodes of <i>Chuunibyou</i>. I started to get mad that I even began to think about Umineko, that deals with a similar theme where delusions, or in their case, their belief in magic and the truths that they know of the person they love trumps the cruel reality that threatens to not only break her, but break the truths that she believes in. <br><br>

If Ange wants all of her family back, Rikka just want her dad back. <br><br>

It makes me think of what I would do in case that I get dealt the bad card. As of right now, I already felt like I'm living my Chuuni side, that I categorize as my "online" persona. Al, the person that I am online, is my Dark Flame Master. Would I retreat to my delusions completely once I face the same difficulties as these two heroines (Ange and Rikka)? Would there be forces just like Touka or Rikka's grandfather, or the Speculative Goats, that would make me crumble and read the room? <br><br>

God, this shit even starts making me think about <i>Imosae</i> as well. Would I lose control of the story that has me as its protagonist? Would I stay forever in the bad ending, spiralling into oblivion, as my story loses its meaning to anyone who wants to read it? I can even tie this to <i>Omniscient Reader's Viewpoint</i>. Is this the end of the Oldest Dream? Does my existence required to be so... gray? Just like how the <i>Chuunibyou</i> anime become once Rikka starts to become normal again...<br><br>

I wish I can become the protagonist that breaks through the white and black spiral (unrelated to Uzumaki) of thoughts I trap myself in, and introduces back some color to my otherwise colorless and dull life. But here I am, sitting in front of the computer, hopped up on caffeine, getting myself mad each second as I realized how powerless I am. <br><br>
</q>

<p>....well that doesn't end satisfyingly, doesn't it? Let's just say... the series managed to grip me in the heart by the end and made me reflect about my delusions, delusion that I still have a little bit in my heart, that I used to cope with how shitty my life has become. This series managed to do all that... I'm impressed.</p>

<p>And I made the mistake thinking that this would continue in subsequent installment of this series.</p>

<p>Make no mistake, <i>Takanashi Rikka Kai</i> was fun... for just the original content that it has. The recap was mostly stuff I already watched so it doesn't interest me slightly, but the lead-in to the second season still got me. They're living together now?!?! Who was that girl?!?!</p>

<p>And yet again, I made the mistake of thinking that things will get better. It doesn't.</p>

<p>Season 2 was... for all its worth, a fever dream. From the very beginning, the vibe was off for me. Like... like it's missing something... or rather... someone?</p>

<p>Shichimiya's inclusion felt tack on at first, like, she's there because she needs to be in order to progress the romance of Yuuta and Rikka... until episode 8 and after where we finally get the exposition we need about her circumstances. The build up to reach there however felt sudden and undeserved, almost as if they pad in filler in the first six episode and only adapted the original novel starting from the latter half of the season (it's only my unwarranted suspicion at this point, but it might as well be true knowing that Dekomori is an anime-original character).</p>

<p>Either way, as a whole, this series rates 8/10 in my opinion, averaging from both seasons and the movie. Due to the lack of time I was unable to finish the second season in time, nor start Take On Me Movie to really experience the whole series, but I still enjoyed the first season immensely.</p>