---
title: Anatomy of a Delusion
description: The review of the anime 'Chuunibyou demo Koi ga Shitai!' by AlwaysNever.
series: Love, Chunibyo & Other Delusions
media: (anime)
rating: 8
intro : "<p>Delusion, according to Oxford dictionary, means a false belief or judgment about external reality, held despite incontrovertible evidence to the contrary. Within Japanese media fandom, we fellow weebs have been (over)exposed to one kind of delusion over and over; Chunibyou. The delusion of grandeur often exhibited by middle schooler, with the name literally meaning 'Middle School Second Year syndrome', or 'Eight-Grader Syndrome'.</p>

<p>We see chuunibyou becoming the most powerful being in the universe (Eminence in Shadow, Fire Force), we see chuunibyou in games, spouting cryptic stuff that goes against the lore of that game universe (Fischl from Genshin, Guillotine from NIKKE, Rappa from HSR).</p>

<p>But when does this term starts to get known by people in the first place?</p>

<p><i>Chuunibyou demo Koi ga Shitai!</i> was released back in October 2012, and coincidentally, the google search around that time regarding the word 'Chuunibyou' rose exponentially. It is not hyperbole to say that this series is responsible for bringing the term to the forefront, and it was my absolute pleasure to be contracted this series for the Fall 2024 season.</p>"
images: "/assets/images/Love, Chunibyou, & Other Delusions.jpg"
imagesalt: "Image of the key visual of the anime 'Chuunibyou demo Koi ga Shitai!', featuring the main character, Rikka Takanashi."
---

<p>Chuunibyou is one of the series I've been wanting to watch for a while now. Images of Rikka have floated around on the internet, and her pained voicelines is something I used when I was in VC with my peers, added by someone who clearly loves the series.</p>

<p>Coming in, I did not expect the MC, Yuuta, to be a <i>former</i> Chuuni. I was under the impression for years that he is a normal guy that got entangled with the clearly Chuunibyou-addled mind that is Takanashi Rikka, but apparently it's not that simple...</p>

<p>Having him as a mc being embarassed of his Chuuni days... made me remember my own chuuni phase that starts in HIGH SCHOOL, UNLIKE HIM WHO STOPPED AT HIGH SCHOOL.</p>

<p>And now I want to roll like him and Nibutani on the floor. Oh yeah, speaking of... we also get the roster of characters that makes up the Magic Society of Napping- okay no I don't really even know what the name of the club is supposed to be. Anime shows and their weird club/circle man...</p>

<p>When I finished the first season... I was emotional. The journey to reach that point has been rife with comedy, but also dramatic rendition of chuuni-ism... but also real story about how people cope using unbelievable situation. Here's my unfiltered (maybe a bit chuuni-ish) paragraph of messages that I wrote at the time, which I believe represent my feeling regarding the first season as a whole, if not the last few episode.</p>