---
title: Soul Game
description: The review of the manhwa series 'Haruman Nega Doego Sipeo' or 'Your Throne' by AlwaysNever.
series: Your Throne
media: (manhwa)
rating: 8
intro : "<p>Here are my apology letter for my contractor, for I ended up letting this contract aside even after I promised that I won't do that.</p>"
images: "/assets/images/Your Throne.jpg"
imagesalt: "Image of the main character of the manhwa series 'Haruman Nega Doego Sipeo' or 'Your Throne', Medea Solon."
---

<p>But Your Throne... is quite the story indeed. Freaky Friday set in a Game of Thrones-esque world? Every time I see the next page, I have to hold down my breath.</p>

<p>What kind of schemes is Medea cooking? What kind of depravity would Eros be thinking about? And what, pray tell, would Psyche do to survive? And also what emo thoughts would Heli be thinking- okay I'm mostly kidding with that last one</p>

<p>Anyway, this soul game, it's fascinating to see, but it's also very fast paced. Sadly, that means I have to give this a lower rating of 8 instead of 9. It throws me off the loop for a lot of time, but I want to see if I can stay on the bumpy ride for a bit more.</p>