---
title: For the Love of Books
description: The review of the manga series 'Magus of the Library' by AlwaysNever.
series: Magus of the Library
media: (manga)
rating: 9
intro : "<p class='hidden part1'><i>&quot;This is the beginning of a new epic!!&quot;</i></p>
<p class='hidden part2'><i>&quot;A tale of adventure that you are about to spin!!&quot;</i></p>
<p class='hidden part3'><i>&quot;What scenes will appear on the pages spread before you?&quot;</i></p>
<p class='hidden part4'><i>&quot;At times you may want to look away. But...&quot;</i></p>
<p class='hidden part5'><i>&quot;...you mustn't forget!&quot;</i></p>
<p class='hidden part6'><i>&quot;Yours is the only hand... that can turn the page!&quot;</i></p>"
images: https://m.media-amazon.com/images/I/91iOxOu2tzL._SL1500_.jpg
imagesalt: "Image of the first volume cover of the manga series 'Magus of the Library', featuring the main character Theo Fumis."
---

<div class="hidden part7">
    <p>Do digital texts considered a proper form of texts? I would argue that it is. Even if the information provided exists in a sphere of reality that are beyond physical form or any other kind of writing appliances can give. I want to argue that digital texts are an evolution of texts.</p>

    <p>That lamentation are nothing more than something fancy I thought about after I finished this series. I didn't think a series about being a librarian would make me this retrospective. <i>Magus of the Library</i>, however, has shown me that it is possible.</p>
</div>

<div class="hidden part8 paragraph">
    <div class="images">
        <img src="https://m.media-amazon.com/images/I/91NpXBPJ2OL._SL1500_.jpg" height="200" width="150"></img>
    </div>
    <div class="column">
        <p>From first glance, I can tell that this series is special. And no, not because of how beautiful the art is, or how lovable the MC (Theo Fumis) and relatable his story is, and the one character that said the quote at the top of the page, Sedona Bleu.</p>

        <p>This story is yet another one that tackles the theme of literatures, but in the angle of libraries. A state being controlled by librarians, the effect of genocide (in the same vein as <i>Frieren</i>, but as prevalent as <i>Avatar: The Last Airbender</i>), and various characters and their dreams, and how they interact with each other in their struggle to achieve it.</p>
    </div>
</div>

<div class="hidden part9 paragraph">
    <div class="images">
        <img src="https://m.media-amazon.com/images/I/91HFdJD3TYL._SL1500_.jpg" height="200" width="150"></img>
    </div>
    <div class="column">
        <p>Everyone has their own reason to be a professional librarian, or "Kafna" in this world. Societal pressure, a passing whim, a dream they have to give up in order to survive. It's fascinating to see so many characters depicted in multitude of ways, but none of them are truly villanious. Not the deadpan girl who hated being bested physically because she hated being a woman in her culture, and it limits her option. Nor the girl who grew up on traditional values that are so backward, even people around her noticed and give her a wide berth.</p>

        <p>Other than those exploration of characters, this manga also has gorgeous art, and lore that stretches centuries of civilization that spans multiple culture. It's truly a work of competent fantasy.</p>
    </div>
</div>

<div class="hidden part10 paragraph">
    <div class="images">
        <img src="https://m.media-amazon.com/images/I/91iOxOu2tzL._SL1500_.jpg" height="200" width="150"></img>
    </div>
    <div class="column">
        <p>The only thing that doesn't make this a 10/10 is because of how short it is. You might think that's a petty reason for it, but right now, it's like watching a great library being built brick by brick. It already look magnificent, but for the love of books, the climax of this story is not even in the horizon yet! What is up with that <em>spoiler</em> girl who came late? Why is Sedona doing all this <em>spoiler?</em> What is that book Sedona gave Theo in the start of the series? Can Ohgga get even more cuter- I mean ehm.... well, the climax is definitely going to be something I look forward to enjoying in my life! I just need to survive them first until it comes.</p>
    </div>
</div>