---
title: The Boonies
description: The review of the anime 'Non Non Biyori' and anime movie 'Non Non Biyori Vacation' by AlwaysNever.
series: Non Non Biyori & Non Non Biyori Vacation
media: (anime)
rating: 8
intro : "<p>Boonies, eh?</p>"
images: https://m.media-amazon.com/images/M/MV5BNDdhZDAxMzUtZjQwOC00ODllLWE2YTUtYTllYjhkZThkNzU5XkEyXkFqcGdeQXVyMzgxODM4NjM@._V1_FMjpg_UY720_.jpg
imagesalt: "Image of the cover of the anime 'Non Non Biyori', featuring the main characters, from left to right, Natsumi Koshigaya, Renge Miyauchi, Hotaru Ichijo and Komari Koshigaya, as they walk on the road together."
---

<p>When I was about six or seven, my parents decided that it's time for the family to move out of our small hometown, because my father's promotion. We will be moving to the capital city, and leave behind what I now call the boonies.</p>

<p>The boonies of my own is nowhere near close to the one depicted in Non Non Biyori, but the nostalgic feeling the anime evokes reminded me of my hometown. This is my first time watching CGDCT anime, and I'm glad that NNB is the first one I watched. I am already aware of Renchon coming in, because I frequented r/anime and people there kept using her gif for reaction image. Other than that, I have no idea about the other characters. Natsumi, Komari, and the new girl in the block, Hotaru.</p>

<p>They all do cute things indeed, just... living, in the boonies. No grand plot, just slice of life in its purest form. I watched this anime with a friend, and we both agreed that this anime is kinda relaxing to watch. Nothing more relaxing than shooting the breeze with your friend somewhere remote, just you and them, nothing else.</p>

<p>I also watched the OVA about vacation to Okinawa... and the movie where they go to Okinawa as well. Ironically, I was watching those while I have my own vacation, right down to the fact that I made friends with some people that I know I probably won't meet again... either for good, or for a long... long time. That movie was very timely, indeed.</p>

<p>Just thinking about them gives me a sigh of relief. Sadly, this does mean the rating for this anime won't be too high, because it feels more like a comfort anime instead of something that sticks with me. 7/10 seems fair to me, across the board.</p>
