---
title: The Unbearable Weight of Massive Talent
description: The review of the anime 'The Disastrous Life of Saiki K' by AlwaysNever.
series: The Disastrous Life of Saiki K
media: (anime)
rating: 8
intro : "<p>I thought that overpowered characters in a comedic setting would be old for me, as I've experienced <i>One Punch Man</i>, <i>Mashle</i> and <i>Mob Psycho 100</i> already. But turns out I was wrong.</p>

<p>There IS still another way you can explore the concept. <i>The Disastrous Life of Saiki K</i> is an anime series packed in a way I haven't really experienced before (at least the first season)... a short-form anime, so to speak.</p>"
images: "/assets/images/Saiki K.jpg"
imagesalt: "Image of the key visual of the anime 'The Disastrous Life of Saiki K', featuring the main character, Saiki Kusou, with the other cast consisting of his friends."
---

<p>Four minutes per episode, jampacked with what I believe is equivalent to one manga chapter. It concerns the eponymous Saiki K(usou), a high school student/psychic that can basically do anything you can think of. Telepathy? Yes. Telekinesis. Yes. Rewind time to fix objects and living things by one day? Also yep.</p>

<p>Wait... no, yeah. That's right. He can also fly, have super strength, teleportation, shapeshifting (size AND appearance), advanced telepathy like mind controlling the whole planet (yes, the whole planet). And that's just all from the top of my head. I'm just a mere mortal in the presence of someone with a massive talent... nay, a GOD. It is a story about how a divine being just.. go to high school, avoiding friendships as he wants to live a life unburdened (and with some occasional consumption of coffee jelly)... but ended up with a group of friends anyway.</p>

<p>The anime make it painstakingly clear how utterly antisocial Saiki is, using his numerous powers to avoid social situations (which, to be honest, I can actually get, some of his friends are comedically unhinged in their attempts to interact with Saiki). And even though Saiki was given honest-to-God busted list of powers, there are some situation where the story managed to raise the stake high enough to make me invested. The one that I keenly remember is the time he got trapped in a safe trying to save a magician that saw his powers and start calling him master (long story, the cast of Saiki is also varied and all very interesting!), and we get to see that his powers have limitation after all, and he has to think his way out of his predicament. Even with that almost dramatic setup, they never truly stray away from being comedic, and all of his "solution" ends up being really funny because of how simple and sometime improbable it is in real life.</p>

<p>As I mention before, this show is really funny, and it's not just because of the main character, but also its side cast! From Nendo the dumbo and Kaido the chuuni, to the struggling magician Chouno, and including his family, the cast is as stereotypical as Komi Can't Communicate, but goddamn they're all funny in their own ways... and also heartwarming in others. Nendo has a single mother (whose stories intersect with Chono) and he is shown to be a kind person even if he's sometimes so dumb it brings Saiki to his knees. Kaido might be terminally chuuni and a bit of a coward, but he will stand his ground unexpectedly for a friend, and not even just Saiki. This is just two of them, there's a myriad of them that I cannot just explain one by one, lest this review just become a wiki for this show.</p>

<p>Watching this show for 24 episode and seeing the growth of Saiki and his friends are a treat. By the end, my heart is full knowing that Saiki, with all his psychic shenanigans and refusal to call all of his classmates as friends, realized that he... have a pretty good group of friends. And that's the other beauty of this show. You find yourself laughing at the shenanigans, but then see Saiki using his powers to ensure that his friends can go on a school trip. You giggle at Kaido getting clowned on for his chuuni antics, but then admire him for standing up against delinquents trying to flirt with their female classmate Terahashi and Yumehara.</p>

<p>Behind the veneer of a gag show lies a very wholesome story, that keeps hitting me unexpectedly as I was expecting yet another gag. Even if the anime's pacing at times felt like I mistakenly put the anime on 1.5x speed (4 minutes to cover... like 10 pages? not surprising). Sometimes this speed up is actually deliberate, though, and used as a gag, which I found pretty funny. There's meta jokes too at times, which I <i>always</i> appreciate, it's always fun when meta humor is involved in any kind of gag show.</p>

<p>I mean, one of the meta humor was Saiki making fun of the fact that he never actually speak throughout the show... like, he never really opened his mouth, or at least, not that we see, as they always cut away from any instance of it happening. Instead, we keep seeing narration from his mind, sometimes that narration IS the words he spoke to his peers. I've never seen a character in a show that does this... perhaps this is attributed to my lack of general knowledge about anime, but I feel like that's pretty unique, and funny.</p>

<p>I can't talk about the show without mentioning how good the OP is. I immediately realized that some of the OST are used for memes (specifically <i>Judgment Knights of Thunder</i>) and their liberal use all over the anime brought tons of laugh out of me.</p>

<p>I'm comfortable in giving this a 8/10. I would have given this a joke 5/10 rating, just like how Saiki wants to be average... but... yare yare, I'll be serious for once...</p>