---
title: Tomodachi Game
description: The review of the manga series 'Tomodachi Game' by AlwaysNever.
series: Tomodachi Game
media: (manga)
rating: 9
intro : "<p>I was expecting the worst when I started this series.</p>"
---

<p>I&#39;ve heard of <em>Tomodachi Game</em> in a way that doesn&#39;t give this series a good rep, as the series is being pushed almost the way <em>Kagurabachi</em> was being pushed during its initial chapters, or how people ironically gassing up Morbius.</p>

<p>I did not expect myself to find this series... decent? Like, the intrigue of the friendship group and the constant guessing of the traitor kept me engaged. Yuuichi... is a fucking psycho. But each time he did his thing, we get to see how it&#39;s all planned, so nobody gets hurt (or rather, nobody dies at least). Tenji, Shiho, Shibe, Kokorogi, all of them were too suspicious that even I became as paranoid as Yuuichi.</p>

<p>The subplot with the organizer of the game colluding with people in important places got me wanting to read more, but I decided to stop after the minimum number of chapters because I want to take my time with this series.</p>

<p>I do want to say, the rules portion of the games reminded me of Hunter x Hunter&#39;s latest chapters, and I find myself skipping over a large portion of it, speedreading through them and get to the point where Yuuichi figures out the &quot;loophole&quot; (or he got beaten, but turns out it&#39;s part of his plan all along, but turns out no it&#39;s not, but it is... this kind of thing is still prevalent here, so I can&#39;t really rate this higher than my median).</p>
