---
layout: empty
title: The Price of Magic
---

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta property="og:title" content="The Price of Magic">
    <meta property="og:image" content="/images/Puella Magi Madoka Magica.jpg">
    <meta property="og:image:alt" content="Image of the key visual of the anime 'Puella Magi Madoka Magica', featuring the main cast, Madoka Kaname, Akemi Homura, Sayaka Miki, Sakura Kyouko and Mami Tomoe.">
    <meta property="og:description" content="The review of the anime 'Puella Magi Madoka Magica' by AlwaysNever.">
    <title>The Price of Magic</title>
    <link rel="stylesheet" href="/assets/css/madoka.css">
    <script type="importmap">
        {
          "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@0.174.0/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.174.0/examples/jsm/"
          }
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.4/howler.min.js" integrity="sha512-xi/RZRIF/S0hJ+yJJYuZ5yk6/8pCiRlEXZzoguSMl+vk2i3m6UjUO/WcZ11blRL/O+rnj94JRGwt/CHbc9+6EA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>

    <canvas id="bg"></canvas>
    <main>
      <nav>
        <div class="nav-items">
          <a href="/reviews/">Back</a>
        </div>
        <div class="nav-items">
          <div class="controls">
            <button id="muteButton" class="mute-btn">
              <span>Mute</span>
            </button>
          </div>
        </div>
      </nav>
      <header>
        <h1>The Price of Magic</h1>
        <p>A Puella Magi Madoka Magica Review</p>
      </header>

      <blockquote>
        <p><i>Puella Magi Madoka Magica</i></p>
        <br>
        <br>
        <p>is a show about magic, wishes,</p>
        <br>
        <br>
        <p>their consequences, and how far</p>
        <br>
        <br>
        <p>someone would go to endure them.</p>
      </blockquote>

      <section>
        <h2>I have heard of this show before getting contracted to watch it.</h2>
        <p>I know that this show is about magical girls, but delving into a much deeper topics than my impression of other "magical girl" shows. I was given an option between three shows and decided to pick this one even though I was a bit scared to jump into it.</p>

        <p>I'm no stranger to "dark" shows, but a "dark" magical girl show is something that I don't feel like I can enjoy, mostly because I rarely watches magical show in general, so I cannot appreciate how this will deviate from the tropes of magical girls shows.</p>
      </section>

      <section class="left">
        <h2>But... I still ended up picking this show.</h2>

        <p>Because this show still intrigues me. Why does everyone love Akemi Homura so much? Why is this show so beloved? Why does <i>Magia</i> is a fucking banger? (Yes, Magia is the biggest part of why I picked this series. That song is so unbelievably good, and I only found out later that it is only one part of a stellar list of OST in this series. More on that later.)</p>

        <p>And so I begin my journey into understanding the price of being magical.</p>
      </section>
      
      <blockquote>
        <p>"...We understood nothing at all.</p>
        <br>
        <br>
        <p>Not what it meant to wish</p>
        <br>
        <br>
        <p>for a miracle...</p>
        <br>
        <br>
        <p>nor its price." - Madoka</p>
      </blockquote>

      <section>
        <h2>Magic is not magic without consequences.</h2>
        <p>Or rather, the best description of this that I can find is Sanderson's Second Law. Limitations are more interesting that power, and in this series case, magical girls are more interesting when we know what makes them tick, their flaws, and their consequences of becoming magical in the first place.</p>

        <p>I realized when I first watched this series, <i>Puella Magi Madoka Magica</i>, that this is an exploration on that aspect of a story that is probably rarely explored at the time in other "magical girl" shows. What comes after obtaining power?</p>
      </section>

      <section class="left">
        <h2>Obtaining power means being responsible for the duties it brings.</h2>

        <p>We all know the Spider-Man quote. "With great power comes great responsibility." <i>Puella Magi Madoka Magica</i> shows that magical girls are risking their life to fight the witches, the extra-terrestrial being that is depicted masterfully by SHAFT in a way that makes me shiver.</p>

        <p>They're surreal, otherwordly, unlike the goofy monsters you might think when you think of shows from this genre. And above all, they are <i>dangerous</i>. They have the power, and now they're responsible to fight them off, or innocent people will die.</p>
      </section>

      <blockquote>
        <p>"I just pretend to be cool.</p>
        <br><br>
        <p>When I get scared or hurt,</p>
        <br><br>
        <p>there's no one I can talk to.</p>
        <br><br>
        <p>All I can do is cry on my own." - Mami</p>
      </blockquote>

      <section class="left">
        <h2>It is a lonely fight.</h2>
        <p>It surprises me a bit when they start showcasing loneliness of being a magical girl through the character Mami Tomoe. When I start to think about it, in this world, she is basically a soldier fighting against aliens with her life on the line almost every week, or every day.</p>
        
        <p>The reveal that she <i>has</i> to do it to survive as well (due to the corruption of the soul gem) horrifies me to the core. She has no one to turn to after obtaining her power, no one she can lean on, no support. She's been fighting all alone... That alone is kinda haunting to me.</p>
      </section>

      <blockquote>
        <p>"...That's too cruel!</p>
        <br><br>
        <p>Mami-san has been fighting all alone</p>
        <br><br>
        <p>for a long time</p>
        <br><br>
        <p>for everyone's sake!" - Madoka</p>
      </blockquote>

      <section>
        <h2>Being magical girls is not just for anybody.</h2>
        <p>Nothing showcases that more than after what happened to Mami in episode 3. That changes the vibes I feel about this show instantly. It's already different from episode 1, ever since they show me the horrifying visuals of the witches, but to show how dangerous the witches really are, it dawns on me that this is unlike anything I could have expected.</p>

        <p>To be chosen, to wish for a miracle, to obtain magical powers, it all has a price. And by episode 6 I realized what that cost is.</p>
      </section>

      <blockquote>
        <p>"A magical girl's wish</p>
        <br><br>
        <p>is supposed to be for herself</p>
        <br><br>
        <p>and should never be made</p>
        <br><br>
        <p>for anyone else." - Kyokou</p>
      </blockquote>
       
      <section class="left">
        <h2>What someone wishes defines who they are as a person.</h2>
        <p>In this world, once you contracted yourself to the magical being Kyubey, you are granted a single wish that will come true no matter what. Each magical girls has different wishes, but they all share the same thing; each wish defines them as a person.</p>
        
        <p>For Mami, who we never get to know more about, we were hinted that her wish didn't end up going well for her, which is why she cautions both Madoka and Sayaka. For Sayaka, it was a selfless wish to heal someone she love, and so does Sakura, to appease her father. Both wishes also ended up not working for the girls... and for Sayaka, catastrophically so.</p>
      </section>

      <section>
        <h2>There is no room for regret once you wished for something.</h2>
        <p>The process of becoming a magical girl is explained in great detail, and it fully dawns on me what they have to give up in order for a miracle to occur; their humanity.</p>
        
        <p>The show painfully illustrate what each girls has to endure to make sure their wish stayed true, and that depiction of Sayaka's descent into despair is masterfully done. Kyubey reveals at some point that Sayaka can actually just block the pain away if she wanted to, since she can heal them anyway, and the succeding event brought chills to my vein. Everything so far has gotten me enraptured in fascination.</p>
      </section>

      <blockquote>
        <p>"It's true!</p>
        <br><br>
        <p> I can block out the pain!</p>
        <br><br>
        <p>I don't feel any pain anymore!"</p>
        <br><br>
        <p>- Sayaka</p>
      </blockquote>

      <section>
        <h2>Power changes a person.</h2>
        <p>Sayaka wants to do good. She wants to save people, that's how she uses her power. But power changes a person, even if they claim they wouldn't. I mean, who wouldn't change if they realized that their body is indestructible? That pain is optional?</p>

        <p>Obtaining power this way make you realize... you're not human anymore. You are beyond mortal. Why should you stay who you are after that? As the series delve into this topic, it makes me reflect on a lot of things about humanity. Given sufficient power, people WILL change, for better, or worse.</p>
      </section>
      
      <section class="left">
        <h2>Be careful what you wishes for.</h2>
        <p>To add insult to injury, Sayaka also has to deal with Hitomi, one of her closest friend, confessing that she has been in love with the person she burned her wish from. To sacrifice your humanity for someone who doesn't even look at you the way you look at them. To then see this person gets taken away from you...</p>

        <p>Mami was right. Be careful what you wishes for. Her psyche afterwards is in tatters, her march into despair is portrayed in such a grim way, I wonder what my face looked like when it happened. Was I horrified, or smiled darkly like I knew this would happen? Everything gets corrupted in this series, and this is what they really mean by this series being "dark".</p>
      </section>

      <blockquote>
        <p>"I'll do it over. </p>
        <br><br>
        <p>No matter how many times it takes.</p>
        <br><br>
        <p>I will find the way out."</p>
        <br><br>
        <p>- Homura</p>
      </blockquote>

      <section class="left">
        <h2>Then there is the case of Homura, the mysterious.</h2>
        <p>From the very beginning, we were shown that she is somehow one step ahead of everyone. Her powers are mysterious, she can appear and disappear at will, and even the most veteran of magical girls has a difficulty fighting against her.</p>

        <p>It's not until the last few episodes do we understand everything about her and her tribulations.</p>
      </section>
      
      <section>
        <h2>Sometimes the only one you can trust is yourself.</h2>
        <p>Homura was not the strong person we know her to be in the beginning. It was her trials of reliving things over and over and over again without success that turns her into this cold being, whose sole purpose is to keep Madoka safe at any cost.</p>

        <p>She tried so hard to gather allies, to win with the power of friendship, but her knowledge of the future become the source of distrust, and so I had to watch in despair as she started to shut everyone off, preferring to not rely on anyone, and to keep up hope.</p>

        <p>By herself.</p>
      </section>

      <blockquote>
        <p>"If someone ever tells me</p>
        <br><br>
        <p>it's a mistake to have hope,</p>
        <br><br>
        <p>well then I'll just tell them</p>
        <br><br>
        <p>they're wrong."</p>
        <br><br>
        <p>- Madoka</p>
      </blockquote>

      <section class="left">
        <h2>Lastly, Madoka.</h2>
        <p>Madoka at the very beginning, right until the last episode, is shown to be a vessel of a true believer of the "magical girls". Her view of the world is that of a young girl, and each traumatic event that happened during the series shook her to her core, without fail.</p>

        <p>At some point, however, it gets to a point where I wonder if she ever going to get past it. I did not believe that this girl, which Kyubey dubbed as "the girl with the most potential for magic", is somehow so powerful that she deserve that title.</p>
      </section>
      
      <section>
        <h2>Therefore, hope.</h2>
        <p>And so the series shows that I lacked vision. That her entire demeanor so far is part of her journey to be able to wish for the impossible; to become hope herself, and eradicate witches, past, present, or future.</p>

        <p>With that, I get to witness Madoka ascend, which was painted in such a beautiful manner, I was lost for words. Episode 12 got me gasping for air as I realized I was holding my breath for too long, in awe at the sequence of event leading to Madoka's wish being granted... and the price she must pay in return.</p>
      </section>

      <blockquote>
        <p>What more can I say about this series?</p>
      </blockquote>

      <section class="left">
        <h2>The animation is rough, but purposeful.</h2>
        <p>It still took me out everytime the witches in this world appears. They literally look like an abstract idea brought to life, and it took me a bit to really get used to the artstyle.</p>

        <p>The vague futuristic urban setting intrigues me in the first few episodes, but sooner or later they get displaced as the animation focuses on the witch, the magical powers, and surrealism, which I still enjoy immensely.</p>
      </section>
      
      <section>
        <h2>Outside of the plot, the music is absolutely stellar.</h2>
        <p>I can name a few. Classic "Magia", of course, for every magical girl fight scene. "Sis Puella Magica!" to reel us in into the world of magic for the first time. "Credens Justitiam" for rising action and magical girl transformation.</p>

        <p>"Conturbatio" for somber and solem reflection. Even "Ave Maria", which is an actual classical piece, is reinterpreted beautifully. "Decretum", to portray the last vestiges of a kind girl who sacrificed her soul for someone who doesn't deserve it.</p>

        <p>If I have the time to go on the playlist of Madoka Magica OST, and point out what I feel about each and every one of them, I would. Hell, I should've probably done that. But I am going to stop myself before I started yapping too much.</p>
      </section>
      
      <section class="left">
        <h2>This series is good, but is it a perfect show?</h2>
        <p>My idea of a perfect series is beyond what this series offer. I still feel a bit of disconnect between me and this show solely due to my lack of immersion with magical girls genre, having consumed <i>zero</i> show of that kind before watching these. I feel like if I have even watched one or two magical girls show before this, and liked them so much, I would have appreciated this show a lot more...</p>

        <p>Don't get me wrong, the explanation above might seem like I'm putting a bad rating for this series, but it's merely explaining how I won't give this a 10/10 show, that's all.</p>
      </section>

      <blockquote>
        <p>Series: <b>Puella Magi Madoka Magica</b></p>
        <br>
        <br>
        <p>Rating: <b>9/10</b></p>
      </blockquote>
    </main>

    <script type="module" src="/assets/js/modules/madoka/visual.js"></script>
    <script type="module" src="/assets/js/modules/madoka/music.js"></script>
</body>