---
title: "Operation Two-Head"
description: "The review of the anime '86: Eighty Six' by AlwaysNever."
series: "86: Eighty Six"
media: (anime)
rating: 9.86
images: "/assets/images/86.jpg"
imagesalt: "Image of the key visual of the anime '86: Eighty Six', featuring the main cast, Vladilena Milize, Shinei Nouzen, Raiden Shuga, Anju Emma, Theoto Rikka and Kurena Kukumila."
font: allerta-stencil
---

<section class="allerta-stencil">
    <h2>D-804</h2>
    <p>First approach by _____ about the existence of Operation Two-Head.</p>

    <h2>D-666</h2>
    <p>Second approach by _____ about the existence of Operation Two-Head. Exposed to more information, including about Major Milize ('Head One') and Lieutenant Nouzen ('Head Two'), alongside Platoon Leader Kukumila. Brief skirmish in comparison to other media, codenamed "Operation Doll".</p>

    <h2>D-637 - D-603</h2>
    <p>Constant approach by _____ about the existence of Operation Two-Head, including possible viewing through the event codenamed "C_______". Successfully disengaged.</p>

    <h2>D-540 - D-516</h2>
    <p>Potential Operation Two-Head explorations are planned, but none are successful. _____ no longer approach.</p>

    <h2>D-355</h2>
    <p>[DANGER] Potential exposure to information pertaining Operation Two-Head. Successfully disengaged.</p>

    <h2>D-312</h2>
    <p>Comparison between Operation Two-Head and Operation Purple Spaceship is made. _____ does not engage.</p>

    <h2>D-264 - D235</h2>
    <p>Comparison between Operation Two-Head and Operation Winter Mobius is made. _____ engaged. Month long engagement as _____ return to previous form.</p>

    <h2>D-210</h2>
    <p>Acquired vital Operation Two-Head material. _____ engaged.</p>

    <h2>D-90</h2>
    <p>Operation Two-Head exploration is planned.</p>

    <h2>D-34</h2>
    <p>Operation Two-Head begun. Sub-operation codenamed "Undertaker" and "Spearhead" observed.</p>

    <h2>D-17</h2>
    <p>Operation Two-Head continues. Sub operation codenamed "Ikō" is observed, containing eight subroutines.</p>

    <h2>D-14</h2>
    <p>Operation Two-Head concludes. Sub operation codenamed "Goodbye" and "Thank You" is observed. Operation concluded with sub operation codenamed "Here We Go".</p>
    <p>Further comments below:</p>

    <blockquote>
        <p><i>86: Eighty Six</i> has been in my mind for years before I started. For more than two years, a friend of mine has been pestering me to watch this series. And for years I've seen many arts of Lena, tempting me to get into a series that I started to piece together through osmosis.</p>

        <p>I know the series is about war. I know that at some point I thought this series is like Brandon Sanderson's 'Skyward' series. I know there's a romance here (or so I was told). But nothing that came before can really prepare me for what this series is really about once I started watching them.</p>
                
        <p>When I first watch this series, three series came to mind immediately that I have experienced before; Red Rising, All You Need Is Kill, and to a lesser degree, Top Gun.</p>

        <p>It does not take me long to love this series. The dual POV and how each POV blend into each other is expertly weaved to make the series so compelling, with each protagonist of each POV being so interesting. A somehow pure ojou-sama who is a rising ranking officer in the empire, and the cool, calm, and collected Captain of the... "undesirables", the Eighty-Sixes.</p>

        <p>Not much about this story that I should reveal to you. This story is too good for me to spoil you, so I'll just say aspect of the presentation that I really enjoyed. I enjoyed their use of smash cut to deliver the maximum emotional impact of a scene, which I can surmise is probably something that they adapt straight from the novels. I really love that they make sure to include nuance in a topic that would be very incendiary otherwise, and portrays topic in both idealistic point of view, and realistically. I very much enjoyed the action piece, which is mostly mecha but they're so cool!</p>

        <p>And yes, that Fido cutscene guts me too, alongside numerous other that I won't name because of spoiler reason. (Most are related to smash cuts, as I explained above. These bastards know what they're doing...)</p>

        <p>And also yes, the OST for this fucking SLAPS. Hiroyuki Sawano... you bastard... you always came through. The OP is a banger, and the fucking ED made me cry at the last episode... the songs are so good...</p>
    </blockquote>

    <h2>D-12</h2>
    <p>[WARNING] Imminent warning about Operation Two-Head being inconclusive. Plans for Operation Two-Head Part Two is conceived and immediately formulated.</p>

    <h2>D-9</h2>
    <p>Operation Two-Head Part Two begun. Sub-operation codenamed "Welcome" is observed. Sub-operation codenamed "It's Too Late" is observed. Sub-operation "Glad To Be Here" is observed.</p>

    <h2>D-2</h2>
    <p>Operation Two Head Part Two continues. Sub operation codenamed "Hontō wa" is observed, containing four subroutines. <small>Fist are clenched, as situation are tense.</small></p>

    <h2>D-1</h2>
    <p>Operation Two Head Part Two concludes with sub-operation "Handler One" observed. <small>Tears were shed.</small></p>
    <p>Further comments below:</p>

    <blockquote>
        <p><i>86: Eighty Six Part Two</i> continues the story after we left off... and took a completely different turn.</p>
    
        <p>Everything about this fictional world I know before is upturned as new setting beckons, with new people... and new challenges.</p>
    
        <p>In this part I learned much about how even the most peaceful country can still bring heartbreak to the Eighty-Sixes. Their rights as human are restored, but because of the way they lived, they cannot conceive of a life outside of the battlefield.</p>
                
        <p>And so they return and risk their life, as that is the only life they know. Such sorrow I feel when I thought they finally had escaped certain death. The series this time is a little less despair-filled, as the main cast has better lives now... but the greater the peace, the greater the suffering.</p>

        <p>The animation never cease to amaze me, as I think this part actually elevates the series as a whole. There's tons of hidden meaning in the way they frame each scenes, so much so that I am just completely in awe with how much is packed inside a 24 minute episodes and everything just never seemed to be rushed or bloated. Every second of the show is there for a reason.</p>

        <p>It's the kind of quality I would expect to come out of a movie, older movies, where they need to put care into their work due to limited "film" they can produce. This part though does ditch the unique two POVs that they have before after a few episodes, due to plot reasons, but they completely make it up by giving us even more unique characters in the wake of the void Lena left.</p>

        <p>The OP for this season (and the ED too, surprisingly, after a few listen) is still so fucking good. I love the animation part where they transform a still image of whatever we see last into this graffiti like art. I really enjoyed how this anime WILL skip OP/ED entirely if they needed more time for the story. I find series that are willing to do that to be slightly superior, as the studio made the call to add MORE animation in order to not mess up with the flow of the story. </p>

        <p>By the end, I was completely shedding tears at the struggle our Reaper has with himself and his reason to live (while "Voices of the Chord", the season 2 version of that first season ED is playing... man...) and the ending that probably ranked pretty high in the list of animes that I've watched... and successfully managed to make me want to read the light novel. GODDAMN THIS SHOW IS SO GOOD. I CAN FINALLY JOIN EVERYONE WHO KEEP ASKING A-1 PICTURES ABOUT SEASON 2. WHERE IS SEASON 2?????</p>
    </blockquote>
            
    <h2>D-DAY</h2>
    <p>Operation records submitted. Final grading below:</p>
</section>