---
title: The Isolator
description: The review of the light novel series 'The Isolator' by AlwaysNever.
series: The Isolator
media: (light novel)
rating: 9
intro : "<p>Reki Kawahara you did it again, and now even better than your other series you bastard-</p>"
images: "/assets/images/The Isolator.jpg"
imagesalt: "Image of the first volume cover of the light novel series 'The Isolator', featuring the main heroine Yumiko Aizu, codename Accelerator."
---

<p>I have to preface this review with this; I&#39;ve read upwards to 30 novels written by this man, mostly <em>Sword Art Online</em> and <em>Accel World</em> to a limited extent, so I was pleasantly surprised that I got another of his series, something that I wasn&#39;t aware of, as part of my aid contract this season.</p>

<p><em>Zettai Naru Isolator</em>, or <em>The Isolator</em>, is a series set in a modern world where random people have been granted powers through the existence of a Third Eye. I must admit, the beginning of volume 1 was hard for me to get through, because I wasn&#39;t really picking up on the structure of his &quot;memory fragment&quot;... but it quickly became apparent to me why the story is structured this way as we learn about the circumstances of our main character, Minoru Utsugi.</p>

<p>The lone survivor of a home invasion that took the lives of his family, including his older sister Wakaba, he has derived a system with himself in order to cope with the trauma of losing his family; he will live a life without making connections and memories with other people, isolating himself from the whole world.</p>

<p>Minoru is a multi-faceted boy that I both love and hate. Some of his actions almost make you want to tear your hair in frustration, but knowing the circumstances behind his choice forces me to understand him. Throughout the three volumes that I read, I get to see his development, and by volume 3, his transformation has reached the peak that can be compared to the Alicization Arc of <em>Sword Art Online</em>.</p>

<p>Other aspect of this series that I enjoy is the supporting characters, the members of the SFD team. Yumiko, or Accelerator, is a standout tsundere that I can&#39;t help but love. Suu, or Refractor, is someone that came in unexpectedly, forces her way in, and then you ended up caring for. DD and Olivier (specifically Olivier) has interesting side to them, and to round it up we have the Professor, the youngest of them all, but also somehow the wisest.</p>

<p>Another thing that makes this series... &quot;interesting&quot;, is its focus on making sure we also get the villain&#39;s POV. In the first volume, I have to sit through uncomfortable depiction of cannibalism as the Biter plans his way to mess with Minoru&#39;s life. In the second volume, I sit through the ravings of an old mad man, the Igniter, as he managed to upgrade his skills to a bombastic proportions. The third volume deals with a wider mystery regarding the Syndicate, and we get to follow one of their henchman&#39;s POV. All of these people are serial killers, and Reki took the absolute precaution to make that clear. The Biter specifically reminded me of some of <em>Sword Art Online</em>&#39;s villain in some respect, and we know that the villains there are... pretty uncomfortable.</p>

<p>Either way, I finished my way through the third volume and had an absolute blast! I don&#39;t know if I&#39;m going to finish reading up to volume 5, because there&#39;s no motion regarding this series for a while, but once volume 6 is announced, you bet your ass I&#39;m gonna be there to read this series. I love the science fiction aspect of the powers, I love the romance and dynamic that each of the SFD team has with each other, and this series reminded me of other superhero-ish western series that I can&#39;t help but want to recommend, <em>The Reckoners</em> by Brandon Sanderson and <em>Super Powereds</em> by Drew Hayes.</p>
