---
title: "Life is Strange: Special Victims Unit"
description: "The review of the donghua 'Shiguang Dailiren' or 'Link Click' by AlwaysNever."
series: Link Click
media: (donghua)
rating: 9
intro : "<p><i>We keep this love in a photograph</i></p>
<p><i>We made these memories for ourselves</i></p>
<p><i>Where our eyes are never closin'</i></p>
<p><i>Hearts are never broken</i></p>
<p><i>And time's forever frozen still</i></p>"
images: /assets/images/Link Click.jpg
imagesalt: "Image of the poster of the donghua 'Shiguang Dailiren' or 'Link Click', featuring the main characters, Lu Guang and Cheng Xiaoshi."
---

<p><i>Shiguang Dailiren</i>, or <i>Link Click</i>. God knows how many people has been GLAZING this series in all the places I frequent.</p>

<p>What took me so long to finally watch this?</p>
<small>Procrastination, it's always procrastination. Moving on...</small>

<p>Yes, my first thought when I heard of the premise was <i>Isn't this basically Life is Strange?</i></p>

<p>The series immediately starts with us seeing the two pairs that we will follow throughout the series, the pair that shares the power to travel through time with photograph. Lu Guang and Cheng Xiaoshi.</p>

<div>
    <small>"The camera is a fluid way of encountering that other reality." <br>- Jerry N. Uelsmann</small>
</div>

<p>It almost follows an episodic approach, where the pair solves problem using their time travel, whether to steal a tampered financial report, a secret recipe, or something more abstract like figuring out a secret martial arts technique.</p>

<div>
    <small>"The portrait is your mirror. It's you."
    <br>- August Sanders
    </small>
</div>

<p>I have to confess, I used the original Chinese voice when I watch this series, as this is originally a donghua, or chinese animation. This is my first ever experience with Donghua, and it took me a bit to acclimate with the voice differences coming from someone who is used to Japanese voice acting.</p>
            
<div>
    <small>"If your pictures aren't good enough, you're not close enough." 
    <br>- Robert Capa
    </small>
</div>
            
<p>But it doesn't take me long before I started to get into the story. As soon as episode 2 ends, I was hooked. I am a sucker for these type of stories, episodic narrative that has crumbs of overarching plot. I cried many times throughout the show, from the two older ladies finding each other again after parting ways due to the success of their noodle chain, going back in time to give a middle-aged man closure regarding his loved ones that has perished in a major accident, or even this special episode about a guy that kept trying to fight a master in martial arts in order to properly marry his daughter.</p>

<div>
    <small>"Not searching for unusual subject matter but making the commonplace unusual."
    <br>- Edward Weston
    </small>
</div>

<p>Every arc of this show is expertly weaved with Cheng and Lu's dynamic. Headstrong, emotional response to each cases, doused in the coolheadedness of following the rules that they set together; let the past be. Do not alter the timeline.</p>

<div>
    <small>"You have to be ready for luck."
    <br>- Neil Leifer
    </small>
</div>

<p>Every arc is tinged with this melancholy, of how photograph contains memories of each client, how it crystallize that moment in time for them, and whatever regret, pain, or other negative feeling they have at the time, as well. From losing your best friend/partner, your entire community, your children, or losing yourself after chasing that dream working in the city...</p>

<div>
    <small>"The photographer must be part of the picture."
    <br>- Arnold Newman
    </small>
</div>

<p>And then they have to end this with the biggest cliffhanger I have ever seen, bordering on diabolical. WHO THE FUCK IS THAT STABBING PEOPLE AND KILLING EMMA? YOU GUYS HAVE TO WAIT FOR SEASON 2 TO KNOW WHO IT IS?! DAMN BRO, THAT'S EVIL AS SHIT</p>

<div>
    <small>"A good photograph is like a good hound dog, dumb, but eloquent."
    <br>- Eugene Atget
    </small>
</div>

<p>Test</p>

<div>
    <small>"While photograph may not lie, liars may photograph."
    <br>- Lewis Hine
    </small>
</div>
            
<p>Test</p>

<div>
    <small>"The negative is the equivalent of the composer's score, and the print the performance."
    <br>- Ansel Adams
    </small>
</div>
            
<p>Test</p>

<div>
    <small>"Wherever there is light, one can photograph."
    <br>- Alfred Stieglitz
    </small>
</div>

<p>Test</p>