---
title: "Love Me Unseriously"
description: "The review of the visual novel 'Majikoi: Love Me Seriously' by AlwaysNever."
series: "Majikoi: Love Me Seriously"
media: (visual novel)
rating: 8.5
intro: "<p><i>Dreams.</i></p>
<p><i>Friends.</i></p>
<p><i>Devotion.</i></p>
<p><i>Justice.</i></p>
<p><i>Power.</i></p>"
images: "/assets/images/Majikoi.jpg"
imagesalt: "Image of the poster for the visual novel 'Majikoi: Love Me Seriously', featuring the main heroines, Momoyo Kawakami, Kazuko Kawakami, Christiane Friedrich, Yukie Mayuzumi and Miyako Shiina."
font: kosugi-maru
draft: true
---

<section class="kosugi-maru-regular">
            <h2>Dreams (Wanko)</h2>
            <div class="mask1">
                <img src="/assets/images/majikoi/kazuko.png" alt="" width="168" height="186">
            </div>
            <p><i>Below are my review posted for the Contracts Event, specifically the Visual Novel specials. There might be a better, more in-depth review coming after I finished all of the route, and this will be deprecated when that is realized.</i></p>

            <p>So... Majikoi is a Visual Novel about samurai girls. That’s about it, really.</p>
            
            <p>..okay okay there’s more to this than just that. It's a shonen-esque tale about Kazama family, a group of nine youngins and the shenanigans they have in their life. The common route introduces me to everyone.... and then even more people orbiting around them like the class 2-F, their rivals class 2-S, Kawakami Temple monks, dormmates, military bodyguards, teachers, street punks, store owners, and so much more characters I can't remember off the top of my head.</p>
            
            <p>Everyone brings their own color to this kaleidoscope of roster, with equally colorful plot filled with slice of life and slapstick gag that involves martial arts... but beneath it all, I was able to uncover heartful tale of found family and the strength of bond between friends and how far they will go for each other. I almost compared this gang to Beelzebub's main gang, especially because their flashback story involves them being enemies first (just like Beelzebub) and our current story mirroring the last arc where everyone has come together to become one unit... one family, the Kazama family. The addition of Chris and Mayu to the group was expertly written, especially the confrontation as each of the new member's pain points are addressed and discussed over, even if it has to go through arguments.</p>
            
            <p>The strength of this story does lie in its shonen like story structure, especially the use of Sports day and Tournament arcs to weave a meaningful message across to me. I only read through Wanko's route so I can't attest for other routes, but I can only imagine the other route has a different, yet just as powerful message contained within them.</p>
            
            <p>In this particular route though, the story consistently beat into me about it's main theme; dreams.</p>

            <p>I can go on and on about how much I love Kazuko route, but I will be brief. Kazuko is lovely, she is one of the best argument you can make about how VA elevates a VN. I love her unique voices that portrays how expressive and determined she is. I love how hardworking she is, and when the plot reached a point where I have to see her cheerful demeanor wiped into non-existence, it hurts so much more. The series successfully managed to leverage its comedic timing to lower my guard about its more serious plot. Their chemistry is so real I can't help but squee a little once they become official, because holy shit they're so cute together I need more-</p>
            
            <p>Ehm. Anyway.... this series is not as perfect as I made it sound, however. You can practically see that this was made in the late 2000s and have that type of 'boys-only' jokes, which at this point I have come to just laugh off, that definitely make this series feels dated. But thankfully I'm not a stickler about it, and it doesn't overwhelm the story too much in comparison to main plot.</p>
            
            <p>I will have to apologize to my sponsor for dismissing this story for so long, thinking it's nothing more than a shonen romcom... I was wrong...</p>
            
            <small>happy now ya bastard, you win... you got me to read Majikoi... YOU WIN....</small>

            <figure style="text-align: center;">
                <img src="/assets/images/majikoi/kazuko_proof.jpg" title="Proof that I finished Kazuko's route" alt="Proof that I finished Kazuko's route" height="400">
                <figcaption>Picture above as proof I did it, about an hour ago, WHILE I'M ON A FAMILY TRIP, MIND YOU.</figcaption>
            </figure>
        </section>
        <section>
            <h2>Friends (Mayucchi)</h2>
            <div class="mask2">
                <img src="/assets/images/majikoi/kazuko.png" alt="" width="168" height="186">
            </div>
        </section>
        <section>
            <h2>Devotion (Miyako)</h2>
            <div class="mask3">
                <img src="" alt="" width="" height="">
            </div>
        </section>
        <section>
            <h2>Justice (Chris)</h2>
            <div class="mask4">
                <img src="" alt="" width="" height="">
            </div>
        </section>
        <section>
            <h2>Power (Momoyo)</h2>
            <div class="mask5">
                <img src="" alt="" width="" height="">
            </div>
        </section>