---
title: "Beater, the Other Side/Guild Wars"
description: "The review of the movies within the 'Sword Art Online: Progressive' series by AlwaysNever."
series: "Sword Art Online: Progressive"
media: (anime)
rating: 7
ratingaddon: "<ul>
<li>Aria of a Starless Night: <b>7.5/10</b></li>
<li>Scherzo of Deep Night: <b>6/10</b></li>
</ul>"
images: "/assets/images/Aria of a Starless Night.jpg"
imagesalt: "Image of the poster for the movie 'Sword Art Online Progressive: Aria of a Starless Night', featuring the main cast Asuna, Mito and Kirito."
images2: "/assets/images/Scherzo of Deep Night.jpg"
images2alt: "Image of the poster for the movie 'Sword Art Online Progressive: Scherzo of Deep Night', featuring the main cast Kirito, Asuna, Argo, alongside side casts."
---

        <section>
            <h2>Beater, the Other Side</h2>
            <p>Watching this movie, at first, is like getting transported back to your childhood all over again. I was teenager in middle school when I first watched Kayaba Akihiko delivers his famous speech and the Sword Art Online experience truly began as everyone's true face is revealed. (I noticed the cameo of future characters there, I see you!)</p>
            
            <p>I feel a strong sense of nostalgia pouring through as I watched through that part of the story again, but this time through the eyes of Asuna and her friend, Mito.</p>
            
            <p>I thoroughly enjoyed the different experience this movie gives me of the same story, but something keeps nagging at me at the back of my head as we reached the climactic scene where Kirito first appears, as Mito has to leave Asuna behind to save herself, leaving Kirito to meet Asuna for the first time.</p>
            
            <p>This story... feels a bit retcon-y after Kirito appears.</p>
            
            <p>The story of the first two episode is still very clear in my mind, and for the longest time, I've been avoiding reading progressive because I thought the story will feel tacked in towards the actual canon, even though this was supposed to be a retelling... and this movie is pretty much exactly what I feared.</p>
            
            <p>And worse.</p>
            
            <p>Imagine my surprise when I learned that Mito is an original character that doesn't appear in the original Progressive novels. Imagine my deep sense of betrayal thinking that her story with Asuna, compelling as it is, is entirely movie canon and doesn't come from the novel at all.</p>
            
            <p>I began to see a lot of elements that doesn't seem to fit, especially because of Mito's existence. It's like I'm seeing the appearance of the Ordinal Scale characters back at Alicization again, but they're more cameo-ish instead of Mito's schrodinger existence.</p>
            
            <p>Either way, I still have to give them props. Action scene is still impeccable, animation quality is still top tier, almost like I'm watching a remaster of episode 2 of the original anime at times. But I am sad to say that noticing how it deviates really far from its source dampened my feelings a bit regarding the movie.</p>
        </section>

        <section>
            <h2>Guild Wars</h2>
            <p>This movie continues the thread of how these movies follows their own canon and adapting major parts of the novel while spinning the threads into their own story. Kirito and Asuna now is a full fledged partners, who stumbled themselves into a major conflict between the two major guilds that has now established within SAO; ALS, the precursor of &lt;The Army&gt; from the original anime, and DKB, the precursor of the &lt;Divine Dragon Alliance&gt;.</p>
            
            <p>I must say, it took me a bit to finish this movie because I feel like I had to stop at times due to how sloggish it felt to me. Not even a bath scene with Argo and Asuna got me excited, or their duel at said bath. They do get me a bit with Asuna alone scene, where she has to find the strength within herself to survive alone in the caves, but it comes and goes.</p>
            
            <p>But later on though, there is one scene that gets me going... and that is the BOSS battle. Holy crap, that scene alone saved the entire movie for me. It's engaging, tense, full of action, adrenaline pumping, and actually make me excited for future movies where it's just them fighting these bosses and the story behind it, instead of... the plot they have for this movie.</p>
            
            <p>I do wonder if the PKers are the precursor of &lt;Laughing Coffin&gt;, and if they're gonna tackle that subplot... that would have been interesting. But I find their inclusion in this movie short and uninteresting. Other than that, the animation at times also look... weird? Like, I can't really explain it that well, it's like sometimes it's on a different frame. This movie ended up being a major stepdown for me.</p>
        </section>