/* -----------------------------------------------------------------------------
  This is the place for shameful CSS solutions. 
  (Also see: https://csswizardry.com/2013/04/shame-css/)
  
  Make sure to document all those nasty hacks with comments:
 
   1. What part of the codebase does it relate to?
   2. Why was this needed?
   3. How does this fix it?
   4. How might you fix it properly, given more time?
 
  ----------------------------------------------------------------------------- 
*/

.intro-paragraph{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
  
.column{
    flex-direction: column;
    padding: 20px;
}
  
.images{
    display: flex;
    justify-content: center;
    padding: 10px;
}

@media only screen and (min-width: 1024px) {
    .images img{
        width: 50%;
    }
  }


/* Love Me Unseriously masks */
.mask1 {
  -webkit-mask-image: url(/assets/images/majikoi/masks/dreams.png);
  mask-image: url(/assets/images/majikoi/masks/dreams.png);
  mask-repeat: no-repeat;    
}

.mask2{
  -webkit-mask-image: url(/assets/images/majikoi/masks/friend.png);
  mask-image: url(/assets/images/majikoi/masks/friend.png);
  mask-repeat: no-repeat;    
}

/* theme button */
.theme_toggle{
    padding: .5rem;
    border-color: rgba(0, 0, 0, 0);
    transition: all var(--global-transition-time) ease-in-out;
    background-image: url(/assets/icons/theme-dark.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline;
    position: relative;
}

.theme_toggle.light-theme{
	background-image: url(/assets/icons/theme-light.svg);
}