/* -----------------------------------------------------------------------------
  This is the place for shameful CSS solutions. 
  (Also see: https://csswizardry.com/2013/04/shame-css/)
  
  Make sure to document all those nasty hacks with comments:
 
   1. What part of the codebase does it relate to?
   2. Why was this needed?
   3. How does this fix it?
   4. How might you fix it properly, given more time?
 
  ----------------------------------------------------------------------------- 
*/

.intro-paragraph{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
  
.column{
    flex-direction: column;
    padding: 20px;
}
  
.images{
    display: flex;
    justify-content: center;
    padding: 10px;
}

@media only screen and (min-width: 1024px) {
    .images img{
        width: 50%;
    }
  }