@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


:root{
    --spacing: 350px;

    font-family: "Playfair Display", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

html, body {
   margin: 0;
   height: 100%;
}
#bg {
   width: 100%;
   height: 100%;
   display: block;
}

nav, 
footer{
    position: fixed;
    width: 95%;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    mix-blend-mode: exclusion;
    z-index: 3;
}

nav {
    top: 0;
}

nav > div {
    flex: 1;
    display: flex;
    gap: 2em;
}

.nav-items:nth-child(2) {
    justify-content: flex-end;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    color: #e0e0e0;
    background-color: rgba(0, 0, 0, 0.88);
}

main {
    position: absolute;
    width: 100vw;
    z-index: 99;
    margin: 0px auto;
    padding: 120px 0px;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote{
    font-family: "Playfair Display", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
}

header {
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
}

header h1, header p {
    background: rgba(0, 0, 0, 1);
    color: #e0e0e0;
}

section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.88);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
}

section h2, section p{
    color: #e0e0e0
}

blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
}

blockquote p {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1;
}

.left {
    grid-column: 6 / 12;
}

button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.2s;
}

button > span {
    font-family: "Playfair Display", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 25px;
}

.mute-btn {
    color: #e0e0e0;
    background-color: rgba(0, 0, 0, 0.88);
}
  
.mute-btn:hover {
    background-color: #1a202c;
}

.icon {
    width: 18px;
    height: 18px;
    margin-right: 8px;
  }

.controls {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}