---
title: "Beers!"
description: "...as depicted on the Japanese Light Novel series 'Imouto Sae Ireba Ii.', or 'A Sister's All You Need'."
permalink: "/legacy-site/beer/"
modern_url: "/beers/"
---

<!-- IMMERSIVE RETRO FONTS DIRECT INJECTIONS -->
<link rel="shortcut icon" href="/assets/icons/beer.ico" type="image/x-icon">
<link rel="preconnect" href="https://googleapis.com">
<link rel="preconnect" href="https://gstatic.com" crossorigin>
<link href="https://googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:ital,wght@0,700;1,400&display=swap" rel="stylesheet">

<div class="beer-legacy-wheat-canvas">
  <main id="main">
    
    <!-- EXCLUSIVE BEER HEADER LAYOUT BRANDING -->
    <header>
      <p class="beer-title center">Beers!</p>
      <p class="beer-subtitle center">in Imosae.</p>
    </header>

    <!-- CLASSIC RETRO VOLUME GRID MATRIX -->
    <div class="review-grid">
      
      <div class="title-grid">Volume 1</div>
      
      <!-- ITEM CARD 1: GOUDEN CAROLUS TRIPEL -->
       <div class="card1 vol1-1" id="gc-tripel" 
       data-hover-quote='<i>"...two Belgian beers, the <b><u>Tripel</u></b> and Christmas from Gouden Carolus."</i><br><i>A Sister&apos;s All You Need</i>, Volume 1, page 50'>
        <span class="beer-name"><i><b>Gouden Carolus Tripel</b></i></span><br /> 
        <span class="chapter-label">Chapter: <i>The Occasional Guy Friend</i></span><br /><br />
        <div class="legacy-img-bounding">
          <img src="https://cdn11.bigcommerce.com/s-1up9z7fkpb/images/stencil/640w/products/20601/3363776/GC-Tripel__21739.1692763672.jpg?c=2" alt="Gouden Carolus Tripel product portrait" loading="lazy">
        </div>
      </div>

      <!-- ITEM CARD 2: GOUDEN CAROLUS CHRISTMAS (IMAGE MATCH: image_SRvOLp) -->
        <div class="card2 vol1-2" id="gc-christmas" 
       data-hover-quote='<i>"...two Belgian beers, the Tripel and <b><u>Christmas</u></b> from Gouden Carolus."</i><br><i>A Sister&apos;s All You Need</i>, Volume 1, page 50'>
        <span class="beer-name"><i><b>Gouden Carolus Christmas</b></i></span><br /> 
        <span class="chapter-label">Chapter: <i>The Occasional Guy Friend</i></span ><br /><br />
        <div class="legacy-img-bounding">
          <img src="https://images.alko.fi/images/cs_srgb,f_auto,t_medium/cdn/786844/gouden-carolus-christmas.jpg" alt="Gouden Carolus Christmas holiday bottle" loading="lazy">
        </div>
      </div>

      <!-- ITEM CARD 3: ORION SOUTHERN STAR (IMAGE MATCH: image_Qy2Ljr) -->
        <div class="card1 vol1-3" id="orion-southern" 
       data-hover-quote='<i>"From the Nangoku Chuhai to the <b><u>Orion Southern Star</u></b>..."</i><br><i>A Sister&apos;s All You Need</i>, Volume 1, page 81'>
        <span class="beer-name"><i><b>Orion Southern Star</b></i></span><br />
        <span class="chapter-label">Chapter: <i>Baring All</i></span><br /><br />
        <div class="legacy-img-bounding">
          <img src="https://mhksg2020.blob.core.windows.net/cmsstorage/sogo/media/freshmart/wine/90200001-90300000/90278405.jpg" alt="Orion Southern Star can illustration" loading="lazy">
        </div>
      </div>

      <!-- ITEM CARD 4: ORION SPECIAL X (IMAGE MATCH: image_VY3Qvk) -->
        <div class="card2 vol1-4" id="orion-special-x" 
       data-hover-quote='<i>"..the Orion Southern Star and <b><u>Special X</u></b> beers,..."</i><br><i>A Sister&apos;s All You Need</i>, Volume 1, page 81'>
        <span class="beer-name"><i><b>Orion Special X</b></i></span><br />
        <span class="chapter-label">Chapter: <i>Baring All</i></span><br /><br />
        <div class="legacy-img-bounding">
          <img src="https://image.entabe.jp/upload/201607/images/01_4.jpg" alt="Orion Special X sharp and dry can graphic" loading="lazy">
        </div>
      </div>

        <div class="card1 vol1-5">
                <span class="beer-name"><i><b>Sankt Gallen Imperial Chocolate Stout</b></i></span><br />
                <span class="chapter-label">Chapter: <i>Valentine's Day</i></span><br /><br />
            <div class="legacy-img-bounding">
                <img src="https://en.momoncojp.com/wp-content/uploads/2017/09/SanktGallen_ImperialChocolateStout.png"
                    height="200">
            </div>
        </div>
            <div class="card2 vol1-6">
                <span class="beer-name"><i><b>Sankt Gallen Sweet Vanilla Stout</b></i></span><br />
                <span class="chapter-label">Chapter: <i>Valentine's Day</i></span><br /><br />
                <div class="legacy-img-bounding">
                    <img src="https://en.momoncojp.com/wp-content/uploads/2017/09/SanktGallen_SweetVanillaStout.png"
                    height="200">
                </div>
            </div>
            <div class="card3 vol1-7">
                <span class="beer-name"><i><b>Winterkoninkske</b></i></span><br />
                <span class="chapter-label">Chapter: <i>Valentine's Day</i></span><br /><br />
                <div class="legacy-img-bounding">
                    <img src="https://belgiancraftbeers.com/wp-content/uploads/2020/10/Winterkoninkske-768x768.png.webp"
                    height="200">
                </div>
            </div>

            <div class="title-grid">Volume 2</div>
            <div class="card1 vol2-1">
                <span class="beer-name"><i><b>Lindemans Framboise</b></i></span><br />
                <span class="chapter-label">Chapter: <i>Cat & Chocolate: Blooming Days</i></span><br /><br />
                <div class="legacy-img-bounding">
                    <img src="https://merchantduvin.com/wp-content/uploads/2021/09/lindemans_framboise_12z_website_2022.png"
                        height="200">
                </div>
            </div>
            <div class="card2 vol2-2">
                <span class="beer-name"><i><b>Edelweiss Weissbier Snowfresh</b></i></span><br />
                <span class="chapter-label">Chapter: <i>The Usual Sort of Ending</i></span><br /><br />
                <div class="legacy-img-bounding">
                <img src="https://res.cloudinary.com/ratebeer/image/upload/w_250,c_limit/beer_72025.jpg"
                    height="200">
            </div>
            </div>
            <div class="card1 vol2-3">
                <span class="beer-name"><i><b>Bink Bloesem</b></i></span><br />
                <span class="chapter-label">Chapter: <i>The Usual Sort of Ending</i></span><br /><br />
                <div class="legacy-img-bounding">
                <img src="https://belgianbeertraders.com/wp-content/uploads/2018/02/Bink-Bloesem-33cl.jpg"
                    height="200">
            </div>
            </div>
            <div class="card2 vol2-4">
                <span class="beer-name"><i><b>Gouden Carolus Cuvée van de Keizer Red</b></i></span><br />
                <span class="chapter-label">Chapter: <i>It Happens, Man: Anime Adaptation 101</i></span><br /><br />
                <div class="legacy-img-bounding">
                <img src="https://img.saveur-biere.com/img/p/2674-53578.jpg" height="200">
            </div>
            </div>
            <div class="title-grid">Volume 3</div>
            <div class="card1 vol3-1">
                <span class="beer-name"><i><b>Lindemans Kriek</b></i></span><br />
                <span class="chapter-label">Chapter: <i>Age Twenty-One</i></span><br /><br />
                <div class="legacy-img-bounding">
                <img src="https://www.thebelgianbeercompany.com/wp-content/uploads/2018/08/Lindemans-Kriek-37cl.jpg"
                    height="200">
            </div>
            </div>
            <div class="card2 vol3-2">
                <span class="beer-name"><i><b>Boon Kriek/Kriek Boon</b></i></span><br />
                <span class="chapter-label">Chapter: <i>Age Twenty-One</i></span><br /><br />
                <div class="legacy-img-bounding">
                <img src="https://boon.be/media/pages/onze-bieren/fruitbieren/399944c7ae-1648557370/product-kriekboon.png"
                    height="200">
            </div>
            </div>
            <div class="card1 vol3-3">
                <span class="beer-name"><i><b>Franziskaner Hefe-Weissbier</b></i></span><br />
                <span class="chapter-label">Chapter: <i>I Wanna Be The Protagonist</i></span><br /><br />
                <div class="legacy-img-bounding">
                <img src="https://jimscellars.com.au/cdn/shop/products/franzi_1024x1024.jpg?v=1577953038"
                    height="200">
            </div>
            </div>
            <div class="card2 vol3-4">
                <span class="beer-name"><i><b>Weihenstephaner Vitus</b></i></span><br />
                <span class="chapter-label">Chapter: <i>I Wanna Be The Protagonist</i></span><br /><br />
                <div class="legacy-img-bounding">
                <img src="https://www.missionliquor.com/cdn/shop/files/Weihenstephaner-Vitus-500ml_600x.jpg?v=1683920691"
                    height="200">
            </div>
            </div>
            <div class="title-grid">Volume 4</div>
            <div class="card1 vol4-1">
                <span class="beer-name"><i><b>Gouden Carolus Cuvée van de Keizer Red</b></i></span><br />
                <span class="chapter-label">Chapter: <i>June 6</i></span><br /><br />
                <div class="legacy-img-bounding">
                <img src="https://img.saveur-biere.com/img/p/2674-53578.jpg" height="200">
            </div>
            </div>
            <div class="card2 vol4-2">
                <span class="beer-name"><i><b>Bierblomme</b></i></span><br />
                <span class="chapter-label">Chapter: <i>My Little Sister Can't Be Cute (At All)</i></span><br /><br />
                <div class="legacy-img-bounding">
                <img src="https://brouwerijderyck.be/_images/beers/45.jpg" height="200">
            </div>
            </div>
            <div class="card3 vol4-3">
                <span class="beer-name"><i><b>Hoegaarden Original White</b></i></span><br />
                <span class="chapter-label">Chapter: <i>The Omen</i></span><br /><br />
                <div class="legacy-img-bounding">
                <img src="https://wayne.bottleking.com/images/sites/wayne/labels/w7824243o7_1.jpg" height="200">
            </div>
            </div>
            <div class="title-grid">Volume 5</div>
            <div class="card3 vol5-1">
                <span class="beer-name"><i><b>Framboise Boon</b></i></span><br />
                <span class="chapter-label">Chapter: <i>Star of the Common Man</i></span><br /><br />
                <div class="legacy-img-bounding">
                <img src="https://boon.be/media/pages/onze-bieren/fruitbieren/84758bcb04-1648557370/product-framboiseboon.png"
                    height="200">
            </div>
            </div>
            <div class="title-grid">Volume 6</div>
            <div class="card3 vol6-1">
                <span class="beer-name"><i><b>Hoegaarden Original White</b></i></span><br />
                <span class="chapter-label">Chapter: <i>The After-Party</i></span><br /><br />
                <div class="legacy-img-bounding">
                <img src="https://wayne.bottleking.com/images/sites/wayne/labels/w7824243o7_1.jpg" height="200">
            </div>
            </div>
            <div class="title-grid">Volume 7</div>
            <div class="card3 vol7-1">
                <span class="beer-name"><i><b>Vedett Extra Blond</b></i></span><br />
                <span class="chapter-label">Chapter: <i>Things That Change, Things That Don't</i></span><br /><br />
                <div class="legacy-img-bounding">
                <img src="images/Vedett.png" height="200">
            </div>
            </div>
            <div class="title-grid">Volume 8</div>
            <div class="card3 vol8-1">
                <span class="beer-name"><i><b>Liefmans Gluhkriek</b></i></span><br />
                <span class="chapter-label">Chapter: <i>Prince Manwhore II</i></span><br /><br />
                <div class="legacy-img-bounding">
                <img src="https://cdn.webshopapp.com/shops/310202/files/431256840/650x750x2/liefmans-gluhkriek-75cl.jpg"
                    height="200">
            </div>
            </div>
            <div class="title-grid">Volume 9</div>
            <div class="card1 vol9-1">
                <span class="beer-name"><i><b>Bieken</b></i></span><br />
                <span class="chapter-label">Chapter: <i>Next Year's Cherry Blossoms</i></span><br /><br />
                <div class="legacy-img-bounding">
                <img src="https://www.beersofeurope.co.uk/wp-content/uploads/2023/01/BoelensBiekenHoningbier060917.jpg"
                    height="200">
            </div>
            </div>
            <div class="card2 vol9-2">
                <span class="beer-name"><i><b>Sankt Gallen Kansha no Nama Gold</b></i></span><br />
                <span class="chapter-label">Chapter: <i>The White Box</i></span><br /><br />
                <div class="legacy-img-bounding">
                <img src="https://momoncojp.com/wp-content/uploads/2017/08/SanktGallen_KanshaGold.png"
                    height="200">
            </div>
            </div>
            <div class="title-grid">Volume 10</div>
            <div class="card1 vol10-1">
                <span class="beer-name"><i><b>Hoegaarden Forbidden Fruit</b></i></span><br />
                <span class="chapter-label">Chapter: <i>Age Twenty</i></span><br /><br />
                <div class="legacy-img-bounding">
                <img src="https://www.beerritz.co.uk/images/ww/product/172629-mi.jpg" height="200">
            </div>
            </div>
            <div class="card2 vol10-2">
                <span class="beer-name"><i><b>Hoegaarden Original White</b></i></span><br />
                <span class="chapter-label">Chapter: <i>Age Twenty</i></span><br /><br />
                <div class="legacy-img-bounding">
                <img src="https://wayne.bottleking.com/images/sites/wayne/labels/w7824243o7_1.jpg" height="200">
            </div>
            </div>
            <div class="title-grid">Volume 11</div>
            <div class="card3 vol11-1">
                <span class="beer-name"><i><b>Altbier</b></i></span><br />
                <span class="chapter-label">Chapter: <i>The Kamakura Trip</i></span><br /><br />
                <div class="legacy-img-bounding">
                <img src="https://germanbrewers.com/files/vab/alt-hoch.jpg" height="200">
            </div>
            </div>
            <div class="title-grid">Volume 12</div>
            <div class="card3 vol12-1">
                <span class="beer-name"><i><b>Vedett Extra White</b></i></span><br />
                <span class="chapter-label">Chapter: <i>A New Love</i></span><br /><br />
                <div class="legacy-img-bounding">
                <img src="https://vedett-wp.imgix.net/sites/7338/2020/07/vedett-bottle_white.png?w=76&h=216&fit=clip&auto=format&q=60&dpr=2"
                    height="200">
            </div>
            </div>
            <div class="title-grid">Volume 13</div>
            <div class="card1 vol13-1">
                <span class="beer-name"><i><b>Delirium Tremens</b></i></span><br />
                <span class="chapter-label">Chapter: <i>I Love You</i></span><br /><br />
                <div class="legacy-img-bounding">
                <img src="https://beerforce.sg/cdn/shop/products/e867e42cfcb86c68d0c58652f11bdf8a66619517_600x.png?v=1595587387"
                    height="200">
            </div>
            </div>
            <div class="card2 vol13-2">
                <span class="beer-name"><i><b>Saison Dupont</b></i></span><br />
                <span class="chapter-label">Chapter: <i>I Love You</i></span><br /><br />
                <div class="legacy-img-bounding">
                <img src="https://cdn.webshopapp.com/shops/65337/files/406885197/650x750x2/saison-dupont-biologique.jpg"
                    height="200">
            </div>
            </div>
            <div class="card3 vol13-3">
                <span class="beer-name"><i><b>Leffe Radieuse</b></i></span><br />
                <span class="chapter-label">Chapter: <i>I Love You</i></span><br /><br />
                <div class="legacy-img-bounding">
                <img src="https://www.beerritz.co.uk/images/ww/product/170910-zi.jpg" height="200">
            </div>
            </div>
            <div class="title-grid">Volume 14</div>
            <div class="card1 vol14-1">
                <span class="beer-name"><i><b>Lindemans Pecheresse</b></i></span><br />
                <span class="chapter-label">Chapter: <i>Northward Bound</i></span><br /><br />
                <div class="legacy-img-bounding">
                    <img src="https://cdn.webshopapp.com/shops/65337/files/423687497/650x750x2/lindemans-pecheresse.jpg"
                    height="200">
                </div>
            </div>
            <div class="card2 vol14-2">
                <span class="beer-name"><i><b>Asahi Extra Cold</b></i></span><br />
                <span class="chapter-label">Chapter: <i>Publishing Without Honor or Humility</i></span><br /><br />
                <div class="legacy-img-bounding">
                    <img src="https://www.asahigroup-holdings.com/en/img/research/system/breweries/packaging_img03.jpg"
                    height="200">
                </div>
            </div>
        </div>
  </main>
</div>

<!-- SECURE ENVIRONMENT VERSION DROPDOWN MATRIX SYNCHRONIZER -->
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const envSelector = document.querySelector('#site-version-select');
    if (envSelector) {
      envSelector.value = "/legacy-site/";
    }
  });
</script>
