---
title: Dreams. Determination. Inspiration.
description: The review of the manga series 'Bakuman' by AlwaysNever.
series: Bakuman
media: (manga)
rating: 8
intro : "<p>Bakuman is a story about those three words, and so much more.</p>"
images: https://g-ec2.images-amazon.com/images/G/09/ciu/87/4f/e757d0920ea09aec7b1be110.L.jpg
imagesalt: "Image of the first volume cover of the manga series 'Bakuman', featuring the main character Moritaka Mashiro, or also known as Saiko."
---

<p>It starts with Mashiro, or Saiko, being almost blackmailed into making mangas with another student, Takagi, or Shujin. Their meetings in middle school turned into a ten-year-long inspiring journey to become a mangaka duo, filled with hardship, sweet moments, and overall depth into the world of mangas. I admit, reading this at first, I'm not entirely sure I would love it, especially even after many chapters, I was a bit turned off about the sheer length of words that permeated this manga (or maybe it's just the case of me reading especially bad scanlation instead of the official release), and sometimes Saiko's actions confounded, or even gave me ire.</p>
    
<p>But in the end, only because of his stubbornness that they were able to make it into a mangaka, surpassing his uncle who has passed, surpassing his rival from day one as a mangaka, and finally, at the end of the road, managing to make his dreams come true, and it ends immediately after that.</p>
    
<p>There are aspects that I truly like about this manga. I like how the author managed to create many, and I repeat, MANY fictional mangas that I was sad that I cannot read in real life. From Detective Trap, Crow, Road Racer Giri, Classroom of Truth, Otter 11, +Natural, Tanto, Money and Intelligence, and lastly, the absolute criminal that we cannot ever get Perfect Crime Party to reality, it was absolutely amazing to see them come up with so many uniques stories to be used as a fictional manga instead of keeping it to themselves and maybe make the manga themselves.</p>
    
<p>I also particularly like the exploration of the role of editors, and also the relationship between a mangaka and their editors. It was truly magical to see Hattori and Ashirogi duo crafting the perfect manga one-shot, specific chapters, or a new manga serialization name, and seeing them both slowly grow to even surpass Hattori was a treat to see.</p>
    
<p>However, even after all of that, this manga is not without fault.</p>
    
<p>I still dislike the way there is too many information crammed into the page, sometimes even at the expense of the art, but the art is also nothing spectacular to begin with. Perhaps I've been spoiled by too many artistic panels these days by other mangas, but it is concerning that it took them until the very last page to have a memorable page spread, or how the other most memorable page/art comes from the fictional manga PCP (SERIOUSLY MAKE THIS MANGA I WILL PAY YOU).</p>
    
<p>That aside, I still will give this an 8, because after reading this manga, I slowly started to get inspired myself to write again, which I've stopped for a while now because I was feeling uninspired. For that alone, it is worth bumping the score from a 7.5 to an 8. It made me want to write like Shujin, create stories. Inspiring, truly. Thank you Grace for recommending me this.</p>