---
title: "How to Rehydrate a Dry Sponge"
description: "The review of the game 'Spongebob Squarepants: Battle for Bikini Bottom – Rehydrated' by AlwaysNever."
series: "Spongebob Squarepants: Battle for Bikini Bottom – Rehydrated"
media: (game)
rating: 9
images: https://upload.wikimedia.org/wikipedia/en/a/aa/SBBFBBRehydrated.jpeg
imagesalt: "Image of the cover of the game 'Spongebob Squarepants: Battle for Bikini Bottom – Rehydrated', featuring the main characters Spongebob Squarepants, Patrick Star, Sandy Cheeks, and the final boss Robo-SpongeBob in the background overlooking the cast."
---

<p>Picture this, a kid in his early years, way before he was a teenager. It was circa 2008-2010, PS2, and the new PS3, are all the rage. The kid asked his parents to go to a sketchy stall at a local market to buy new games for his PS2. He doesn’t yet know of emulators, because he wasn’t aware of PC at that time.</p>

<p>There were many games that he got out of that opportunity, and one of them was a game called Spongebob Squarepants…. Creatures of the Krusty Krab. You might be confused at this point, isn’t this review supposed to be about Battle for Bikini Bottom - Rehydrated? Don’t worry, we’ll get to that.</p>
            
<p>He was already in love with Spongebob Squarepants as a series, always catching it on television whenever it was aired, and has seen quite a number of episode on it. He was aware of Spongebob himself, and Patrick, his gullible best friend. Squidward, the squid man whom he now actually really relates to once he revisits the series again. Sandy, the squirrel from Texas who knew karate. Mr. Krab, the greedy capitalist with red claws who owns the restaurant Krusty Krab, quarrels with the eternal villain Mr. Plankton and his own restaurant Chum Bucket.</p>
            
<p>Practically everyone should know at least a modicum of information about these characters by now. Spongebob Squarepants is a beloved series worldwide at this point. And so he also played numerous games containing the series titular character, Spongebob. One of them was Creatures of the Krusty Krab. That game truly affected him in a certain way, especially since the character designs in that game were something that he would never associate with the franchise. A groundbreaking difference.</p>
            
<p>Playing that game over and over led him to obsessively go over any other games that might’ve featured Spongebob, and that finally led him to the game that is relevant to this review. The original Spongebob Squarepants: Battle for Bikini Bottom.</p>
            
<p>There was nothing special about that game. Reaching that point in his life, he was already introduced to Nintendo Wii and has played the probably superior Super Mario Galaxy. The graphics were alright, the story is never truly the backbone of Spongebob games anyway, and the puzzles were memorable in some fashion, but not all of them. And so, the tale ends with him never truly finishing the game, filing it as another game within the catalog of Spongebob game series, and he moved on to better things.</p>
            
<p>He started playing games such as Spongebob Squarepants: The Movie, which reminds him of the Battle of Bikini Bottom, almost like a spiritual successor. Others like Spongebob Squarepants: Light, Camera, Pants!, Spongebob’s Atlantis Squarepantis, Spongebob’s Truth or Square, and even crossovers of Nickelodeon’s properties in the form of Nicktoons series like Battle for Volcano Island, Attack of the Toybots, and Globs of Doom.</p>
            
<p>He was truly being a kid of his age, playing games on his Playstation (and later on, Wii), and he finally grew up to have a PC.</p>
            
<p>And now, that kid (which was obviously me if you can’t tell) entered this event on Anicord for contracts, and he was served to play the Rehydrated version of the game he used to play all those years ago.</p>
<p>Where do I start about this game, honestly?</p>
            
<p>As a guy who played the original version all those years ago, I immediately noticed the upgraded feel the game has to offer, which was expected, since if it looks the same, then Frazzle has wasted his money getting it for this event. 😭</p>
            
<p>It also looks way brighter than the original one, firstly. I can excuse the somehow shadowy design that the old one had, maybe because they didn’t have the capabilities to do the graphics as well back then.</p>
            
<p>The story, as far as I remember, is actually unchanged, and also the same for the game design and map design. Spongebob still has the same powerset, and so does Patrick and Sandy. The little change that I noticed is that one enemy who shoots his projectile everywhere… is a lot more annoying than I remembered them to be. I swear, they were not this hard to fight against in the original game. 💢</p>
            
<p>I played practically every stage that I did do in the original, skipping only the Flying Dutchman stage because I already finished the final boss RoboSpongebob and RoboPlankton by then, and they all virtually went unchanged, bar the upgraded… nay, “rehydrated” visual change.</p>
            
<p>The Boss stages went through the same upgrade, and it is still as fun as the originals. RoboPatrick and RoboSandy fights are just the same as the old game.</p>
            
<p>My favorite memory of playing this game is this puzzle in the Mermalair section of the game where we have to get this ball into a specific place to get the Golden Spatula. (I know, sounds ridiculous, but it makes sense in context). And the game did not change a single thing from the puzzle, only making it more smooth, and perhaps making it… easier? I am not sure if it’s because I’m older now, so I’m more experienced, but I remember having trouble with this puzzle for the longest time when I was a kid.</p>
            
<p>I feel that even the Spongebob Dream stage (which reminds me of Creatures of Krusty Krab both in originals and this one since that game is about dreams) was unchanged, just upgraded, and I appreciated that. This truly felt like playing the old game with new graphics. This is how you honor the original game, in my opinion. This should be the golden standard for remastering a game going forward. At least, for a game that is the same level of quality as the original Battle for Bikini Bottom.</p>
            
<p>But even with all the visual changes, slight changes in enemies, and easier difficulty in general, the issues that exist in the old game remain in the new one. It’s still not a masterpiece in any kind of form, just dumb fun involving the yellow sponge square protagonist from the cartoon that I used to watch a long time ago.</p>
            
<p>The nostalgia quickly wore off as I played the game, and I realized how I suck at the slide part of the game (and they have a lot of them). There’s also this Golden Spatulas which you can only get by paying Mr. Krabs, which requires you to save an obscene amount of the in-game currency. Thankfully this is not required for you to finish the game, but it is definitely required for you to 100% the game. And I hated that. My plans for this game initially were to 100% it, perhaps to try and get an overachiever role, but all those problems dashed my hope. I don’t have time to get this to 100%, I’m sorry. 😭</p>
            
<p>There’s also an aspect of Spongebob ability that remains awkward even in this new version of the game. The Bubble Rocket(?) is very clunky to control using a keyboard and mouse setup, and I distinctly remember it being clunky as well in the original console version, so that remains unchanged.</p>
            
<p>Anyway, even after those grievances I have with the game, I’m still willing to give this game a 9/10 rating. Nostalgia boosted the rating slightly, and even if I didn’t end up 100%-ing it, it’s still an enjoyable experience that I was surprised to find in a game about Spongebob, out of all things.</p>
            
<p>In the end, they do manage to find out how to rehydrate this dry sponge after all.</p>
            
            <br/>