---
title: "La casa di Morgan la fata"
description: "The review of the visual novel 'The House in Fata Morgana' by AlwaysNever."
series: "The House in Fata Morgana"
media: (visual novel)
rating: 10
ratingaddon: "<p>Door Ranking:</p>
<ol>
<li>The Final Door </li>
<li>The Fifth Door</li>
<li>The Sixth Door</li>
<li>The Fourth Door</li>
<li>The Seventh Door</li>
<li>The Third Door</li>
<li>The First Door</li>
<li>The Second Door</li>
</ol>
<p>Character Ranking:
<ol>
<li>Michel and Giselle</li>
<li>Morgana</li>
<li>Nellie</li>
<li>Mell</li>
<li>Pauline</li>
</ol>
</p>"
intro: "<p>Wikipedia states that Fata Morgana is a complex mirage existing in a narrow band above the horizon, taken from the Italian translation of Morgan Le Fay, or Morgan the Fairy. The optical phenomenon occurs when light bends due to differences in temperatures, and their appearances can change quickly and dramatically.</p>

<p>Hot and cold. Illusions. Darkness and light.</p>
                
<p>In the mansion with many names, numerous doors are existing as part of the mansion. From the door to a garden, the cellar, the playroom, or the mysterious tower, it carries with itself life in multitudes of eras. With each era, the mansion has different masters and different stories. Different tragedies that befell them, but all of them have one thing in common.</p>

<p>Love. The one thing that ties them all together. Obsessive love, stubborn love, pathetic love, pure love.</p>
                
<p>And hate. Eternal hatred. Cycle of hatred. How they both influence the others.</p>
                
<p>It is with this that I preface the reviews of the visual novel The House in Fata Morgana. A tragic story spanning hundreds of years, across different periods, but set in one place, one setting. The House/Mansion itself.</p>

<p>I must apologize if my writing seems to be unclear or lacks the 'review' aspect. At this point in time, I'm running on caffeine and getting out all of the thoughts I had on specific doors, instead of making a coherent and logical analysis of the medium I have experienced. You might see me try to be flowery in my words, or doing something weird. I implore you to read on and understand just how much this story has wrecked my brain, so much so that I became a blubbering buffoon in the process.</p>"
images: https://upload.wikimedia.org/wikipedia/en/f/f8/The_House_in_Fata_Morgana_cover.png
imagesalt: "Image of the cover of the visual novel 'The House in Fata Morgana', featuring the main characters The Maid and the mysterious white-haired girl."
---

<section id="table-of-contents">
            <fieldset>
                <legend>Table of Contents</legend>
                <ol>
    <li><a href="#prologue">Prologue</a></li>
    <li><a href="#first-door">The First Door</a></li>
    <li><a href="#second-door">The Second Door</a></li>
    <li><a href="#third-door">The Third Door</a></li>
    <li><a href="#fourth-door">The Fourth Door</a></li>
    <li><a href="#fifth-door">The Fifth Door</a></li>
    <li><a href="#sixth-door">The Sixth Door</a></li>
    <li><a href="#seventh-door">The Seventh Door</a></li>
    <li><a href="#final-door">The Final Door</a></li>
    <li><a href="#finale">Finale</a></li>
    </ol>
            </fieldset>
        </section>
        <section id="prologue">
            <h2>Prologue</h2>

            <p><i>"No matter what happens, you mustn't let go of my hand."</i></p>

            <p>You woke up in a rocking chair, a fireplace on your right, and a pale maid looking at you with a gentle smile.</p>

            <p>You probably have heard these first few words, or variations of them, on many works before, so you might scoff at such a beginning. But this is how Fata begins, with me as a reader, and The Maid, waiting for me to wake up.</p>
                
            <p>At the outset, I was immediately captured by the atmosphere of the art. It’s not at all detailed, on the contrary, it is very messy, like a painting made by a 10th-century artist who has never experienced the Renaissance yet, but it drives in the point of how dilapidated the setting the story took place. The Mansion itself, abandoned, has found its new master, and that master was me.</p>
                
            <p>Maybe not me, but this unknown male character, that the maid has been waiting for, for a long time. Without our memory intact, the Maid then invites us to explore the Mansion, to piece together our memories so that we can properly become the master of the Mansion. She gave us a tour of the mansion itself, passing through the stained-glass window and mirrors, and arrived near the garden.</p>
                
            <p>This short beginning was enough to fully immerse me within the story itself and got me caught up in the mystery of who is our protagonist, and what kind of story we will experience to get him to remember himself.</p>
                
            <p>The smell of roses fills the air as we open the first door.</p>
        </section>
        <section id="first-door">
            <h2>The First Door</h2>
            <h3>2012</h3>

            <p><i>"Mell, you'll always be my prince, right?"</i></p>
            <p><i>"Al, you'll always be there for me, right?"</i></p>

            <p>The Shakespearean influence on this door is strong, and not just because it smells like roses. Coming from a series where the story involves heavily with siblings, this door feels almost familiar and warmth, yet just like how rose would smell sweet but prick your fingers as you pick it, this story is not what it seems.</p>

            <p>Shakespeare <i>loves</i> tragedy, and he would have <i>loved</i> this story. Behind the door lies the first master of the mansion, taking the name of Rose Manor at this time, Mell Rhodes. A noble who lives with his sister, Nellie Rhodes, their siblings relationship was the highlight of this door. I personally cannot actually relate to Mell as I'm the youngest sibling, but being treated like a prince by his younger sister...</p>

            <p>Their lives were relatively peaceful before the appearance of one peculiar white-haired girl, the same white-haired girl I saw in the main menu of this game. I remember thinking that perhaps we are that girl, when I first read this door, very late into it.</p>

            <p>I could never have guessed that the development of this story would head towards, however.</p>

            <p>Nellie's love towards his brother... was much more intense than I had expected. When she was handling that sharp object and head towards the white-haired girl, in jealousy after she and Mell grew close together, I didn't expect her to cut off her hair, and <i>wear</i> it.</p>

            <p>I expected her to scalp her clean, and wear her scalp. The horror aspect of this story... I was warned before I read this that the story would be heavy, but I still wasn't ready to face how scary it can be.</p>

            <p>Once the story reached its end, Mell kneeling in the rain, losing pretty much everything that he holds dear, the door ends, and we returned to the mansion. The protagonist's memories still not returning.</p>

            <p>Other than the story itself, once again I need to highlight how the soundtrack help me get immersed with the setting and the story itself, happy tune of <i>Petalouda</i> or <i>Cetoniinae</i>, the depressing <i>Acherontia Styx</i>, or the panic-inducing <i>Tarantula</i> or <i>Labirintia</i>, the soundtrack just from the <i>first</i> door has brought me more emotions than what I expected from the medium.</p>

            <p>As for the story itself, the innocent dynamic turned into dark portrayal of how sibling relationship can be, it's stellar. It gives me dread, but this is only a pittance compared to the dread that the other doors would instill in me.</p>

            <p>And so the mansion opens its second door, behind which we can hear the sound of a... dangerous beast.</p>
        </section>
        <section id="second-door">
            <h2>The Second Door</h2>
            <h3>2009</h3>

            <p><i>"I am not xxxxxxxx.... I am the Beast!"</i></p>
            <p><i>"Al, stop!"</i></p>

            <p>Before I began delving into my thoughts of the Second Door, there were intermission in between the door that I'd like to talk about. A mirror that reveals a scene where a man in long white hair reveals himself as a witch. An important scene that I only get the meaning of in later doors. I love how they already planted seeds of that story very early on, and looking back at it, the story reveals enough for me to speculate, but not enough context to know the whole truth. This kind of technique in story-telling is something I admire, and wish I can do for my own series in the future, but I digress. The door awaits me.</p>

            <p>Behind this door reeks smell of rust, of blood spilled and of a ravenous beast. This is my LEAST favorite door, even though in this series that means nothing. The other door simply was too good in comparison.</p>

            <p>And the story being told here touches on things that I don't particularly like.</p>

            <p>It sets the story hundreds of years after the era of the Rose Manor, of Mell and Nellie and the White-Haired Girl. The mansion is now dilapidated, abandoned. No master has appeared, until one day, a beast makes its way to the mansion, taking the name Weeping Manor.</p>

            <p>The mansion's second Master.</p>

            <p>From the start, I can already sense the similarity, or rather, inspiration, towards the story <i>Beauty and the Beast</i>. I was eagerly waiting for the "Beauty" to come and brought the beast back to humanity. The Maid did help him start learning how to converse with human language at first, whilst before, he just screeched unintelligibly. It was enough to make me uncomfortable, and the narration by the maid who also felt uncomfortable by the sight of the beast didn't help.</p>

            <p>My naivete only lasts for so long. The beast is indeed a beast, even when he can speak, as he used that skill to pass as a human to weary traveler finding their way to the mansion... and proceeded to kill them and eat them.</p>

            <p>I don't need to elaborate on what I thought about that.</p>

            <p>The story then sometimes would jump to a girl, Pauline, waiting for her beau, a merchant who travels the sea. She received news that he was dead, but she refuses to believe in such news, and looked everywhere for him, finally able to find information of his last whereabout, in a village... near the mansion.</p>

            <p>The third party in this story is a blind white-haired girl, one of the people who was lured in by the mystical force of the Mansion and the boundless sphere of Fate. The "Beauty" in this story, the one I've been waiting for.</p>

            <p>Their story intertwines with each other, but the writers managed to mislead me long enough that I was floored when the reveal happened.</p>

            <p>I didn't expect the beast to be an exploration of racism, out of all things. The Merchant, who was revealed to be of Eastern (possibly Japanese) descent, <i>is</i> the Beast. He was called the Beast by people of the nearby village, after his appearance, and later on, because he killed people.</p>

            <p>For the door's duration, we never see his appearance, the beast was shrouded in shadow, as it was how the beast views himself, a clever way to both mislead the reader and somehow accurately portrays how a broken man can view himself.</p>

            <p>I won't talk about the twist nor the ending here, I still don't like to think about it. This door, however, proves to me that this game was indeed going to be really dark moving forward, and the depiction of the beasts, how he kills people, some of the CG, was definitely leaning towards horror, which I hated with all of my being.</p>

            <p>This level of horror usually would make me stop reading a series. But I did read this particular door with my Buddy Grace, so the impact was lessened a bit knowing someone was there watching with me.</p>

            <p>And even after all that, this door does have some lighthearted moment in it, between Pauline and the local boy Javi, but their antics was nowhere near close for me to wipe out the rest of the... atrocities committed on this door.</p>

            <p>And so the mansion opens its third door, to a sound of pool balls, and smell of tobacco.</p>
        </section>

        <section id="third-door">
            <h2>The Third Door</h2>
            <h3>2013</h3>

            <p><i>"Don't talk to other men!"</i></p>
            <p><i>"Don't talk back to me! Just listen to me, Al! You have a problem-"</i></p>

            <p>This door...</p>

            <p>This door elicits more anger from me in the early doors. The last time I was this angry about something, I was really close to dropping the series.</p>

            <p>The mansion behind this door has been rehabilitated by the third Master, Jacopo.</p>

            <p>Even though the last door was bad, there are still parts of them that I can talk about. Not this door. Out of anger that would be understandable once you read through this portion if you played the game, I will make this one VERY short.</p>

            <p>Jacopo is the master, and White-Haired Girl is here as his wife. They met through an arranged marriage. The other girl in this door are Maria, an old friend of Jacopo who now worked as his maid.</p>

            <p>What works in this door? It successfully evoke the late 1800s atmosphere to me immediately, with its soundtrack <i>Ciao Carina</i> evoking the most of that feeling.</p>

            <p>It successfully portrays manipulative and abusive characters, so much so that I'd rather not name them, or talk about them, due to how frustrated I would sound like.</p>

            <p>It also takes the early cake for being the most depressing story. But as I learned of the later door, this would take its rightful place of being third, behind the other, more tragic characters  and stories.</p>

            <p>Portion of this door's story also somehow reminds me of a telenovela, which might be inspired by it? I'm not sure myself, but I can see these kinds of story playing out in a telenovela somewhere. I swear I saw one scene of a telenovela where a lot of people pointed a gun at each other and it was shown in this drawn up dramatic way. Not at all what happens here, but the story here reminds me of that.</p>

            <p>There's nothing else I'd like to talk about this door, not in this kind of capacity anyway. I still rank this door objectively above the first and second, only because it evokes more emotions in me than that two doors.</p>

            <p>And so the mansion opens its last door, where I can see endless stair rising above, the observation tower that held the secret to all.</p>

        </section>

        <section id="fourth-door">
            <h2>The Fourth Door</h2>
            <h3>20xx</h3>

            <p><i>"Isn't xxxx xxxxxxx wonderful? All you need to do is to xxxxxxx that it's the xxxxx."</i></p>
            <p><i>"Al... You don'x need to xxxxx anymxrx... just... xxx xx..."</i></p>

            <p>The door takes us back hundreds of years, in the Dark Ages, where the Mansion has no Maid, and its master was someone named Michel.</p>

            <p>In a Visual Novel, there is a feature where you can see the logs of things said by the characters, accessed by a specific key press, or a mouse roll.</p>

            <p>The story of the fourth door, however, was riddled with censors, and red words not seen on the actual game, taunting us about believing in this xxxxxxx.</p>

            <p>I absolutely love this method of storytelxing, using xxe game featuxes to hide stories, it's chill-indxxing to see that there's a xxory behxnx the sxxxx. The charaxters in this door also featured the White-Haired Girl, but notably it is sxorter than the other door, for reasons that was soon clear.</p>

            <p>This door is a fantasy, illxsions made to cloud over the truth, hiding it behind the name that the manor take in this time, the Misty Manor.</p>

            <p>This door and the next is intrinsically linked, as illusions are based on the xxxxx, and fairy tale are no replacexxnt for the realixy.</p>

            <p>Okay, hopefully you get my point about the censor. Writing like that is actually taking a lot of time, so I'll stop now.</p>

            <p>I cannot being to describe how the red words tickle that specific part of me that loved meta story telling, or at least story telling using game features, the likes you can find in that infamous Visual Novel, DDLC. For that aspect alone, this door held a good enough rating that it can fight against the next four doors, where perhaps you can say, the REAL story began.</p>
        </section>

        <section>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><i>"Reclaim yourself."</i></p>
            <p><b><i>"Reclaim yourself."</i></b></p>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </section>

        <section id="fifth-door">
            <h2>The Fifth Door</h2>
            <h3>2010-2017</h3>

            <p><i>"I feel unclean..."</i></p>
            <p><i>"...powerless as I sat there for hours."</i></p>

            <p>Welcome to the real story.</p>

            <p>The mansion only has four doors, and this door is more like the same door but not altered by illusions and fantasies.</p>

            <p>As the main character... <i>reclaim himself</i>, we came to learn that the story was twisted, and the White-Haired Girl who introduces herself as Giselle was a fabrication, and instead, <i>The Maid</i> was Giselle.</p>

            <p>And we, the main character, are Michel, the hermit who lived in the mansion and died protecting Giselle, just like the previous door.</p>

            <p>In this door, we are treated to a longer, more intricate story about how Michel and Giselle meet with each other. We learned more about Giselle, who was a maid to the Bollinger family, Michel's family.</p>

            <p>This door was such a shock compared to the previous one for me, and at some point I have to skip portion of the story due to how uncomfortable it made me feel. But unlike the other doors, there are parts of the story here that shines brighter, balancing out the scale that leans far enough already towards depression. Even though the ending remains the same as the fourth door, this time, the story feels more complete, more realistic.</p>

            <p>It feels like it has a heart.</p>

            <p>But, as I progressed through the story again, it is only one part of the bigger picture.</p>

            <p>It is time to enter the door that hides the true heart of The Maid, or Giselle, and help her reclaim herself.</p>
        </section>

        <section id="sixth-door">
            <h2>The Sixth Door</h2>
            <h3>xxxx - xxxx</h3>

            <p><i>"Michel... where are you? I've waited and waited and waited-"</i></p>
            <p><i>"-and waited. Al... where are you?</i></p>

            <p>Love can cross through space and time. I learned about that from the Christopher Nolan movie <i>Interstellar</i>. It also can be quantified as gravity, but we don't need to delve deep into that.</p>

            <p>Giselle's determination to wait until Michel can be reconstituted was painful to look at. The disintegration of her psyche as she was stuck with Morgana's taunting voice as her only source of stimulus, was nothing short of depressing to experience. For a love she only been with for a month, known for a year, she was willing to endure that for hundreds of years.</p>

            <p>Her depth of love is nothing to scoff at, I feel small in comparison when I look at my own.</p>

            <p>The story also ties in portion of the first three doors, of how Giselle slowly start her transformation to become the Maid we all know and love from the earlier part of the story. We see how Mell's grandfather taught her all the mannerism to be a maid, but she has to watch as his son (Mell's father) poisoned him to gain his estate, the mansion.</p> 
            
            <p>We see Giselle surviving through the Beast's reign on the mansion, thankfully we don't seem to dwell on him too long. And lastly, we see The Maid, fully transformed by the time of Jacopo's occupation, and her perspective of the tragic tale that lurks behind the third door.</p>

            <p>The door didn't end there, however. I was pleasantly surprised to see that the story continues after the door to Giselle's mind ends, and we were served instead the backstory of Morgana, the Witch. The one responsible for all the tragedy that happened in the first three door.</p>

            <p>At this point, the story has told me harrowing stories that honestly feels like a hurricane blowing me off my feet, taking me with them as if I'm a leaf. This story, however, is the rainstorm that pellets me with its droplet, pushed me to the ground, and peppers me relentlessly.</p>

            <p>The human cruelty knows no bounds. I was faced with that fact as I look on, at the river of blood and pains that stretched through the limits of humanity, not knowing that I would be served something even worse soon.</p>

            <p>As we were forced to enter the door hidden beneath Michel's heart, the one door he does not want to open, the past he would rather keep tight in his heart for himself.</p>
        </section>

        <section id="seventh-door">
            <h2>The Seventh Door</h2>
            <h3>2021</h3>
            
            <p><i>"We're brothers, right?"</i></p>
            <p><i>"Family is forever, right, mom?"</i></p>

            <p>This door... hits me harder than anything else. Not in a way that left me sobbing like a mess, even though it does do that as well, but because of... similarities to my own life. Only part of it, however.</p>

            <p>This door, along with the Second Door, and the Sixth Door (Morgana's part), is part of the reason why even though this is peak storytelling, I cannot really ever recommend this to read for others.</p>

            <p>For a lack of a better term, the Trauma... Conga Line (thanks TVTropes) lining up in this door was layered perfectly, like a wedding cake made out of hatred and contains blood of the innocents.</p>

            <p>We can go through the checklist if you want. Transgender Tragedy? Check. Parental Abuse? Check. Familial Abuse? Checkity check check. Abandonment issues? Check. Betrayal of the highest order, by your own brothers? Check.</p>

            <p>You know the part that got me the most after this? There is no closure. No satisfying comeback. What we get is an abuser, who managed to live like royalty after abusing the living fuck out of an innocent child. What we get is a mother, burning their rotting corpse on a stake, calling them a demon child, while said child was looking on in a spirit form.</p>

            <p>I have to sit there for a moment and <i>really</i> take that in. This is reality. This is how it is in real life. It's not a fictional story, these kind of things happen to people in real life, but maybe they don't have to watch as the person who brings them to life burn their fucking corpse and call them horrible fucking names-</p>

            <p>..............</p>

            <p>I took a day off, even though at that point, the deadline was a few days left for the reviews.</p>

            <p>I needed to take my mind off the story, to make sure I was able to focus and finish the story with a healthy mindset. This is what they warned me about when they say that this story is heavy.</p>

            <p>I know this coming in. Even through all that horrifying things, I still recognize this as a story. It gives me peace. It distanced me from the depressing stuff. It's all fictional. I am not Michel, and honestly, I can never <i>be</i> Michel. After all that harrowing experience, you know what he did when he was offered to curse the people who hurt him? He <i>refuses</i>.</p>

            <p>Michel always wanted to be a Knight. He never got to be a knight, but in my heart, he's the epitome of what a Knight should be. This guy... I can't help but admire him.</p>

            <p>But also this guy... is too perfect to ever exist in real life. If I ever meet someone as perfect as him in real life... I would be surprised.</p>

            <p>Either way, the ending to this door alleviated some of the heavy stuff that permeated throughout, and with that feeling in mind, we stepped in to the final Door, the door into Morgana's heart, to find out the perspective of those who keep her caged in the observation tower, to find the truth, and to end the cycle of hate.</p>
        </section>

        <section id="final-door">
            <h2>The Final Door</h2>
            <h3>xxxx - xxxx</h3>
            
            <p><i>"Fantasies are not everlasting. They all crumble eventually."</i></p>
            <p><i>"People are supposed to be able to feel happy or sad for each other... I can't though, which must make me a beast."</i></p>
            <p><i>"Events by themselves do not tell the whole story. Only when you take into account their circumstances, what they thought and felt, their perspectives—only then you can say you've reached the truth."</i></p>
            <p><i>"You were the only one to ever have pity for me... and I shall be the only one to have compassion for you. You were the only one to stay at my side... and I shall do the same for you."</i></p>

            <p>This door is honestly a fever dream from the start.</p>

            <p>First of all, everyone is here, like Smash Ultimate bringing back all the characters throughout their series. The story behind Morgana's door reveals that all of the characters we've seen so far was involved in Morgana's final fate. The three men whose tragic fates drives the first three doors were the one responsible for Morgana's suffering. They bear three keys, almost the same like their shadows during a portion of the story in the Sixth Door, or its intermission, you can say.</p>

            <p>And then we have both Michel and Giselle, finally reunited, but Giselle is instead a disembodied voice residing inside Michel, that can see through his eyes and talk to him telepathically. Their dynamic was one of the highlights of the door, for me. But there's also another thing that shines just as bright.</p>

            <p>Perhaps it was because of the length of time it took between the First Door and the Final Door for me, but when we meet Nellie once more... her ending up being probably the best part of this door was downright ludicrous thought, I would never be able to guess. This same, still a bit pompous but more little-sister-like character captured my heart immediately at the first sight of her antics.</p>

            <p>The theme for this door is about finding out truth from all three men, and their keys, so that we can see their perspectives and to provide closure to Morgana, so that she can reverse the darkness enveloping the mansion, and let go of her past.</p>

            <p>The ending for this door left me sobbing, crying, cursing softly. It twisted my heart into hoping that it'll be alright, then I was reminded that this story is all illusions still. The past can't be changed. What's happened, happened.</p>

            <p>But Michel, the protagonist, brought me out of despair. It was not in vain, his efforts are not in vain. Honestly, I find myself again putting him high on my ranking. A fictional character, managed to get me up from my slump of emotions and see the light.</p>

            <p>He always reject the notion that he's an angel, but maybe...</p>
        </section>

        <section>
            <h2 id="finale">Finale</h2>
            <h3>Outside of Time Itself</h3>

            <p><i>"You're the only one who can do it..."</i></p>

            <p>As I reached the end of the long journey throughout tragedies, and reached the choice, the ultimate choice, I feel... overwhelmed. We've gone through too much, just for the final choice to be a tragic one.</p>

            <p>One person must disappear, as their existence is the anomaly that needs to be excised, for the root of all of the misfortunes to heal.</p>

            <p>The White-Haired Girl offered me a sword, and I have to sit there as she explained over and over and over again about how it is necessary that she is killed.</p>

            <p>At this point, I was spent. The last door's climax has taken all of the available energy I used to emote, and at the last leg, at this impossible choice, I just look on with a somber look. There's nothing that I can do, this is it. This is what must happen. Someone must be sacrificed for me to reach my happy ending.</p>

            <p>Closure.</p>

            <p>A kind of release.</p>

            <p>That's what I feel as we move on to the ending, the last few minutes of Fata. It doesn't end with a neat bow, but it provides me with closure to all of these characters. Apologies, remorse, regret, determination to do better at their next life.</p>

            <p>And lastly, the epilogue. Reincarnation. Their souls cross paths once more, but most importantly, the two souls that I wanted to be together does get their moment. An ending for the ages.</p>

            <p>This story deserves all the perfect score it can get. I will borrow one description from another show about what I feel for this series.</p>

            <p><i>"(This story, every part of it...) it courses through you, like the water of a river after a storm, filling you and emptying you all at once. You feel it throughout your body, in your hands, in your heart, in your stomach, in your skin..."</i></p>

            <p>That's all the things I have to say about the series. I guess all that is left is... farewell... <small>until I read A Requiem for Innocence, Reincarnation, and all the other side stories.</small></p>

            <p><i>Farewell, to you, dear reader. Until our souls cross paths once more, in the boundless sphere of fate.</i></p>
        </section>