---
title: What Happens When You Make Bullying Cute?
description: The review of the manhua series 'Qing Qifu Wo Ba, Eyi Xiaojie!' or 'Please Bully Me, Miss Villainess!' by AlwaysNever.
series: Please Bully Me, Miss Villainess!
media: (manhua)
rating: 8
intro : "<p>Yuri fucking manga. Truly, the purest form of love imaginable.</p>"
images: "https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx141756-6veAkPU4jW0p.jpg"
imagesalt: "Image of the characters from the series 'Qing Qifu Wo Ba, Eyi Xiaojie!' or 'Please Bully Me, Miss Villainess!', featuring the characters Yvonne Smollett and Elsa Dorothy."
---

<p>I admit I am biased coming in to read this Manhua, knowing how much I love Yuri as a genre. My contractor immediately recommended this as his first pick. However, this was my first time reading Manhua.</p>
        
<p>I’ve read mangas, obviously, and several manhwas as well. But Manhua… I’ve never read them before, and from images and title pages I’ve seen of them… I have to admit, I was not impressed. Maybe I was exposed to a title that is pretty much the “isekai” of the Manhua, but it immediately made me feel turned off of the medium.</p>
        
<p>That is why I’ve been holding off on reading it until the deadline almost came. But that is probably only one of many reasons why I’m cutting it close with the review for this season’s contract.</p>
        
<p>Anyway, <i>Please Bully Me, Miss Villainess</i> was another series involving the trope of the female main character reincarnated into the role of Villainess in the games they used to play. The pervasiveness of this genre truly surprised me once I delved deep into the shoujo part of Eastern media, finding out that they have their developments and most importantly, their own standout series.</p>
        
<p>If there are talks about one of the greats in this genre (fantasy Yuri), I truly believe that this series, Please Bully Me, Miss Villainess, should be considered one of them. From the get-go, we are introduced to the main characters <span style="color:gold";>Yvonne Smollett</span> and <span style="color:peachpuff";>Elsa Dorothy</span>, and they are Cute, with a capital C. Both of them. This was absolutely surprising knowing how much of a tsundere Yvonne (or Evie for short) is, due to her limitations as a Villainess.</p>
        
<p>I am not actually a big fan of the Tsundere trope, especially when the author leans into the realistic depiction of the trope, but in this case, they definitely leaned in more on their dere instead of their Tsun Tsun. Yvonne is depicted as this ice-cold alpha girl who likes to bully people because of her status as a noble, but now that she was taken over by an unknown woman who reincarnated into her, she was… still the same, but clearly, the bullying was depicted as almost like flirting to me.</p>
        
<p>It also really didn’t help that Elsa is just so into it like it’s her kink or something, which makes the whole thing so funny to me. I’ve not read a series where the victim literally begs the bully to bully them more. I would say, in this context, it only works because both of them are cute as heck, I don’t think I would be thinking the same way if only one person is cute here.</p>
        
<p>Reading the series also as a fellow who has been bullied in the past didn’t feel insulted. It didn’t particularly portray it to the same level as my experience, but I genuinely don’t think that real-life experiences should be a basis for a fictional story that is already inherently illogical and requires you to suspend your disbelief.</p>
        
<p>But also, as a guy, I feel like perhaps the portrayal of bullying in this manhua would not be as understandable to me, or relatable. In either case, this doesn’t detract at all from my experience of reading this manga. In fact, it was very interesting to see Yvonne struggle a lot with being forced to do the things she did because of the Villainess system that bound her, which brings me to a theme that I did not expect this manhua would tackle.</p>
        
<p>The system versus the player, or more specifically, the Villainess system versus the Villainess who isn’t actually a villainess. The manhua explored the nature of evading fate that is already pre-written, as Yvonne notes that the story should’ve gone a specific route and all. This theme can be found in perhaps any other otome game reincarnation story worth reading about, but each interpretation and exploration of them feels very refreshing to me.</p> 
        
<p>I will admit, this might be because everything in this genre is still new to me, and those who have read more Otome manga reincarnation series would’ve been sick of this being re-tread over and over as they read each new series. I do, however, love how the system really forces Yvonne's hands sometimes, how it makes her confront her ever-growing feeling for Elsa, culminating in perhaps the saddest yet most wholesome sequence of events for them both.</p>
        
<p>They even managed to slip past the cliche fireworks confession and make it sadder. Why is this manhua so good?!</p>
        
<p>I think that is enough praise for the series, however. There are still problems in this series, so bad that I think it doesn’t deserve a 9 or 10 rating. It all boils down to one thing though, and that is that the pacing is too fast.</p>
        
<p>When I read the scans for this, I was made aware that this is originally a web novel series adapted into manhua form. As a person who has read web novels, and also read manhwas that were adapted from web novels, I am a bit more sensitive to the pacing of these adaptations.</p>
        
<p>In this case, when I inevitably found out that there were things they did NOT put in and had to be explained on the Translator’s Note, I began to notice the pacing was not as good as I would have liked it.</p>
        
<p>I still haven’t dived in and read the actual web novel (which I think was translated by the same team that did the scans,  ̶D̶y̶n̶a̶s̶t̶y̶-̶S̶c̶a̶n̶s̶ Golden Orchid) so I cannot attest to which part they actually removed from the manga. At some point, the Translator’s Note regarding differences between the web novel and the manhua started to dwindle, which I take not as good news, but as a nudge for me to read their translation of the web novel and find the differences myself.</p>
        
<p>I will say this though, even if the pacing has been fast, the story is still quite enjoyable and very fluffy. Perhaps the desire for me for them to take it slow is because I want them to stay as fluffy and cute as this for a long, long time. Evie and Elsa truly deserve each other, and if the world is against them, I will be supporting them with all my heart so that they can be together.</p>
        
<p>In the end, I rate Please Bully Me, Miss Villainess as 8.8/10. The more chapters that they have, the more this rating would go up, up until the inevitable conclusion. I specifically also really enjoy the current arc, which came out of the left field for me, and I am not going to be ready for this ride to be over any time soon.</p>
        
<p>What happens when you make bullying cute? You’ll have Yvonne Smollett and Elsa Dorothy, the two cutie pies that deserve each other and the world, and nothing can get in their way, not even the Villainess system.</p>