---
title: "Un-PACking the Pac-Man World: Re-PAC"
description: "The review of the game 'Pac-Man World Re-Pac' by AlwaysNever."
series: "Pac-Man World: Re-PAC"
media: (game)
rating: 7.5
intro: "<p>You guys ever heard of this thing called Depth Perception?</p>"
images: https://upload.wikimedia.org/wikipedia/en/d/da/Pac-Man_World_Re-Pac_cover_art.jpg
imagesalt: "Image of the cover of the game 'Pac-Man World Re-Pac', featuring antrophomorphic Pac-Man running in the beach away from the ghosts from Pac-Man series, overlooking a fort in the background."
---

<p>Oh, you haven't? You must try playing this game then. It really going to teach you that you don't have that good of perception quicker than I can explain it anyway. Pac-Man World: Re-PAC, is in its core, a platformer game. A remake of the game Pac-Man World, I must say I was not aware of the original game's existence before playing this one, which made me perhaps not going to appreciate the graphics as some of the veterans who had this game before would. I do, however, still enjoy a good platformer game, which never truly care about graphics anyway. All platformer gamers care about is the gameplay!</p>
        
<p>I enjoyed bubble butting through enemies, collecting PACMAN letters (which sometimes got me backtracking through the levels for a LONG period of time), finishing these mazes that was basically the original PACMAN game in a new map (with some of them having new features), and trying to finish a level without any deaths (I never properly done that). But can we talk about the CREATIVITY behind these boss fights? The first two boss was pretty standard platformer boss to me, reminds me of Mario (the first boss specifically). I do however HATED the second boss, Anubis. That boss made me lose lives more than any other boss COMBINED. Yes, you read that right. I hated that boss.</p>
        
<p>The next two boss though, was very surprising to say the least. I never played a platformer game before where the boss have to be beaten by playing mario kart with them. That was definitely a first. For the space shooter boss, sadly there was one game before this that uses that aspect of another genre before, so I'm not surprised, but indeed enjoying the way we have to beat the boss for these two. It definitely beats running your ass over 4 separate treadmill, before then running to the boss and doing it again FOUR times, each with less space for you to both dodge whatever bullshit the boss throws at you, AND also enemies on your way. Yes, that was the mechanic for the second boss, I am still salty about that.</p>
        
<p>In the end, this game is pretty fun, but it's not so much that I would lose my mind to get 100% of. Wish I played the old ones so that I can compare, and perhaps appreciate this game more.</p>