---
title: "Wolfenstein: The New Order"
description: "The review of the game 'Wolfenstein: The New Order' by AlwaysNever."
series: "Wolfenstein: The New Order"
media: (game)
rating: 8
intro : "<p>Ah, yes. Killing Nazis and bedding European nurses. This game appeals to that part of me that yearns for the good action movies, where the logic is thrown out of the window in favor of guns and stealth death.</p>
    
<p>What can I say about this game, Wolfenstein: The New Order, more than that?</p>"
images: https://images.ctfassets.net/rporu91m20dc/7LJVKYZwYgKcUmaIQsgIAM/7787dad6aa15fca73db31a268cf247b2/WolfTNO_boxart_1200x1476-01.jpg?q=70&fm=webp
imagesalt: "Image of the cover of the game 'Wolfenstein: The New Order', featuring nazi soldiers in the alternative history setting of the game."
---

<p>I beat it in its "DEATH INCARNATE" mode, which I think correlate to "Hard" mode, and it definitely passes the mark, sometimes even crossing to the point of frustrating. But a good old adage of "If it doesn't work once, try and try again" applies in this case, because I have tried, and tried, and finally after a few weeks, managed to successfully finish it. I am tempted to really open every achievement for a fully 100% run (I've already completed the Enigma codes) but it can wait for another day.</p>
        
<p>The story was guns ablazin', and even though I was tangentially familiar with such alternate world setting before (after reading about stories like The Man in the High Castle), the story managed to grip me tightly for the first few chapters. It does go a little bit insane after a while, almost like I was playing Saints Row III again with how it ramps up the absurdity, but the gunplay and the stealth mechanics makes up for its insane leap of logic.</p>
        
<p>It's a fun time for me, and the only downside to this game is that its story requires you to suspend your disbelief HEAVILY as you approach the middle and reaching the end.</p>