---
title: "Let's Get Lost Together"
description: The review of the anime 'BanG Dream! It's MyGO!!!!!' by AlwaysNever.
series: BanG Dream! It's MyGO!!!!!
media: (anime)
rating: 8
intro : "<p>You guys have definitely felt like that before, right?</p>
<p>Having no purpose in life. Nothing to do, not a person to do things with.</p>
<p>Perhaps you did have a purpose before, but something happened, and you no longer have it. Your purpose, or whoever you’re with, that you consider as your purpose.</p>
<p>It’s something that I wish I would not have to go through every few years or so. But this anime, <i>BanG Dream! It’s MyGO!!!!!</i> made me experience it all over again, a bit earlier than scheduled.</p>"
images: https://cdn.myanimelist.net/images/anime/1891/136948l.jpg
imagesalt: "Image of the cover of the anime 'BanG Dream! It's MyGO!!!!!', featuring the main characters, members of the titular band 'MyGO!!!!!' standing in the middle of the street."
---

<p>Two girls came to the forefront when I think about <i>It’s MyGO!!!!!</i>. Anon and Tomori.</p>
            
<p>Anon is your typical new transfer student, trying to fit in into the Haneoka Girls’ Academy where girl bands were practically everywhere (I’m just going to assume that the previous <i>BanG Dream!</i> characters were alumni of this high school). Circumstances around her transferring to the school were kept under wraps initially, but there was a reason why she joined in the middle of the year, and why she kept quiet about it.</p>
            
<p>Tomori is your typical misfit student, collecting rocks and band-aids, and very soft-spoken. She was previously in a band called CRYCHIC, but it collapsed before she entered high school because their leader, the mysterious Sakiko, quit the band. Nowadays, she is known as the only one in her class that are not in any band. She often blames herself for her inadequacy as the reason why CRYCHIC disbanded.</p>
            
<p>Both of them are girls that are looking for a new purpose. Either to run away from a past they don’t want to face, or to relieve themselves of a past they blame themselves often. These two form the backbone of the new band that would be their new purpose, but it’s really not just the story about the two of them. They are, however, the first two characters you see in the anime’s first few episodes, and it’s not far-fetched to say that without them interacting with each other, especially Anon’s brusque way of pulling Tomori along with her, there would be no story to tell.</p>
            
<p>Their dynamic was really fun to watch, even though I feel slightly miffed at how pushy Anon can get with her rambunctious ideas and selfish naming. But those flaws made Anon…. Anon. It made her genuine moments with Tomori even more wholesome than they should’ve been, because beneath all of her borderline narcissistic visage lies a kind heart that was able to bring Tomori back from the depths of her self-blaming.</p>
            
<p>When I first watched a few episodes of this anime, I was admittedly not used to the CG used in the animation. This is not my first time watching a 3D anime, that title belonged to the movie Hello World that I watched earlier last month. Having watched a 3D anime before helps in relieving me of this weird feeling every time I see their appearance. By the midpoint, the feeling dissipate as I get invested more into the story of how these lost girls find themselves and others to be lost together with.</p>
            
<p>Soyo was the next piece of the puzzle, one of the former member of CRYCHIC, who secretly had not moved on from the demise of their former band. She went along with Anon and Tomori to join their newly formed “band”, bringing along another former member of CRYCHIC, Taki. The roster is completed by the local stray cat Raana, who joins their session on a whim, with no rhyme and no reason. When she does, however, she rocks the whole place down and does her job exceedingly well.</p>
            
<p>It is a disservice really, to call these three a supporting character. They also have their own story to tell, their own flaws (except Raana but I forgive them for that. Her not having a story allows the other four to shine more). The other two were lost after the disbandment of CRYCHIC, with one holding on hope to an obsessive degree that they could reform, while the other tried to fill the role of the leader that had left them behind but ended up creating tension within the group due to her perfectionism. I would not tell you who is who in this case, I would implore you to watch the anime and find out for yourself. Their story was really compelling, they made me get frustrated along with them, and despair as well when they were faced with the truth.</p>
            
<p>Before I tell you my impression of the climax of the anime, and how perfect episode 10 is, I would like to call attention to the unique presentation of episode 3. It takes place completely in the first-person POV of Tomori, taking place when she was little, and throughout her experience as a member of CRYCHIC. I wasn’t prepared to experience the whole episode from her POV. Because of my limited anime-watching experience, I haven’t really watched an anime episode with this kind of presentation before. It successfully managed to both endear me to Tomori, made me feel connected to her, and also provided me with something new and fresh. I applaud the animation director and the studio SANZIGEN for this episode.</p>
            
<p>But also, episode 10. My god, Episode 10.</p>
            
<p>It is fair to say that the climax leading up to episode 10 is very dire. Things were spiraling out of control. Words were thrown, hurt feelings bubbled to the surface. I actually feel bad watching these as someone who has gone through moments where a friend group disintegrated after one incident. It feels eerily similar, and it made me feel all those old emotions again, as I desperately wished for them to talk to each other and hash things out, and somehow, deep down, I might have wished that I did the same thing for the friend group I lost as well.</p>
            
<p>But then Episode 10 came. I honestly shed some tears.</p>
            
<p>That moment… that moment. It’s beautiful. I don’t even care if it’s unrealistic in real life, but that moment when everything just came together, and they began crying on stage… why is this anime so good?! Why am I crying again?! Fuck me, it’s just a story about band girls, it should not make me tear up like this.</p>
            
<p>But it does. And it’s glorious. They found purpose with each other, they let go of their problems, and embraced each other. They would try again, and be with each other, until the end. Man… at first I found myself sweating once I found out that I got this as my staff contract, thinking that it’d be an idol anime that I might not jive with. Look at me now.</p>
            
<p>Anyway, that’s still not the finale, but goddamn if that was the finale I wouldn’t even be mad. Episode 11 came in.</p>
            
<p>When Anon finally proposes to have a band name that doesn’t contain her name in it, I was not expecting it to be a double entendre.</p> 
            
<p><i>MyGO!!!!!</i>. Five exclamation marks to signify all five of them, and MyGo = Maigo = Lost Girls.</p>
            
<p>Lost Girls. That was honestly a perfect name for them all, stumbling their way into their next live, having only finished an original song hours before they were supposed to perform. Having to wear half an outfit cause someone mistakenly cut it in half. They are a mess, and I love them to bits.</p>
            
<p>Anon is really pushy, kinda narcissistic, and very idealistic, but she is a hard worker, and she is the one pushing them forward.</p>
            
<p>Tomori is very timid and prone to get pushed a lot, especially by Anon, but once the chips were down, she was able to prove she is their glue and brought them together, in her own soft-spoken way.</p>
            
<p>Soyo made me hate her as the anime reached the climax, but when it mattered, she was unable to let go of the ties that they had with each other and cried alongside them.</p>
            
<p>Taki also made me hate her as the anime reached the climax, but she was one of the first people to prop Tomori up in her solo act, even if it required Raana to pull her into it.</p>
            
<p>And the lovely stray cat Raana. The first person to be there for Tomori, no questions asked.</p>
            
<p>I’m invested in these girls. I know <i>Ave Mujica</i> would probably not feature them, but I will hold out hope that they are featured there as much as <i>Ave Mujica</i> is featured in this anime.</p>
            
<p>Before I give my final rating, I would like to explore the downside of this anime.</p>
            
<p>This anime sadly felt like a two-cour anime, split into two distinct seasons. The story here does feel complete if you watch just the first 11 episodes. If you watch episode 12, it becomes pretty clear that this is the first cour of a planned two-cour anime. They have managed to sprinkle the appearances of the Ave Mujica members, led by the former leader of CRYCHIC, Sakiko. There are also others like the other former member of CRYCHIC, Mutsumi. Umiri, a guitarist for hire that worked on… honestly too many bands if you ask me. Nyamu, a chaotic streamer/drummer. And Uika, a professional Idol.</p>
            
<p>Out of all of them, I love Uika the most, as Uika was able to encourage Tomori to voice out her opinions, and I am a sucker for the short blond hair type. Their appearance, however, is exploring stories that would only be finished in the anime that is forthcoming. It felt like I was duped into watching a two-parter movie when there was no clear indication that it was a two-parter movie, like how some people were surprised that Spider-verse Across the Spiderverse is actually the first part of a two-part movie.</p>
            
<p>That part above also contributed to the unclear motives of Sakiko to disband CRYCHIC. It truly made me hate her with a passion, with the only explanation left on a cliffhanger on the very last episode, which really grinds my gears. Her actions and her words do not match, which made me think that she might be a classic case of Tsundere, but I can’t really figure her out because her story is NOT SUPPOSED TO BE EXPLORED IN THIS ANIME. Gah, if it’s not clear to you reading this, I got the bad case of waiting-for-the-next-season-itis.</p>
            
<p>All that rant above is responsible for bringing my rating for this anime to 8/10. To be honest, just like I upgraded my ratings for Horimiya once Horimiya: Pieces was released, my ratings for this anime do have the same chance to be upgraded as well once <i>BanG Dream! Ave Mujica</i> is released… whenever that would be.</p>
            
<p>This is why I hate watching anime when you don’t know when the next season will drop… dammit…</p>