---
title: Now You See Me, Now You Don't
description: The review of the anime 'Magic Kaito 1412' by AlwaysNever.
series: Magic Kaito 1412
media: (anime)
rating: 8
intro : "<p><i>Ooooh, KID!</i></p>
<p><i>Ladies and gentlemen! I bring you marvelous reviews to make your day! What miraculous words await over the unrelenting light of your monitor today? Keep your eyes peeled,</i></p>
<p><i>Ooooh, KID!</i></p>"
images: https://cdn.myanimelist.net/images/anime/3/67807l.jpg
imagesalt: "Image of the cover of the anime 'Magic Kaito 1412', featuring the main character, Kaito Kid."
---

<p>Alright, alright, settle down, settle down. No, I’m not the Phantom Thief himself, I’m just AlwaysNever, or Al for short. I know, I know, disappointing. But he’s off stealing big jewels again, who knows where, so you’re gonna have to deal with me tonight!</p>

<p>No, I can’t really show you a magic trick using just mere words… What am I, a master novelist? Even if I can, I wouldn’t do it, because my goal tonight is to present to you my review of the Phantom Kid’s series, Magic Kaito 1412!</p>

<p>Okay, I heard your internal boo, it crosses through space and time, so much so that I can hear it while I’m still typing the words you’re reading. Maybe that’s the magic trick I’m showing you for this review. Who knows.</p>

<p>Anyway, to watch this series, I endeavor myself with the extra preparation by reading the manga itself. I have read the manga before, or so I thought, because reading them again after a while, I don’t particularly remember the story as well as I thought.</p>

<p>So let’s just say I read it for the first time! Ehm…. moving on.</p>

<p>And would I say reading the manga enhances the experience of watching the anime? Not particularly. Usually, you might think that this is because the adaptation took liberties and changed things around for the sake of a coherent plot, but with this anime, they didn’t just do that, they even adapted things that aren’t supposed to be from the manga, but from the adjacent but more successful Detective Conan.</p>

<p>That’s right, some of the episode in this anime pulls from a chapter of that incredibly long series.</p>

<p>But fear not, if you think that’d be a sore spot for me, because I happen to be one of the few readers who did read that manga. Matter of fact, I know Kaito Kid from this manga. But you’d be hard-pressed to find anyone who knows Magic Kaito first before they know Detective Conan, because even though Magic Kaito came out as the first serialization by the GOAT Gosho Aoyama, the series itself was dead in the water as he moved on to work on his more popular series Yaiba, and then Detective Conan.</p>

<p>Anyway, that’s enough history lesson for you before we start this review… Wait, didn’t we already start-</p>

<p>Oh yeah! We did.</p>

<p>Thurston’s three rules in magic are taboos that magicians should never do.
    <ul>
        <li><i>First, you must never reveal your tricks. Although, that goes without saying.</i></li>
        <li><i>Second, never explain what's going to happen before the trick. Without the element of surprise, the audience won't be as awestruck.</i></li>
        <li><i>And the third one: never repeat the same trick twice. If you do the trick just once, it'll make a strong impression and be remembered as a miracle of the first order. But if you do it again, the audience will concentrate on trying to spot the trick instead of enjoying the phenomenon, which increases the danger of it being exposed.</i></li>
    </ul>
    - Kid vs Conan: Teleportation Under the Moonlight (Episode 21)
</p>

<p>This rule was purportedly said by a magician called Howard Thurston, but further research suggested that this might originate from someone else entirely. I have a link, that explained things in Japanese, but the Google Translate feature seems solid enough for me to understand them.</p>

<p>Useless tangent aside, the second principle was one of the things Toichi Kuroba said to his son, Kaito Kuroba, as a recording. And true to his words, the anime never betrayed that principle, showing you the trick only after the deed was done. The other two principle was broken by convenience, either because detectives caught on to the trick, or a deliberate attempt to do something amazing by doing it twice without being caught.</p>

<p>In the name of entertainment, <i>Magic Kaito</i> brings forth a magic show on each episode, exploring them, using them to steal jewels, and then our hearts.</p>

<p>But magic as an entertainment is not the only thing that this series explore. It deals with sorcery as well, <em>real</em> magic. It also deal with technology. Rival magicians, hustlers, detective<em>s</em>, thieves, and organization hell bent on retrieving a jewel that purportedly can bring eternal youth.</p>

<p><i>Magic Kaito 1412</i> might not be the best animation wise, I can concede on you on that, but you know what they knocked it out of the park with?</p> 
            
<p>The soundtrack! And also the overall <em>entertainment</em> value.</p>

<p><i>It's true that magic tricks may only deceive people. But the audience... is there to enjoy the deception. That's the difference between spells and tricks.</i> - The Scarlet Temptress (Episode 5)</p>

<p>It's not the perfect series, as some of its jokes are definitely dated, as you can see easily by the first episode, but I was willing to let it slide. The manga also has the same jokes, but they were written decades before the anime at that point, more than 30 years ago if you count from now.</p>

<p>But it is unashamedly fun with that removed. It was fun seeing the magician worked his <i>magic</i> to either get the jewel, or get out of a predicament with a lady sorcerer hell bent to charm him, or detectives (plural, yes) who matched wits with him.</p>

<p>Have I mentioned the absolutely bonkers soundtrack that this anime has? From the showman-like <i>Kid's Theme</i>, the ball dance song-like <i>The Message from The Past</i>, and the masterpiece <i>Memories</i>, there's no shortage of good music to back up this production. We cannot talk about this without mentioning the OP and the ED. This being a 2 cour means it has two OP and ED, but my favorite would have to be the second OP, <i>Ai no Scenario</i> by CHiCO HoneyWorks. That OP is a fucking blast, which surprised me when I first watched Episode 13, and it stuck with me for the rest of the viewing.</p>

<p>Now we move on to the characters. Kaito Kuroba is a pervy high-schooler whose dad was the famous magician Toichi Kuroba, who moonlighted as the Phantom Thief <i>Kaito Kid</i>. Kaito as a student, and Kaito as Kaito Kid (he inevitably took the mantle from his father since he dies), is a totally different character, in my opinion. One is a crass pervert who uses magic to do some... stuff I'd rather not say, while the other is a suave, smooth, gentleman that fools police and woo characters left and right.</p>

<p><i>"Kaito Kid is about entertaining the audience!"</i> - Kid vs Conan: Miraculous Airwalking (Episode 16)</p>

<p>For reference, I don't hate Kaito, the contrast is pretty interesting, and we mostly see Kaito as Kaito Kid anyway, so that part of him is not as prevalent. He is my favorite male character in this series, because his competition is... Inspector "I forgot my own daughter's birthday" Nakamori or Saguru "I'm mostly not there so that Kaito can steal something" Hakuba.</p>

<p>Let's delve into them for a bit. Inspector Nakamori. He's a quite stereotypical blockhead, no more comment there. He's pretty much there to be the object of Kid's ridicule as his slippery posterior almost always gets through his grasp. Later episode however, he has moments with Kaito both as Kid and as Kuroba, which explore his difficulties of being the loser in their exchange, which I appreciate. Kaito wasn't always dogpiling him, giving him win either by the goodness of his heart, or by circumstances where Kid was sabotaged by other party. More on that later.</p>
            
<p>Meanwhile, Saguru Hakuba is the cool rival character, posing as a detective who returned from London to help the police (his father is the superintendent, basically runs the country's police department) in catching Kid. As the anime progress, he slowly started to respect Kid, but he rarely appears in the story, coming through only when the episode needs his involvement.</p>
            
<p>Bit of a shame, but honestly if he continues fighting Kid for every episode, even I have trouble believing that Kid could escape him. By the end, Saguru was able to deduce that Kuroba is him, but unable to have solid proof, he has this supporting relationship with him, even providing helpful hint when Kid was up against the French thief, Chat Noir. Again, more on that later.</p>

<p>Last but not least, we have the female supporting characters. Aoko Nakamori, yes, the daughter of that Inspector. We also have the ojou-sama Akako Koizumi, the Scarlet Temptress, the person who vies for Kaito Kid's attention, as part of her plan to make all men her slave. Yes, if you feel like that sounds so dated, it is as dated as you think.</p> 
            
<p>Aoko is a stereotypical loudmouth heroine, who suspiciously look like Ran Mouri. You might think, does that make Kaito look like Shinichi? Yes, even the author himself make a joke about that in the latest chapter of Detective Conan. Aoko is there as Kaito's vague love interest/friend, who he need to fool numerous times in order to do his heist. She was also used as a way for Kaito to be able to scope out a possible heist spot, due to how he would always accompany her to meet Nakamori and give him bento.</p> 
            
<p>She hates Kid because of how he keeps kicking her father's bottom every time they clash, and Kaito with his childish attitude, pushed back against it, as a fellow "magician", he would claim. Their dynamic is the standard loudmouth x loudmouth pairing, which can get too much at times, but ultimately is used for amusing purposes. She is opposed by the other female character in this anime.</p>

<p>Akako. Truly, their name is so similar, I wondered if it's just Gosho being lazy. Akako was introduced as an ojou-sama with charming personality, able to attract attention from all the men she meet in the school, but she was told that Kaito Kid is the only one that would resist her.</p>
            
<p>Coincidentally, she found out that Kaito Kuroba is able to resist her as well. This lead to a dynamic where she know his secret identity, and helped him sometimes when she felt like his job was too dangerous, with prophecy about how it would end, or when she gets in the Temptress mood, she would try to charm Kaito away from Aoko. Honestly, no matter how much I don't care for the ojou-sama attitude, she is someone I like more than Aoko. She's also probably my favorite out of the cast, Kaito very close on her tail.</p>

<p>Other than these characters, we have other characters who came up on different case- I mean heist. Princess who gets charmed by Kid, Actress bullied by another actress that Kid helps find confidence, Queen and her son, the Prince, who Kid helped patched relationship with. A legendary Pool Player, stuck in a position he was in due to circumstances, until Kid beats him on a pool game and frees him.</p>
            
<p>His father's mentor's daughter, who Kid saved from certain doom and help in founding her love of magic. A thief from France, Chat Noir, stealing their father's creations for his sake, helped by Kid as he gave them the jewel in the most awesome way possible. This character is honestly my favorite amongst the one-off characters. We also have Fake Kaito Kid, forced to don the costume to promote the shopping mall they worked at. Kid's mother, a former thief called the Phantom Lady, who got charmed by Toichi in a way that even made ME swoon.</p>

<p>And last but not least, the Doppelganger Kaito Kid (different from the previous one) called Kaito Corbeau. The ultimate rival, the shadow Kid, the final boss, whose identity never actually got REVEALED, not even in the manga, so I can't really blame the anime for this one.</p>

<p><i>"Do you know what magicians and phantom thieves have in common? Magicians make the impossible possible, and phantom thieves carry off thefts deemed impossible. Both of them perform miracles. Remember this. 'When a performer continues to have strong conviction, true showmanship lies within'."</i> - Midnight Crow (Part Two): Clash! White or Black?! (Episode 25)</p>

<p>The anime is filled with unique and charming characters, magic tricks that aims to entertain both the in world audience and us as the viewer. I was glad that this was contracted to me, every episode was a delight. I can't help but enjoy it every time that "Oooh Kid" came in, but that indeed has its limits in term of rating. It doesn't aim to be the best of the best, and it doesn't hit me as hard as other anime would, but I'm willing to give it 8/10. It still give me a good time, even if the way I consume it is not ideal (binging it under 48 hours).</p>

<p>As an adaptation, made by the fricking studio who did Kaguya-sama (years after this anime at least), this was honestly a pretty good one. The Conan chapters that it ends up adapting, managed to feel fresh to me, because it explore Kid's perspective on the clash. It somehow was able to still incorporate the same beat like the original chapter (even though the POV was Conan), keeping the trick secret until the inevitable reveal by Conan, which I feel would be helpful for those who came in to this series completely blind. And I love that shit! That shows how competent the director is at adapting the source.</p>

<p>That's not all the things they changed. They also make the story flows better, adapting things out of order but keep the time consistent, something that they also would do in Kaguya-sama in the future. Truly, having A-1 Picture as the one adapting your story is quite the blessing. There's no shortage of praise I could give them for this adaptation.</p>

<p><i>Until the next review. Let’s meet again beneath the marvel of the moonlight. See you… next review!</i></p>