---
layout: empty
title: Book of Creation
description: "The Holy Book in-world of Stickverse. Based on Book of Genesis, it covers the initial creation of Stickverse itself, and The Creator's struggle against the Entropy system (known as the Deep) and the intricate balance The Creator must maintain to control the Deep."
draft: true
---

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or meta.title }}</title>

    {% include "meta.njk" %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Cinzel:wght@400..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/main.scss">
</head>

<body>
    <main class="container">
        <header>
            <h1 class="cinzel-unique">Book of Creation.</h1>
        </header>
        <section class="cardo-regular" id="chapter-1">
            <h1 class="cinzel-unique">Chapter 1</h1>
            <p>[1:1] In the beginning, The Creator exists. As the Creator exists, so does the everything and the deep.
            </p>
            <p>[1:2] The deep was dark and filled with nothing, and the everything is shining yet malleable. </p>
            <p>[1:3] Then The Creator said, "Centro"; and there was Centro. </p>
            <p>[1:4] The Creator saw that the Centro filled the nothingness with its shining light, and the universe is
                born.
                And The Creator saw that everything was eternal. </p>
            <p>[1:5] But then the deep comes sweeping through everything, uninvited. </p>
            <p>[1:6] The deep must be satisfied, and The Creator try to fill it with everything.</p>
            <p>[1:7] But the deep stood still, and instead covers the shining light, dimming it. And so the Day and
                Night was
                born. </p>
            <p>[1:8] As the Night passes, Day regains control, the first of its name has passed.</p>
            <p>[1:9] The Creator said, "Dome"; and there was dome.</p>
            <p>[1:10] The Creator separate a part of the everything with the dome, in the center of the universe, and
                claim it
                for Himself.</p>
            <p>[1:11] And The Creator said, "Earth"; and there was earth.</p>
            <p>[1:12] The Creator formed a sphere of earth within the dome, and it fills itself with blue liquid. He
                calls it
                Land and Sea, and it was better.</p>
            <p>[1:13] And The Creator said, "Life"; and there was life.</p>
            <p>[1:14] The Creator infuses the earth-sphere with life, and green colors of plants invade the land,
                seeding the
                first phase of Life into the sphere, and He was satisfied.</p>
            <p>[1:15] And the deep grew wary of the progress, and Night gains control.</p>
            <p>[1:16] As the Night passes, Day regains control, the second of its name has passed.</p>
            <p>[1:17] And The Creator said, "Stars"; and there was stars.</p>
            <p>[1:18] The Creator create small shining lights that brights itself eternal, and it was so that they
                become the
                perceivable light for the earth-sphere.</p>
            <p>[1:19] And so the Night comes, and the stars burn its light in defiance, one light burns brighter than
                the
                others.</p>
            <p>[1:20] And so Day regains control, the third of its name has passed.</p>
            <p>[1:21] And The Creator said, "Life"; and there was life again.</p>
            <p>[1:22] The Creator infuses the earth-sphere with life, and things began forming in the sea, the first of
                the sea
                creatures was born.</p>
            <p>[1:23] The Creator waves his hand, and the sea creatures began multiplying itself. He was satisfied.</p>
            <p>[1:24] The deep grew even more wary, and quickly the Night gains control.</p>
            <p>[1:25] As the Night passes, the sea starts to fill with life quickly, and Day regains control, fourth of
                its
                name has passed. </p>
            <p>[1:26] And The Creator passionately said, "Life!"; and for the third time there was life.</p>
            <p>[1:27] The Creator infuses the earth-sphere with life, and things now form in the land. The first of the
                land
                creatures was born.</p>
            <p>[1:28] The Creator waves his hand, and the land creatures began multiplying itself. He was satisfied.</p>
            <p>[1:29] The deep now rage in his void, and as quick as He was satisfied, the Night gains control.</p>
            <p>[1:30] As the Night passes, the land began to fill with life quickly, and a surprise waiting to be seen. Day
                regains control, fifth of its name has passed.</p>
            <p>[1:31] The Creator watches as the land creatures evolves, and some of them grew soft skin, light in weight, and
                it allows them to neither stay on land nor on sea.</p>
            <p>[1:32] The first of the air creatures were born, without The Creator's infusion of life. He was elated.</p>
            <p>[1:33] The Creator then said, "Stickmen"; and there was Stickmen.</p>
        </section>
        <section>
            <h1 class="cinzel-unique" id="chapter-2">Chapter 2</h1>
            
        </section>
    </main>
    
    {% include "footer.njk" %}

</body>