/**
 * Font Face
 */
 @font-face {
    font-family: 'DM Sans Subset';
    src: url('/assets/fonts/dm-sans/dm-sans-v11-latin-regular-subset.woff2') format('woff2'),
             url('/assets/fonts/dm-sans/dm-sans-v11-latin-regular-subset.woff') format('woff');
    unicode-range: U+21-80,U+91-94,U+BF-D6,U+D8-F6,U+F8-122; // U+21-80,U+91-94,U+DF,U+E4,U+F6,U+FC
}


/* dm-sans-regular - latin */
@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('/assets/fonts/dm-sans/dm-sans-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/assets/fonts/dm-sans/dm-sans-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* dm-sans-italic - latin */
  @font-face {
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 400;
    src: local(''),
         url('/assets/fonts/dm-sans/dm-sans-v11-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/assets/fonts/dm-sans/dm-sans-v11-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* dm-sans-700italic - latin */
  @font-face {
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 700;
    src: local(''),
         url('/assets/fonts/dm-sans/dm-sans-v11-latin-bolditalic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/assets/fonts/dm-sans/dm-sans-v11-latin-bolditalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* dm-sans-700 - latin */
  @font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('/assets/fonts/dm-sans/dm-sans-v11-latin-bold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/assets/fonts/dm-sans/dm-sans-v11-latin-bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* AllertaStencil-Regular */
  @font-face {
    font-family: 'Allerta Stencil';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('/assets/fonts/allerta-stencil/AllertaStencil-Regular.woff2') format('woff2');
  }

  /* Merriweather */
  @font-face {
    font-display: swap;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('/assets/fonts/merriweather/Merriweather[opsz,wdth,wght].woff2') format('woff2');
  }

  /* kosugi-maru-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Kosugi Maru';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/kosugi-maru/kosugi-maru-v17-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('/assets/fonts/kosugi-maru/kosugi-maru-v17-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  }

body {
    font-family: sans-serif;
}
.fonts-loaded-1 body {
    font-family: 'DM Sans Subset';
}
.fonts-loaded-2 body {
    font-family: 'DM Sans';
}

.merriweather-regular{
    font-family: 'Merriweather';
}

.allerta-stencil{
    font-family: 'Allerta Stencil';
}

.kosugi-maru-regular{
    font-family: 'Kosugi Maru';
}
