---
layout: fiction
title: "Monarch"
description: "A short story about futility, loss, and a butterfly that anchors space and time. Takes place in the Stickverse. Originally written in December 2019."
story_icon: "butterfly"
custom_font: "Merriweather"
accent_color: "#c084fc"
text_color_dark: "#e2e8f0"
text_color_light: "#1e293b"
tags: ["fiction", "short-story"]
---

{% divider %}
Jump.  

What am I still thinking about? Just jump.  

Not even this beautiful view from the top of the building will change my mind, not even the yellow butterfly that perched on the edge of the building will make me stop.  

I had made up my mind way before I climbed to the roof of this building. Way before my breakdown.
Right after I heard the news.  

In another public fight, another block of the city was destroyed. It has been only a few weeks since the public revealing of the powers that have spread, more than a year since the winged guy exposed himself to the world, and the rates of destroyed buildings have risen exponentially.  

Lots of death nowadays, and funeral parlors are practically thriving.  

The winged guy fought his nemesis, the armed man, a few days ago, and that brought down a building. My mother and father lived there.  

That's not the news that brought me to this spot.  

Another fight happened and brought down another building. A university dorm. All my friends lived there.  

That's also not the news that brought me to this spot.  

A building right in the center of the city, a prime spot for another wanton destruction to hit, and yet she didn't budge when I told her to move with me.  

And I have to watch her being taken out of the rubble of that building.  

To say that drove me to the edge is too underwhelming. I was ready to just drop down and find any sharp things to just slash at my artery and bleed out on the spot. To seep out all my sorrows, to drown in my own blood.  

And now I can just jump, right? Jump, and in a few seconds, I'll be free of this painless shriek of agony that I've been struggling to hold.  

But I'm not a brave person. So I didn't jump.  

I just stepped off the building instead.  

I felt the winds flapping this hard before when I tried to go 100 km/h on my motorcycle on an empty road. It was actually quite thrilling, but I can't say the same about this. My entire body's instinct is to flap around, panicking.  

I started regretting what I had just done by the time I reached half of the building's height, gut feeling says. My mind desperately wanted to live, but what do I have to live for?  

Nobody.  

I reached the ground and expected a crunch, pitch black darkness to greet my consciousness and all my thoughts to go into nothingness. Instead, I opened my eyes and saw the building from which I just jumped off, in all its glory, from beneath it.  

I didn't die. I jumped off a building and didn't die.  

I wanted to scream about how I just got denied my only chance to take away all of my pain, but I was approached by a person.  

"Are you okay?"  

It was a woman in a regular employee outfit. She looked surprised and worried, and so did dozens of people around the building. I think I saw one on a phone already, probably calling emergency services.  

I sat up and answered, "No."  

"What? But…" she replied, cutting off before she could finish the sentence because I stood up and walked towards the building again. I felt a hand on my shoulder.  

"Don't," she said.  

"Why the hell not?"  

...

"I know it felt like it's all gone wrong and there's nothing you could do, but-"  

"But what? BUT FREAKING WHAT?" I screamed at her and cut off her clichéd attempt to make me feel better.  

"DO YOU KNOW WHAT IT'S LIKE TO WAKE UP ONE DAY TO HEAR THAT THE ONLY TIES YOU HAVE TO THIS WORLD HAVE BEEN SEVERED? DO YOU KNOW HOW TO LIVE WITH ALL THIS PAIN AND ON THIS FUCKED UP WORLD?"

...

"Please, tell me if you do, because only then I'll stop whatever I'm doing."  

I hear nothing, so I stepped inside. I climbed the building and faced the same view I had just seen a few moments ago.  

Jump.  

What am I still thinking about? Just jump.  

Not even this beautiful view from the top of the building will change my mind, not even the yellow butterfly that perched on the edge of the building will make me stop.  

{% divider %}  

Each time I saw him jump and die, and scream, and go back again, I felt like I wanted to die with him.  

The device that I have set can last forever, and I'll spend each piece of this infinity to bring him back with me.  

He can feel like he has lost everything, but he didn't know that he was my everything. I lost my parents way before the public revelations of the powers. I only have my sister left.  

We survived together into our adulthood. My sister and I worked together to support each other. We depended on each other.  

He was always my everything since the day I met him in the building where I worked. He was a guest, I was a bartender. He ordered a drink and led some small talk with me. We clicked instantly and decided to trade phone numbers. He and I hung out afterwards, but we never progressed into dating. It's always just friends.  
        
I don't know when it changed, but one day he visited my apartment.  

My sister introduced herself to him, and I thought nothing of it. But suddenly, a few weeks afterwards, during an awkward dinner, my sister announced that he had asked her to be his girlfriend.  

Even though I didn't even tell her that I liked him, she still knew that I might've had feelings for him. It's hard to hate her when she does that guilty, embarrassing face.  

I woke up crying the next day. Repressed feelings sometimes came out in the most unexpected ways.
I didn't recognise the feelings I had.  

I was an idiot. But I'm still glad that he became my sister's boyfriend.  

He was the reason why she stopped self-harming after she had major depression, a thing I only realized after he told me about it when we hung out. He's the reason why she became happy all the time, instead of only at certain times.  

When his parents died in another building crash, I was the first to be there to cheer him up.
My sister came after me.  

To see him break down at the rubble in which my sister was retrieved, I cried with him.  
When I heard that someone jumped from a building, I didn't think that it could be him. I just left his apartment after I was convinced by him that he is okay.  

I still can't forgive myself for leaving him alone like that.  

I almost broke down as he did after the rubble when I saw his demise, but I didn't. I know a way to save him. A device that can loop time infinitely, so long as it is never longer than 10 minutes for each loop.  

It was a different world now. Things like this used to be so unthinkable, so impossible. Then a guy with wings appeared, and now everything seems to be possible.  

Powers that used to belong only in fantasy are now reachable for me.  

And I'll never leave until he realizes that his life is precious.  

{% divider %}  

A butterfly flew its way through time, landing each time on the edge of the building.  

He was depressed, she was determined. A beautifully tragic pattern. The butterfly can't judge; it was there just as a clue. As an anchor to the looping space and time, as the one that brings stabilization to the dimensions.  