---
layout: empty
title: I Am Thou
---

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta property="og:title" content="I Am Thou">
    <meta property="og:image" content="/assets/images/P5R.jpg">
    <meta property="og:image:alt" content="Image of the cover of the game 'Persona 5 Royal', featuring the main cast, the Phantom Thieves.">
    <meta property="og:description" content="The review of the game 'Persona 5 Royal' by AlwaysNever.">
    <title>I Am Thou</title>
    <link rel="stylesheet" href="/assets/css/persona.css">
</head>
<body>
  <nav>
    <div class="navbar">
      <a class="link-wrapper" href="/">
        <span class="fallback">Index</span>
        <div class="img-wrapper">
          <img class="normal" src="/assets/images/persona/index-persona.png" alt="Index Navbar Normal">
          <img class="active" src="/assets/images/persona/index-persona-red.png" alt="Index Navbar Active">
        </div>
        <div class="shape-wrapper">
          <div class="shape red-fill jelly">
            <svg x="0px" y="0px" viewBox="0 0 108.1 47"
                        enable-background="new 0 0 108.1 47">
              <polygon fill="#FF0000" points="29.5,8.5 150.7,0 108.1,32.7 3.1,47 " />
            </svg>
          </div>
          <div class="shape cyan-fill jelly">
            <svg x="0px" y="0px" viewBox="0 0 108.1 47"
                        enable-background="new 0 0 108.1 47">
              <polygon fill="#00FFFF" points="0.3,17 125.1,0 68.8,45.6 24.3,39 " />
            </svg>
          </div>
        </div>
      </a>
      <a class="link-wrapper" href="/reviews/">
        <span class="fallback">Archive</span>
        <div class="img-wrapper">
          <img class="normal" src="/assets/images/persona/archive-persona.png" alt="Archive Navbar Normal">
          <img class="active" src="/assets/images/persona/archive-persona-red.png" alt="Archive Navbar Active">
        </div>
        <div class="shape-wrapper">
          <div class="shape red-fill jelly">
            <svg x="0px" y="0px" viewBox="0 0 108.1 47"
                        enable-background="new 0 0 108.1 47">
              <polygon fill="#FF0000" points="15.5,0 70.7,0 118.1,32.7 43.1,47 " />
            </svg>
          </div>
          <div class="shape cyan-fill jelly">
            <svg x="0px" y="0px" viewBox="0 0 108.1 47"
                        enable-background="new 0 0 108.1 47">
              <polygon fill="#00FFFF" points="17.3,0 105.1,0 68.8,45.6 24.3,39 " />
            </svg>
          </div>
        </div>
      </a>
      <a class="link-wrapper" href="/posts/">
        <span class="fallback">Blog</span>
        <div class="img-wrapper">
          <img class="normal" src="/assets/images/persona/blog-persona.png" alt="Blog Navbar Normal">
          <img class="active" src="/assets/images/persona/blog-persona-red.png" alt="Blog Navbar Active">
        </div>
        <div class="shape-wrapper">
          <div class="shape red-fill jelly">
            <svg x="0px" y="0px" viewBox="0 0 108.1 47"
                        enable-background="new 0 0 108.1 47">
              <polygon fill="#FF0000" points="0,7.1 127.3,0 32.3,64 4.8,58.2">
            </svg>
          </div>
          <div class="shape cyan-fill jelly">
            <svg x="0px" y="0px" viewBox="0 0 108.1 47"
                        enable-background="new 0 0 108.1 47">
              <polygon fill="#00FFFF" points="14,0.5 127.4,0 77.4,164 2.3,61.1 " />
            </svg>
          </div>
        </div>
      </a>
      <a class="link-wrapper" href="/about/">
            <span class="fallback">About</span>
            <div class="img-wrapper">
                <img class="normal" src="/assets/images/persona/about-persona.png" alt="About Navbar Normal">
                <img class="active" src="/assets/images/persona/about-persona-red.png" alt="About Navbar Active">
            </div>
            <div class="shape-wrapper">
                <div class="shape red-fill jelly"><svg x="0px" y="0px" viewBox="0 0 108.1 47"
                        enable-background="new 0 0 108.1 47">
                        <polygon fill="#FF0000" points="19.5,0,110.7,0,80.1,32.7,3.1,47 " />
                    </svg></div>
                <div class="shape cyan-fill jelly"><svg x="0px" y="0px" viewBox="0 0 108.1 47"
                        enable-background="new 0 0 108.1 47">
                        <polygon fill="#00FFFF" points="11,3,85.1,0 118.8,45.6,14.3,29 " />
                    </svg></div>
            </div>
      </a>
      <a class="link-wrapper" href="#credits">
            <span class="fallback">Credits</span>
            <div class="img-wrapper">
                <img class="normal" src="/assets/images/persona/credits-persona.png" alt="Credits Navbar Normal">
                <img class="active" src="/assets/images/persona/credits-persona-red.png" alt="Credits Navbar Active">
            </div>
            <div class="shape-wrapper">
                <div class="shape red-fill jelly"><svg x="0px" y="0px" viewBox="0 0 108.1 47"
                        enable-background="new 0 0 108.1 47">
                        <polygon fill="#FF0000" points="15.5,0 70.7,0 118.1,32.7 43.1,47 " />
                    </svg></div>
                <div class="shape cyan-fill jelly"><svg x="0px" y="0px" viewBox="0 0 108.1 47"
                        enable-background="new 0 0 108.1 47">
                        <polygon fill="#00FFFF" points="17.3,0 105.1,0 68.8,45.6 24.3,39 " />
                    </svg></div>
            </div>
      </a>
    </div>
  </nav>

  <main>
    <article>
      <div class="persona-deal visible">
        <br>
        <p>I am <span>thou</span>, thou art I...</p>
        <p>Thou hast acquired a <span>new</span> vow.</p>
        <br>
        <p>It shall <span>become</span> the wings of rebellion</p>
        <p>that <span>breaketh</span> thy chains of captivity.</p>
        <br>
        <p>With the <span>birth</span> of the Fool Persona,</p>
        <p>I have obtained the winds of blessing that</p>
        <p>shall lead to <span>freedom</span> and new power...</p>
      </div>
      <figure class="poster">
        <img src="/assets/images/P5R.jpg" alt="Persona 5 Royal official poster">
      </figure>
    </article>

    <section id="intro" class="arsenal-bold visible">
      <h2>Intro</h2>
      <p>Do I even need to explain to you what <i>Persona 5 Royal</i> is?</p>

      <p>One of, if not, the most famous JRPG that has been released recently, <i>Persona 5 Royal</i> is an enhanced version (not a remake) of the original <i>Persona 5</i>, and originally released only on Playstation.</p>
      
      <p>I was there when Joker made it to Smash. Even before that, I have heard of Persona through the grapevine... but I've never felt the pull to actually play the game.</p>

      <p>Back then, I mostly had the excuse of the game not being available on PC, the only platform I can play on. (I'm not rich enough to own a PS4/PS5, nor do I want to own one, really.) I was also very wary of the "JRPG completion time" that I know this game would have, and I don't know if I can't commit to playing a game for that long.</p>

      <p>Well, it seems like I don't have a choice now. I have striked a deal with Frazzle... the Cow lord himself...</p>

      <figure>
        <img src="/assets/images/persona/Cow Confidant.png" alt="Deal with the Cow Lord">
        <figcaption>I am thou, thou art I...</figcaption>
      </figure>
    </section>

    <section id="kamoshida" class="arsenal-bold visible">
      <h2>The Transfer Student</h2>

      <p></p>
    </section>
  </main>

    <footer>
      <div id="credits" class="arsenal-bold visible">
        <p>Thanks to these people, for which this page would never be able to be created:</p>
        <ol>
          <li>ATLUS, for making the game</li>
          <li>Frazzle for giving the game to me for free</li>
          <li>Steam, just because</li>
          <li>Kevin Quach and his <a href="https://codepen.io/kevinquach/pen/JNGmKG">Persona 5 Menu Effect</a> codepen</li>
          <li>u/Gamerverise's <a href="https://www.reddit.com/r/Persona5/comments/gmw6hz/persona_5_royal_fonts_if_i_find_more_about_the/">reddit post</a> on r/Persona5 about Persona 5 Royal's fonts (massive help)</li>
          <li>u/LazyTuga's comment on this <a href="https://www.reddit.com/r/Persona5/comments/onc1mx/the_i_am_thou_thou_art_i_font/">reddit post</a> about the Persona awakening chant font</li>
        </ol>
      </div>
    </footer>
</body>