---
title: For the Love of Books II Part 2 - Temple Run
description: The review of the light novel series 'Ascendance of a Bookworm (Part II)' by AlwaysNever.
series: Ascendance of a Bookworm (Part II)
media: (light novel)
rating: 9
ratingaddon: "<ul>
    <li>Volume 4: <b>9/10</b></li>
    <li>Volume 5: <b>9/10</b></li>
    <li>Volume 6: <b>10/10</b></li>
    <li>Volume 7: <b>10/10</b></li>
</ul>"
intro : "<p>In this digital age, or even, the age after printing is invented by Johannes Gutenberg in 1440, it is incredibly easy to acquire books due to the cheap cost and the technological advancement that has occured in the world. Books are something you can find in abundance, and I'm willing to bet if you look around your house right now, you will find at least ONE book lying somewhere.</p>

<p>But then, before all this convenience existed, have you ever wondered how does people read books?</p>
        
<p>In an era without printing press, without paper, without any means to commercially produce books in such way that it is available to everyone?</p>
        
<p><i>Ascendance of a Bookworm</i>, the light novel series written by Miya Kazuki and illustrated by You Shiina, aims to explore the answer to that question.</p>"
images: "/assets/images/Ascendance of a Bookworm Part 2 Vol 1.jpg"
imagesalt: "Image of the first volume cover of the second part of the light novel series 'Ascendance of a Bookworm', featuring Myne, the main heroine, and Lutz, her childhood friend."
draft: true
---

<section id="table-of-contents">
    <fieldset>
        <legend>Table of Contents</legend>
        <ol>
            <li>Part 2: Apprentice Shrine Maiden</li>
            <ol>
                <li><a href="#fourth-volume">Apprentice Shrine Maiden? More Like Temple Management Simulator</a></li>
                <li><a href="#fifth-volume">Bookbinding and (finally) Magic</a></li>
                <li><a href="#sixth-volume">Rising Threats</a></li>
                <li><a href="#seventh-volume">There Is No Saint in the Temple, There Is No Sinner in the Orphanage</a></li>
            </ol>
        </ol>
    </fieldset>
</section>

<section id="part-2">
    <section id="fourth-volume">
        <h2>Apprentice Shrine Maiden? More Like Temple Management Simulator</h2>
        <p><i>December 2, 2024</i> - <a href="https://anilist.co/activity/823612551">Anilist Activity Link</a></p>
        <p><i>January 8, 2025</i> - <a href="https://anilist.co/activity/840033462">Anilist Activity Link</a></p>
        <p><i>Below are my anilist comment about this volume.</i></p>
        <blockquote><q>read this much on a 2 hour flight, Myne really be doing some kind of management simulator type of shi goddamn :sob:</q></blockquote>
        <p><i>January 22, 2025</i> - <a href="https://anilist.co/activity/846880146">Anilist Activity Link</a></p>
        <p><i>January 27, 2025</i> - <a href="https://anilist.co/activity/849162630">Anilist Activity Link</a></p>
    </section>
    <section id="fifth-volume">
        <h2>Bookbinding and (finally) Magic</h2>

        <p><i>March 15, 2025</i> - <a href="https://anilist.co/activity/871050467">Anilist Activity Link</a></p>
        <p><i>March 25, 2025</i> - <a href="https://anilist.co/activity/875889021">Anilist Activity Link</a></p>
                
        <p><i>Below are my anilist comment about this volume.</i></p>
        <blockquote><q>volume 2 done, a lot about the bookbinding process this time around, with the surprising last few chapters about the mechanics of magic, and a very sweet epilogue chapter... this shouldn't take me as long as it did to finish, but I've been very moody with regards to media that I consume these days, so I can only sigh.</q></blockquote>
    </section>
    <section id="sixth-volume">
        <h2>Rising Threats</h2>

        <p><i>April 1, 2025</i> - <a href="https://anilist.co/activity/879358249">Anilist Activity Link</a></p>
                
        <p><i>Below are my anilist comment about this volume.</i></p>
        <blockquote><q>volume 3 done. we are dealing with letter types, bodyguards, winter life, rituals, myne's life is finally heading towards an unavoidable conclusion as the threats seem to escalate... two more years... I'm excited to find out the title of the next part cause I have not been spoiled for it, but I can imagine it will be related to her being a student in the Royal Academy...</q></blockquote>
    </section>
    <section id="seventh-volume">
        <h2>There Is No Saint in the Temple, There Is No Sinner in the Orphanage</h2>

        <p><i>April 18, 2025</i> - <a href="https://anilist.co/activity/887773533">Anilist Activity Link</a></p>

        <p><i>April 30, 2025</i> - <a href="https://anilist.co/activity/892945810">Anilist Activity Link</a></p>

        <p><i>May 10, 2025</i> - <a href="https://anilist.co/activity/897389562">Anilist Activity Link</a></p>

        <p><i>July 27, 2025</i> - <a href="https://anilist.co/activity/933136713">Anilist Activity Link</a></p>
                
        <p><i>Below are my anilist comment about this volume.</i></p>
        <blockquote><q>volume 4 done... well.. that was a very explosive volume :sob: tragic, but thankfully not traumatising. cannot wait for part 3 as we see how close our lil brat gets to finally getting her hands on books of her own making!</q></blockquote>
    </section>
</section>
