---
title: For the Love of Books II Part 4 - Library of Ruina
description: The review of the light novel series 'Ascendance of a Bookworm (Part IV)' by AlwaysNever.
series: Ascendance of a Bookworm (Part IV)
media: (light novel)
rating: 9
ratingaddon: "<ul>
    <li>Volume 13: <b>8.5/10</b></li>
    <li>Volume 14: <b>9/10</b></li>
    <li>Volume 15: <b>10/10</b></li>
    <li>Volume 16: <b>10/10</b></li>
    <li>Volume 17: <b>8.5/10</b></li>
    <li>Volume 18: <b>9/10</b></li>
    <li>Volume 19: <b>9/10</b></li>
    <li>Volume 20: <b>10/10</b></li>
    <li>Volume 21: <b>10/10</b></li>
</ul>"
intro : "<p>In this digital age, or even, the age after printing is invented by Johannes Gutenberg in 1440, it is incredibly easy to acquire books due to the cheap cost and the technological advancement that has occured in the world. Books are something you can find in abundance, and I'm willing to bet if you look around your house right now, you will find at least ONE book lying somewhere.</p>

<p>But then, before all this convenience existed, have you ever wondered how does people read books?</p>
        
<p>In an era without printing press, without paper, without any means to commercially produce books in such way that it is available to everyone?</p>
        
<p><i>Ascendance of a Bookworm</i>, the light novel series written by Miya Kazuki and illustrated by You Shiina, aims to explore the answer to that question.</p>"
images: "/assets/images/Ascendance of a Bookworm Part 4 Vol 1.jpg"
imagesalt: "Image of the first volume cover of the fourth part of the light novel series 'Ascendance of a Bookworm', featuring Myne, the main heroine, and her magical helper in the Royal Academy Library, Schwartz and Weiss."
draft: true
---

<section id="table-of-contents">
    <fieldset>
        <legend>Table of Contents</legend>
        <ol>
            <li>Part 4: Founder of the Royal Academy's So-Called Library Committee</li>
            <ol>
                <li><a href="#thirteenth-volume"><s>Hogwarts School of</s> Yurgenschmidt Sovereignty's Royal
                                Academy</a></li>
                <li><a href="#fourteenth-volume">Going to War Over Magical Rabbits</a></li>
                <li><a href="#fifteenth-volume">Letting Go</a></li>
                <li><a href="#royal-academy-stories">Royal Academy Stories (AKA 13 Reasons Why Myne Is A Problem Child)</a></li>
                <li><a href="#sixteenth-volume">Magic Ink, Magic Circle, Magic Cleaning, Everything Magic</a></li>
                <li><a href="#seventeenth-volume">Weddings, Bookcases, Dyed Veils, and Fishes</a></li>
                <li><a href="#eighteenth-volume">Hildebrand, Riumand, Ternisbefallen</a></li>
                <li><a href="#nineteenth-volume">King's Proof</a></li>
                <li><a href="#twentieth-volume">Succession</a></li>
                <li><a href="#twenty-first-volume">The Crumbling Pillar</a></li>
            </ol>
        </ol>
    </fieldset>
</section>

<section id="part-4">
    <section id="thirteenth-volume">
        <h2><s>Hogwarts School of</s> Yurgenschmidt Sovereignty's Royal Academy</h2>
        <p><i>September 27, 2025</i> - <a href="https://anilist.co/activity/961581979">Anilist Activity Link</a>
        </p>
        <p><i>Below are my anilist comment about this volume.</i></p>
        <blockquote><q>Volume 1 done. A lot happened in this volume, as we had to adapt to new circumstances,
                        just as Myne did after what happened in the previous part. This volume is the closest any
                        Japanese series ever comes to emulating the first feeling I had when I read the <i>Harry
                            Potter</i> series.
                <br><br>
                        The amount of magic lore we get in this volume, and even greater lore about the world itself, is
                        astounding. The more people we get to know... the more people that I lament not seeing
                        anymore... AND THE MORE OF MYNE SHENANIGANS I GET TO SEE. I can't wait to see what happens in
                        the next volumes as she finally reaches her nirvana, an actual, real-life library.
                <br><br>
                        I also read the two fanbooks that are available, and the Q&A in those books illuminates me on
                        some information that interests me or slips by from previous parts... including the fact that
                        Ferdinand did SOME MORE THINGS OTHER THAN WHAT HE HAS BEEN DOING IN THESE PAST FEW VOLUMES. High
                        Priest, you....</q></blockquote>
    </section>
    <section id="fourteenth-volume">
        <h2>Going to War Over Magical Rabbits</h2>

        <p><i>September 29, 2025</i> - <a href="https://anilist.co/activity/962358897">Anilist Activity Link</a>
        </p>
        <p><i>Below are my anilist comment about this volume.</i></p>
        <blockquote><q>Volume 2 done. More shenanigans, more consequences, and, distressingly, one such
                        consequence is very emotional. Other than that, more romance abounds in knights and ROYALTY!
                        (We're getting involved in matters that are beyond Ehrenfest now...)
                <br><br>
                        Short thoughts:
                <ul>
                    <li>The goal to visit the library is attained, and the matter of Schwartz and Weiss is
                                treated very seriously</li>
                    <li>Ditter reminds me of Quidditch, and even the author notes that people are making the
                                same comparison</li>
                    <li>Retainer's dynamic with Rozemyne is interesting, and I wonder how they would act in the
                                future</li>
                </ul>
                        Quite a short "review" for this volume, cause I am literally typing this from my phone right
                        now. I must say... that epilogue did make me shed some tears. It might finally be time for
                        Rozemyne to truly cast away her remaining connection to her past...
                <br><br>
                        For future Al, the end of p4v3 is at chapter 73 (epilogue at chapter 71 + 2 extra chapters),
                        adjust accordingly. Also, don't forget about the Short Stories. And also Fanbook 3, which you
                        can apparently read after p4v3.
            </q></blockquote>
    </section>
    <section id="fifteenth-volume">
        <h2>Letting Go</h2>

        <p><i>September 29, 2025</i> - <a href="https://anilist.co/activity/962601447">Anilist Activity Link</a>
        </p>

        <p><i>Below are my anilist comment about this volume.</i></p>
        <blockquote><q>Volume 3 done. Not sure I can talk much about what happened here. This was an emotional
                        book through and through. It's time for everyone to move forward, and this means letting go of
                        the ties that bind.
                <br><br>
                        For future Al, the end of p4v4 is at chapter 93 (epilogue at chapter 91 + 2 extra chapters),
                        adjust accordingly. Also, don't forget about the Short Stories. And also Fanbook 3.</q>
        </blockquote>
    </section>
    <section id="royal-academy-stories">
        <h2>Royal Academy Stories (AKA 13 Reasons Why Myne Is A Problem Child)</h2>

        <p><i>November 11, 2025</i> - <a href="https://anilist.co/activity/982033056">Anilist Activity Link</a>
        </p>

        <p><i>Below are my anilist comment about this volume.</i></p>
        <blockquote><q>
                    Royal Academy Stories done. It is quite fun to see the direct effect of the chaos our protagonist makes on other characters, specifically those that we see interacting with Myne a lot, but we don't get to see their POV in the main series proper. Special mention goes to our resident airhead but secretly smart guard knight Angelica, and the almost-obsessed apprentice scholar Hartmut. There are also Solange's prologue and epilogue chapters that got me teary-eyed a little bit... and Hannelore's series of unfortunate timings is pretty funny to watch unfold from her own perspective. She is too precious.
        </q></blockquote>
    </section>
    <section id="sixteenth-volume">
        <h2>Magic Ink, Magic Circle, Magic Cleaning, Everything Magic</h2>

        <p><i>November 14, 2025</i> - <a href="https://anilist.co/activity/983362674">Anilist Activity Link</a>
        </p>
        <p><i>Below are my anilist comment about this volume.</i></p>
        <blockquote><q>Volume 4 done. (This is about a few days late. Apologies, Persona 5 is proving to be
                <i>really</i> engaging. And long.) We're starting to get even deeper into the magic aspect of this
                        world now, as our book-loving protagonist has to deal with magical inks, magic circles, magical
                        cleaning, and... honestly, too much magic stuff! Jeez! (This is super good though, bring it on!)
                <br><br>
                        Also, I did finish Royal Academy Stories before this, and I'll probably write something about
                        THAT in the relevant activity entry. Let's say I am most certainly excited to see the
                        shenanigans when we next get to see this cast of characters at this Royal Academy. Things are
                        coming to a head, for sure!
                <br><br>
                        (Everyone, please be okay. I don't wanna see anyone... PLEASE)
                <br><br>
                        For future Al, the end of p4v5 is at chapter 116 (epilogue at chapter 113 + 3 extra chapters),
                        adjust accordingly.</q>
        </blockquote>
    </section>
    <section id="seventeenth-volume">
        <h2>Weddings, Bookcases, Dyed Veils, and Fishes</h2>

        <p><i>November 16, 2025</i> - <a href="https://anilist.co/activity/984226757">Anilist Activity Link</a>
        </p>

        <p><i>Below are my anilist comment about this volume.</i></p>
        <blockquote><q></q>
        </blockquote>
    </section>
    <section id="eighteenth-volume">
        <h2>Hildebrand, Riumand, Ternisbefallen</h2>

        <p><i>November 18, 2025</i> - <a href="https://anilist.co/activity/985036627">Anilist Activity Link</a>
        </p>

        <p><i>Below are my anilist comment about this volume.</i></p>
        <blockquote><q></q>
        </blockquote>
    </section>
    <section id="nineteenth-volume">
        <h2>King's Proof</h2>

        <p><i>November 18, 2025</i> - <a href="https://anilist.co/activity/985121396">Anilist Activity Link</a>
        </p>

        <p><i>Below are my anilist comment about this volume.</i></p>
        <blockquote><q></q>
        </blockquote>
    </section>
    <section id="twentieth-volume">
        <h2>Succession</h2>

        <p><i>November 21, 2025</i> - <a href="https://anilist.co/activity/986277693">Anilist Activity Link</a>
        </p>

        <p><i>Below are my anilist comment about this volume.</i></p>
        <blockquote><q></q>
        </blockquote>
    </section>
    <section id="twenty-first-volume">
        <h2>The Crumbling Pillar</h2>

        <p><i>November 21, 2025</i> - <a href="https://anilist.co/activity/986277693">Anilist Activity Link</a>
        </p>

        <p><i>Below are my anilist comment about this volume.</i></p>
        <blockquote><q></q>
        </blockquote>
    </section>
</section>