---
title: For the Love of Books II Part 3 - Crush the Castle
description: The review of the light novel series 'Ascendance of a Bookworm (Part III)' by AlwaysNever.
series: Ascendance of a Bookworm (Part III)
media: (light novel)
rating: 9
ratingaddon: "<ul>
                <li>Volume 8: <b>9/10</b></li>
                <li>Volume 9: <b>9/10</b></li>
                <li>Volume 10: <b>10/10</b></li>
                <li>Volume 11: <b>10/10</b></li>
                <li>Volume 12: <b>10/10</b></li>
</ul>"
intro : "<p>In this digital age, or even, the age after printing is invented by Johannes Gutenberg in 1440, it is incredibly easy to acquire books due to the cheap cost and the technological advancement that has occured in the world. Books are something you can find in abundance, and I'm willing to bet if you look around your house right now, you will find at least ONE book lying somewhere.</p>

<p>But then, before all this convenience existed, have you ever wondered how does people read books?</p>
        
<p>In an era without printing press, without paper, without any means to commercially produce books in such way that it is available to everyone?</p>
        
<p><i>Ascendance of a Bookworm</i>, the light novel series written by Miya Kazuki and illustrated by You Shiina, aims to explore the answer to that question.</p>"
images: "/assets/images/Ascendance of a Bookworm Part 3 Vol 1.jpg"
imagesalt: "Image of the first volume cover of the third part of the light novel series 'Ascendance of a Bookworm', featuring Myne, the main heroine, and Ferdinand, her temple guardian."
draft: true
---

<section id="table-of-contents">
    <fieldset>
        <legend>Table of Contents</legend>
        <ol>
            <li>Part 3: Adopted Daughter of an Archduke</li>
            <ol>
                <li><a href="#eighth-volume">Noble Etiquette and Sorrowful Circumstances</a></li>
                <li><a href="#ninth-volume">"Switching Places"</a></li>
                <li><a href="#tenth-volume">Winter Is Coming to Ehrenfest</a></li>
                <li><a href="#eleventh-volume">Star-Crossed Lovers and the First Wife of Aub Ahrensbach</a></li>
                <li><a href="#twelfth-volume">Like Ships in the Night</a></li>
            </ol>
        </ol>
    </fieldset>
</section>

<section id="part-2">
    <section id="eighth-volume">
    <h2>Noble Etiquette and Sorrowful Circumstances</h2>
    <p><i>August 1, 2025</i> - <a href="https://anilist.co/activity/935653586">Anilist Activity Link</a></p>
    <p><i>Below are my anilist comment about this volume.</i></p>
    <blockquote><q>volume 1 done, a lot more about noble etiquette and... concert planning(?) this time. we get so many new characters this time around, I'm hoping I can remember them, but... it gets me sad thinking of the circumstances regarding that. anyway, seems like the printing business is now moving along in tremendous progress too, now that Sylvester is helping... and they also steadily introduce how magic works now that there's no barrier to knowledge for it. I cannot wait!</q></blockquote>
    </section>

    <section id="ninth-volume">
    <h2>"Switching Places"</h2>

    <p><i>September 17, 2025</i> - <a href="https://anilist.co/activity/956869388">Anilist Activity Link</a></p>
                
    <p><i>Below are my anilist comment about this volume.</i></p>
    <blockquote><q>Volume 2 done (or at least I'm at the epilogue. Future Al should note that.), and not only are we getting even more noble stuff, but we were made aware of how BUSY myne is. 
    <br>
    <br>Either way, we delve into noble schemings and the morality behind them. There are themes of parenthood here, with "Switching Places" as one of the best chapters I've ever read of this series so far, especially since it delves into the topic that I have conflicted opinions on as well.... we also get jureve gathering mission. 
    <br>
    <br>Myne is slowly turning into Ferdinand... or maybe Ferdinand is slowly turning into Myne? Their dynamic remains interesting...</q></blockquote>
    </section>

    <section id="tenth-volume">
    <h2>Winter Is Coming to Ehrenfest</h2>

    <p><i>September 22, 2025</i> - <a href="https://anilist.co/activity/959384656">Anilist Activity Link</a></p>
                
    <p><i>Below are my anilist comment about this volume.</i></p>
    <blockquote><q>V3 done, and... oh, would you look at that, a competition is doing wonders for my drive to finish this series... specifically, I am racing someone who started later than I did, but he has completely overtaken me, as he is currently finished with v4 right now.
    <br><br>
    THIS GUY IS MYNE WHILE I'M WILFRIED! This cannot be.
    <br><br>
    Either way, a lot happened this volume, good god. From a new printing press invention, to the winter in the castle, rituals, Winter and Spring ingredients gathering for the Jureve (the winter one is cold af, pun intended, while the spring one is goofy), and then... Myne had to be there to see what would happen if she were careless in her actions.
    <br><br>
    That was a lot to take. And the summer one is the worst of them all?! 
    <br><br>
    Yikes, good luck, Lady Rozemyne.</q></blockquote>
    </section>

    <section id="eleventh-volume">
    <h2>Star-Crossed Lovers and the First Wife of Aub Ahrensbach</h2>

    <p><i>September 23, 2025</i> - <a href="https://anilist.co/activity/959783624">Anilist Activity Link</a></p>
                
    <p><i>Below are my anilist comment about this volume.</i></p>
    <blockquote><q>V4 done. It must be a surprise to see me already finishing this volume in under 24 hours after the previous one, but seeing the content of this volume... I must say, it is well worth it that I finished this quite early.
    <br><br>
    In this volume we presided over the development of Brigitte's new dress and business related to her home territory, Illgner. There are also some HIGHLY ANTICIPATED DEVELOPMENT HERE RELATED TO BRIGITTE THAT I THOROUGHLY ENJOYED, SO MUCH SO THAT I CANNOT HELP BUT BURN THROUGH THE VOLUME AT HIGH SPEED TO SEE THE CONCLUSION OF IT.
    <br><br>
    <details>
        <summary>Spoiler for Part 3 Volume 4</summary>
        GOD, THE SIDE STORIES DAMUEL'S PROPOSAL IS ONE OF THE BEST CHAPTER I'VE EVER READ, SINCE IT DEALS EXCLUSIVELY WITH ROMANCE!!!! LETS GO DAMUEL, YOU CAN DO IT!!!!!
        <br><br>
        (I also have a sneaking suspicion that Hugo and Ella now reuniting again means that these pair is now in place to grow their own romance, but I believe that this will not take place today, and will definitely happen offscreen for a few volumes before we get to them again. I BELIEVE THEY WILL HAVE DEVELOPMENT THOUGH!)
    </details>
    <br>
    Ehm.
    <br><br>
    In other business, we also preside over the Summer ingredients gathering in the heat of Mount Lohenberg, whose guardian, Reisefalke, reminded me of a certain monster in Ori and the Blind Forest. We also preside over a very highly tense political situation regarding Sylvester's older sister, Georgine, whose return brings momentum that might as well threaten the livelihood of the entire archducal family...
    <br><br>
    The volume ends on this very distressing epilogue chapter that led me to believe that this situation is even more dire than it seems, as forces in the shadow of the noble society are preparing something... and as we know, the next volume is the last for this part. I reasonably expect that this will be just as distressing as the last volume of part 1 and part 2. Or even worse.
    </q></blockquote>
    </section>
    
    <section id="twelfth-volume">
    <h2>Like Ships in the Night</h2>

    <p><i>September 24, 2025</i> - <a href="https://anilist.co/activity/960009826">Anilist Activity Link</a></p>
                
    <p><i>Below are my anilist comment about this volume.</i></p>
    <blockquote><q>There are no words I can offer for comments now that I have completed this part. For future Al, take your time to come back to this series, and make sure to also log the fanbook and the short story collections now that you are entering Part 4. See you then.
    </q></blockquote>
    </section>
</section>