---
layout: empty
title: Birds
---

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birds</title>
    <link rel="stylesheet" href="/assets/css/main.scss">
</head>

<body class="container">
    <header>
        <nav>
            <span>
                <form action="/posts/">
                    <input type="submit" value="Back" />
                </form>
            </span>
            <span>
                <button type="button" data-theme-toggle aria-label="Change to light theme"
                    class="theme_toggle light-theme" style="float: right;"></button>
            </span>
        </nav>
    </header>
    <main class="merriweather-regular">
        <p><img src="/assets/icons/Birds.svg" alt="Birds icon" style="display: block; margin-left: auto; margin-right: auto;"
                width="40px" class="filter"></p>
        <p>Have you ever wondered if the birds flying in the sky are truly free of burden? Is that why they were able to
            fly so lightly? The winds accommodate them because of their shared freedom, fluttering and moving, to reach
            everything.</p>
        <p>I am envious of them.</p>
        <p>I barely see the birds through the window, blotted with water from the rain that is pouring. I can barely see
            the surroundings even when I'm squinting, and I'm sitting in the passenger seat of a car. It was a big car,
            family-sized, almost felt like a minivan.</p>
        <p>Do not quote me on that, though. I am very bad with cars and such; my comparison tends to be very wrong
            because of it.</p>
        <p>I see my father in the driver's seat and loads of stuff in the back of the car, including one small
            motorcycle being tied down by a plastic rope.</p>
        <p>I remember this scene, this memory, but I don't remember the rain. I was sleep deprived at the time, very
            worried that my dad would also fall asleep if I slept myself, and focused on keeping him awake.</p>
        <p>By talking to him about everything.</p>
        <p>It was the first time I've ever had such an open discussion with the man I've decided to hate so much. It was
            also one of the good memories I've had of him in recent times.</p>
        <p>I looked at him and said, "Dad?"</p>
        <p>Surprisingly, he answered, "Yeah, bud?"</p>
        <p>Shaking off my surprise, I decided to continue and see what would happen. "Have you ever heard the tale of
            the two birds?"</p>
        <p>"Two birds? Kid, I've lost count of how many stories you've told me. How about you start the story and see if
            it jogs my memory a bit?" He said, eyes focusing still on the road. He has always been different when he is
            driving. Focused and his energy never seems to diminish.</p>
        <p>"Okay then..." I said, recounting the words to the tale. "It was said that two birds used to live a long time
            ago, a parent and a child. There were many variations on which parent or child it was, father and daughter.
            Father and son. Mother and son, and rarely, mother and daughter."</p>
        <p>I almost rambled on and on about the intriguing fact of the story, but realized that I'm digressing from the
            topic. "Anyway, for the moment, let's assume it was the variation of father and son," I said shamelessly.
        </p>
        <p>I saw my father raise his eyebrows and take a slight look at me, but he didn't reply.</p>
        <p>"The father bird and its son used to live together with a mother. A bird that dotes on both of them as a
            lover and a parent. The mother bird is the one thing that binds them together, a common ground that they
            both love her. In a mature way, or in a childlike way. Either way, they have that to tie them together."</p>
        <p>The silence between us was interspersed with the sound of the beating rain, creating this thick, tense
            atmosphere. The air seems to be charged with static energy.</p>
        <p>"One day, the mother bird was struck with an illness. Her chirping became solemn and slow, and later on, she
            was too weak to even fly. The father worked tirelessly to feed her, hunting for worms and bringing them as
            fast as he could. The son was too young to help the father in hunting for food, but he helped the mother
            bird around the nest whenever she needed to do something."</p>
        <p>I take a peek at my father and see his hand tightening on the steering wheel, and his barely contained
            emotion. I forged on, hoping not to get choked up before the story ends.</p>
        <p>"But in the end, they were helpless, and they were both together when the mother bird was at her weakest
            point. The mother bird did not have a long time to live. The mother bird chirps to the father bird, crying,
            saying 'Thank you for everything, dear. I&hellip; am sorry I have to go first. I am glad that we both
            decided to fly together.'" I said, delivering it without losing myself.</p>
        <p>"The mother bird then turned to the son and said, 'Be strong, son. Keep flapping your wings. I'm sorry I
            can't live to see you fly, but I know you will. Don't let anyone and anything bring you down, okay? Fly, fly
            away, be free.' And with those last words, she chirps a little bit and closes her eyes. Her feather loses
            its luster, now attached to something without its soul." I finally dropped a tear, unable to contain my own
            sadness that had been silently welling up, but I continued.</p>
        <p>"The birds, father and son, then worked together to bury the mother bird, and after they were done, they
            talked with each other in a hollowed-out tree," I said, looking away from the driver of this car. This part
            is the hardest.</p>
        <p>"The father started the talk by asking the son to stay inside, to keep himself safe, and to never fly at all.
            The son, remembering the last words of his mother, protested and argued, but the father wouldn't budge. He
            then said, 'I cannot lose anyone again, do you understand?'" I said, steeling myself.</p>
        <p>I am not courageous enough to see his reaction, and I don't want to.</p>
        <p>"The son, however, began to pull on his wing in protest; he wants to be free, as his mother wanted. He
            struggled and struggled until the father responded, out of instinct. He pushed away his son, towards a hole
            in the hollowed-out tree. An accident." I said, solemnly. "He realized what he had done and flew away,
            losing a bit of himself as the winds beat up against him. The son, betrayed, fell to the inside of the tree
            and broke his wings. His father has left him here to die, in his misguided attempt to keep him safe. His
            grief has let him-"</p>
        <p>I wasn't able to finish my story before my father slammed his hand to the steering wheel, screaming, "Stop
            it! Just stop! I understand the point, okay?!" as he let out the rage I knew he always had, inherited from
            his father.</p>
        <p>The one I also unfortunately inherited.</p>
        <p>The silence hangs like a lampshade, illuminating my intentions while its shadow covered the rage of my
            father, as he attempted to calm himself down. Neither of us breaks it, stewing in our own minds. The storm
            outside only complemented the brewing storm of emotions that was about to break at any moment now.</p>
        <p>I looked ahead to see if I could still see the birds. In the rain, I can see it still fluttering its wings,
            hopefully looking for a warmer, and less wet, place. I focus on the birds still, thinking of their freedom,
            and making sure I do not get caught up in too many emotions.</p>
        <p>It's just memories, nothing more. There's no need to be afraid.</p>
        <p>After a while of driving through the endless roads, we finally reach a change of scenery. The car starts to
            climb up as we ride through an overpass, and the rain starts to dissipate. I can now clearly see the birds
            and see how static its animation was, then I focus my attention on my dad.</p>
        <p>This is the moment, the reason why I'm here in the first place.</p>
        <p>"Did you really feel like that?" I hear him say, his voice trembling as if a million thunderstorms are
            vibrating his mouth. "Like I betrayed you?"</p>
        <p>"Dad, I was just telling a story. It does not have anything to do with our&hellip; situation." I give my
            response, barely straining to contain my emotion. I want to scream at him, agreeing and giving him a rude
            awakening, about how I actually feel.</p>
        <p>"Are you sure?" Dad said. His eyes looked at me for a second, and I could see some of the gentleness that
            must've charmed my mother in his eyes. For a mere second, I believe this man genuinely cared about my
            well-being.</p>
        <p>I looked back at him, defiant, "Don't look at me like that." I spoke with less control over my anger. I
            remember the exact word I said to him. "Don't pretend like you care!" I yelled and let everything out as I
            said the last word.</p>
        <p>"You don't! You never do, ever since she's gone! You're only interested in keeping me safe, never letting me
            out, limiting my freedom, you take everything from me!" I said, not even caring if it's the same line or
            not. "You even drove away-"</p>
        <p>"No! You can curse me for doing everything else, but you cannot fault me for breaking that one up. She was
            about to kidnap you!" At this moment, he had lost all focus on the road and looked at me incredulously.</p>
        <p>"We were only going for a week, why can't you trust that your almost adult son is capable of going overseas
            without being in danger?" I said, rebutting his point.</p>
        <p>And it continues. The argument flooded out, and we let out everything that we have kept in since Mom is gone.
            We argued until our throats couldn't produce any more sounds, and even then, we continued. At one point, I
            looked at the birds and focused on them, and I saw the whole world melting away.</p>
        <p><img src="/assets/icons/Birds.svg" alt="Birds icon" style="display: block; margin-left: auto; margin-right: auto;"
                width="40px" class="filter"></p>
        <p>"Status check on the subject."</p>
        <p>"Subject is still in a healthy condition. Their vitals are slightly abnormal, but this is to be expected as
            we explore the most vulnerable parts of his brain. So far, it's going great. The indicator worked perfectly
            to distinguish and remind the agent that it is not the real world."</p>
        <p>"Status check on the agent."</p>
        <p>"Agent is also in a healthy condition. His vitals seemed to match the subject, but it was expected that their
            vitals would be similar to each other, as previous experiments suggested."</p>
        <p>"Is there new information to be gathered?"</p>
        <p>"Nothing substantial, at least not yet, from what the Agent is seeing. The agent is contending with a memory
            of him with his late father, during what is presumed to be an earlier part of his life. It seems like this
            memory was an especially distressing one, and that is the probable cause of his having abnormal vitals."</p>
        <p>"Is it safe to continue?"</p>
        <p>"At this point, it is still safe. No danger can be detected from the parameter that was given."</p>
        <p>"Initiate stage two."</p>
        <p>"Stage two commencing. Calibrating pulses, constructing worlds&hellip;"</p>
        <p><img src="/assets/icons/Birds.svg" alt="Birds icon" style="display: block; margin-left: auto; margin-right: auto;"
                width="40px" class="filter"></p>
        <p>I finally regained my senses after the world melted away, and I felt the softness and the warmth. I am in a
            bed, without my clothes on, and apparently with someone else. I recognized the person immediately, and I
            hadn't opened my eyes yet. I do, however, move my hand to pat their long black hair, which was tickling my
            body with its volume.</p>
        <p>I heard a groan and felt the lady hug me tight. It seems like I'm not the only one who has woken up.</p>
        <p>"Good morning," I said, still with eyes closed and with a tired voice. The thing about feeling memory as an
            Agent is, you feel everything, including how groggy they must've felt waking up in the morning, so I played
            the part. "You can let go now, you're hugging me like I'm going to be taken away at any moment," I said,
            chuckling.</p>
        <p>I can only hear grunts as a response. Okay, she might not be as awake as indicated; it's just a natural
            response. That is kind of cute.</p>
        <p>I shake myself awake and distance myself from the emotion. I am an Agent, not whoever this person is. I have
            to remember that, and so I opened my eyes. I looked at the ceiling and saw the painting of two birds in a
            nest, nuzzling with each other. I can recall that this painting was specifically made by the person who is
            currently nuzzling me right now, and she painted it as a present for our anniversary.</p>
        <p>Very unusual, but this subject is an unusual person, so I let it slide.</p>
        <p>I was about to rise before I could feel her movement. I looked at her, and I saw that she was finally awake,
            her big eyes looking at me like a child caught with its hand on the cookie jar. I looked back and tilted my
            head. She ducked down and started moving her body.</p>
        <p>Oh, she wants that. Well&hellip;.</p>
        <p>I indulged in her needs. There's nothing left to be said. If this is what I need to do to gain knowledge,
            I'll do it.</p>
        <p>I also won't lie, even if it's only a memory of another person, it still felt good.</p>
        <p>As I lay back together with her, I looked again at the birds. But soon my vision is penetrated by tangles of
            black hair and the beautiful face of a lady. "Good morning, indeed." She smirked. I pinched her cheek in
            response, as I felt it was appropriate, and she lay on my chest.</p>
        <p>We lay there for a bit before she started piping up. "I'm glad you know."</p>
        <p>"Glad for what?"</p>
        <p>"I'm glad that you fought to be with me, <em>shshshsh</em>." I heard her say, but the last part was blurred.
            The privacy protocol is working great. I can't tell what she said, but I can infer it is the subject's real
            name.</p>
        <p>I looked away in embarrassment before shaking myself from that and looking towards her. I can't let the
            subject's emotion overtake my own. "You're worth fighting for, Ali."</p>
        <p>The lady, Ali, looked at me with what I can only describe as loving eyes. "Yeah, so please excuse me when I
            hugged you really tight, because I don't want you to go anywhere." She said, then she began hugging me tight
            again.</p>
        <p>Ah, this memory. It finally caught up to me. The subject and his girlfriend, Ali, are about to embark on a
            long-distance relationship. The subject has to move for a period of time because of his work, which I'm
            investigating. Ali is very adamant that they spend a night with each other before he goes, which was last
            night.</p>
        <p>I didn't say anything. What else can I say? I feel like the subject wouldn't say anything at this moment
            either, just enjoying it before he inevitably has to go and fly away, towards the freedom unknown.</p>
        <p>I let myself pat her on the back and softly caress it as well while I look at the birds.</p>
        <p>I find myself envious of them again, as the love they exude from the painting, nuzzling with each other, was
            so palpable. I want to be like them, stay here nuzzling Ali forever, just like them.</p>
        <p>What am I even thinking? She's not mine, I'm not even sure she's still alive. I mentally slap my own cheeks.
            The more I delve into the subject's mind, the more of his feelings and thoughts leak out. I have to be in
            control.</p>
        <p>But wouldn't it be nice if I stayed here with Ali, even for one more minute?</p>
        <p>I sighed in frustration and decided to ask her a question to distract myself and possibly gain more answers.
            "I wish I could stay too, forever if possible," I said, with a somber tone to disguise the earlier sigh as
            something sad.</p>
        <p>I waited for a response, but I could only feel her embrace. I look at her, wondering if she fell asleep,
            before I start to feel something wet touching my skin, coming from the area of her face. Oh, tears.</p>
        <p>I quickly said, "Hey, hey, are you okay?" while I pulled her up to face me. She began sobbing as soon as she
            left the embrace, and I said, "It's not going to be long, okay? I'll be back before you can even miss me."
        </p>
        <p>She didn't say anything at first and kept sobbing, but at some point, she looked at me with watery eyes.
            "Promise me you'll contact me every night?"</p>
        <p>"Promise."</p>
        <p>"Promise me you won't find anyone else there?"</p>
        <p>He smirked. "You know that all my mates are going to be guys, right?"</p>
        <p>"I don't know, maybe you'll decide to swing the other way or something."</p>
        <p>I coughed and pinched her cheek with both of my hands. She can be a little bit paranoid at times, and I find
            it cute. "I assure you, I only think of you when I'm thinking of a partner, or relationship-wise. So don't
            worry too much about that."</p>
        <p>"Owkway," she said while I kept pinching her cheeks. She smiled a bit as she said that.</p>
        <p>I stopped and faced her up close, smirking and said, "Anything else you're worried about?"</p>
        <p>She slapped my face away lightly and said, "I still can't tell what job you're going to do there." She looked
            at me inquisitively. I recall that she always asked me about this as the due date is coming close. "Can you
            at least tell me one inconsequential detail about it?"</p>
        <p>I shook my head and said, "You know I can't." I mentally cursed, because the reason I can't answer it is that
            the subject doesn't let me remember. "Confidentiality and all that," I said, trying to excuse myself while
            hoping that I could finally recall the memory.</p>
        <p>"Please, just one for me?" She said, doing that puppy eyes move that she did previously. I looked at her, and
            a burst of emotion came forth. The subject is really in love with this girl, Ali, it seems.</p>
        <p>And I feel myself falling for her as well. I shook my head a bit, and she must've taken that as a definitive
            answer to her question, because she began to sulk and pulled away from me.</p>
        <p>I looked at her and felt guilty. At this point, I wasn't sure if this was the subject's feeling at the time
            or my own; it coalesces together into a mix of both, our shared collective guilt as we have to tell her
            basically nothing.</p>
        <p>As we struggle with it, and possibly after the subject takes time to reconsider, I was able to recall a
            memory, something that I can use as an answer. Something that the subject has been thinking about for a
            while, actually.</p>
        <p>"I can tell you at least that what I'm working for&hellip; has been made into a movie once."</p>
        <p>Ali looked back, her sulking over, and looked at me incredulously. "Wait, what?"</p>
        <p>I unconsciously scratch my hair in embarrassment and look elsewhere to stop being embarrassed. "Yeah, that's
            all I can tell you." I glanced at her a bit before saying, "Is that enough?"</p>
        <p>She grinned, the widest grin I've ever seen coming from her, I mean, coming from any girl. "That is the first
            time I've heard you open up about the job." She goes back to hugging me tightly again. "It's not enough, but
            I take what I can get."</p>
        <p>I hugged her back and smiled warmly. "Sorry that I can't give you more."</p>
        <p>We sat there forever, warm skin and our beating heart together for what could have been the last time.
            Hopefully not.</p>
        <p>"Don't you have to go in a few hours? You know the roads to the airport at these hours, it's busy." She said,
            finally, looking up to me.</p>
        <p>"Just a couple more minutes," I said, looking at her. "Or do you want me to leave?"</p>
        <p>"No." She said, and she came close for a kiss, but the whole world melted away before I could feel the soft
            lips.</p>
        <p><img src="/assets/icons/Birds.svg" alt="Birds icon" style="display: block; margin-left: auto; margin-right: auto;"
                width="40px" class="filter"></p>
        <p>"Status check on the subject."</p>
        <p>"Subject is still in a healthy condition. Elevated heartbeats, attributed to the memories that we are seeing.
            There is distress, though, as he started to remember the information, something we haven't seen from our
            previous experiment."</p>
        <p>"Status check on the agent."</p>
        <p>"Agent is healthy, but their composure is slipping. They have not focused on the indicator&nbsp;for the
            required amount of time, but it might be because of the memories being displayed. It seems like he
            is&hellip; too attached to the memory."</p>
        <p>"Is the agent compromised?"</p>
        <p>"We are putting more attention on the parameters required now, and have prepared the backup needed to
            retrieve him when the symptoms exacerbate."</p>
        <p>"Is there new information to be gathered?"</p>
        <p>"An offhand comment about the project, but it is vague and unverifiable. Further access to the knowledge is
            barred, but the next stage has a higher chance of being accessed without problem. The subject is
            unintentionally bringing forth a memory that is closer to the information we needed for the next stage."</p>
        <p>"Is it safe to continue?"</p>
        <p>"Safety measures have been prepared and checked. It is safe to move on, but it is prudent to be cautious from
            now on."</p>
        <p>"Initiate stage three."</p>
        <p>"Stage three commencing. Drawing memories, encrypting information, porting data, constructing worlds&hellip;"
        </p>
        <p><img src="/assets/icons/Birds.svg" alt="Birds icon" style="display: block; margin-left: auto; margin-right: auto;"
                width="40px" class="filter"></p>
        <p>My head exploded. Or at least it felt like it. Information is being streamed directly to my brain as I start
            to regain my senses, and I see a laboratory. Machines that I barely recognized, before my memories caught up
            with me and I began to understand their purposes. People are working on their own machine, unrecognizable
            faces, slowly became familiar as I learn the context.</p>
        <p>I learn alright, I learn to lean on my own desk, and I almost doubled over in pain.</p>
        <p>One of the subject's colleagues noticed my movements and walked over, saying, "You okay, man?"</p>
        <p>I put my hand up to say I'm okay and shook my head. So much information, the information that might be useful
            for the mission. "Haven't drunk my coffee yet."</p>
        <p>"Ah." He said, with an understanding look. "You want me to get you one? There's a recent pot that was being
            brewed over in the kitchen."</p>
        <p>"Oh, I don't want to take your time."</p>
        <p>"Nah, don't worry. I also need some refills on my own." He said with a knowing look. "It's crunch time
            anyway." He then walked away, towards presumably the kitchen.</p>
        <p>I took my time to pinch the side of my head to alleviate the lingering pain that was slowly subsiding, and
            take a look at the laboratory. It was packed with both men and machines, working in tandem to create&hellip;
            something. A contraption, but to do what? The subject's memories are scattered, but I know the answer is in
            here somewhere.</p>
        <p>I look at my desk and take a gander at my notes, filled with calculations and plans for parts of the
            contraption. There is also a symbol of a bird on the bottom left of the paper, which seems like it is a
            custom-made paper specifically for this lab. I focused on the bird, the indicator for this memory, it seems,
            but I can't reach the same feeling as the previous memories.</p>
        <p>I looked at the symbol still, and I almost gasped in surprise as it turned fuzzy, like the image turns into a
            lower resolution version of itself. I rubbed my eyes, and it turned back into a normal bird logo. I sat
            there and got a grip on myself.</p>
        <p>I am not the subject. I am an Agent.</p>
        <p>I am not the subject. I am an Agent.</p>
        <p>I am not the&hellip; subject. Or am I?</p>
        <p>I shook my head and decided to look at my notes, to decipher the calculations and retain the information and
            memories for the folks out there to receive, along with following the inclinations of the subject.</p>
        <p>I missed the fact that I started following the subject's intentions in his memories and the implication when
            I was tapped on the shoulder. I looked back and saw the same scientist colleague, carrying two mugs of
            steaming hot coffee.</p>
        <p>"Here you go." He handed over one of the mugs.</p>
        <p>I took it and said, "Thanks." I carefully put it in the available room on the desk, filled with clutter of
            parts and notes.</p>
        <p>The scientists looked at the notes I'm reading and said, "Recalculating the variables?"</p>
        <p>"Yeah, I calculated this when I'm tired, want to make sure that I didn't miscalculate."</p>
        <p>He grimaced before saying, "Oof, good luck then, man." He patted my shoulder before returning to his station.
        </p>
        <p>"You too&hellip;" I started recalling his name and job station, "Pat. Did you have a good time with the
            programs?"</p>
        <p>"Oh, yeah. I've finished the interface; it should be able to respond dynamically soon, but as of right now,
            it can respond to base questions and information. You want to see?" Pat said, gesturing to his monitor.</p>
        <p>"Yeah, what the hell." I stood up and walked towards his station. "Maybe seeing progress can help me
            calculate better. Motivations and all."</p>
        <p>"Uh-uh." Pat sat on his chair, and typed some things, saying, "A few kinks that I just noticed, let me fix
            that real quick&hellip; Some of these missed the debugger, you know? Cause technically, it's true, but the
            calculations will be wrong in the long run." He's still typing and did an impromptu bug fixing while
            talking, and I looked at the program.</p>
        <p>All the information here, I need to retain to peruse later. I looked at it thoroughly and pointed out
            something to him. "Missed a semicolon here."</p>
        <p>Pat snickered. "Years into this job, I still miss that here and there." He typed the semicolon in before
            continuing to bug-fix the program. "Sorry about this, I was ready to showcase that for my own ego, but I
            just realized the mistake, so give me a few more seconds&hellip;"</p>
        <p>He typed a few last lines of code. "Done!" Pat exclaimed. No error on the debugger, nor from my own perusal.
        </p>
        <p>I looked at him and gave him a thumbs-up. "Showcase?"</p>
        <p>"Showcase." He said, and he clicked the running option.</p>
        <p>I see a simple text input UI, presumably to enter a command. He put in a simple command, &lsquo;Subject
            status check.'</p>
        <p>"I haven't hooked it up to any subject yet, so it would automatically respond with the ideal condition of a
            subject." He said, explaining the program. This program would be used to interface with our subject on the
            contraption, monitoring their vitals. I see the response.</p>
        <p>"Subject is in healthy condition."</p>
        <p>Pat continues, "The program would dynamically respond according to the subject's actual vitals at the moment
            we used it. Some peculiar vitals that spike at certain moments or drop suddenly. I made progress on that,
            but I still don't have anything to show for it, especially because I do need some live data to showcase that
            feature, so this is the best I can do for now. What do you think?"</p>
        <p>I pondered for a moment before saying, "It's basic, but progress. Better than nothing." I continued. "You'd
            better work on that dynamic response, though. I heard that the bosses are looking to test this soon."</p>
        <p>"You don't have to remind me." He said grumpily and slowly sipped on his coffee.</p>
        <p>"Let me know when you're done. I want to see that final version."</p>
        <p>Pat beamed and said, "For sure, <em>shshsh.</em> I'll let you know!" Pat then began furiously working on the
            program, periodically drinking his coffee.</p>
        <p>I return to my station and start doing my job as well. I looked at the notes and made some calculations.
            After a few minutes, I tried to find my pen, looking around my desk before opening the drawer. I saw two
            small face-down picture frames in the clutter inside the drawer. Curious, I turned them up and saw the
            picture of my own, a family of three. My dad, my mom, and I. The other one contained the picture of me and
            Ali.</p>
        <p>Why were these in a drawer again? I tried to remember, and I recalled the answer.</p>
        <p>Ali and I were having difficulties with our relationship, and last night she called me and asked me to take a
            break from our relationship. I shelved her pictures then, because I can't see her while I'm working. I can't
            afford to see her static image and ponder on the future of our relationship while I still have a job to do.
        </p>
        <p>My family's pictures have always been shelved; I can't bear seeing them on my desk, but I can't just throw
            them away either.</p>
        <p>No wonder I was worried that my calculations were wrong. Wait, me or the subject?</p>
        <p>I am the subject- no, I'm the Agent.</p>
        <p>I am the Agent.</p>
        <p>Why does that sound so&hellip; wrong?</p>
        <p><img src="/assets/icons/Birds.svg" alt="Birds icon" style="display: block; margin-left: auto; margin-right: auto;"
                width="40px" class="filter"></p>
        <p>"Status check on the subject."</p>
        <p>"Vitals are dropping as we extracted information from him. It is expected, but the level of the vitals is
            approaching a new low. The data of this has been collected for future consideration."</p>
        <p>"Status check on the agent."</p>
        <p>"Agent is&hellip; Agent is&hellip;"</p>
        <p>"Status check on the agent."</p>
        <p>"Return 122502348&hellip;"</p>
        <p class="monospace">RELOAD BIRDSinterface.exe</p>
        <p>"Status check on the subject."</p>
        <p>"Subjects are in healthy condition."</p>
        <p>"Status check on the agent."</p>
        <p>"There is no Agent detected."</p>
        <p><img src="/assets/icons/Birds.svg" alt="Birds icon" style="display: block; margin-left: auto; margin-right: auto;"
                width="40px" class="filter"></p>
        <p>I no longer feel envious of the birds.</p>
        <p>I feel like the winds have finally accommodated me now. Like a wing grew out of my back, I feel so light.</p>
        <p>I keep on working on the calculation, and hope that I can finish&nbsp;it before the end of the day. Before
            that happens, though, the bosses came from the back of the laboratory. Inspection time, it seems.</p>
        <p>We lined up at our stations, awaiting the bosses as they inspected our work and asked questions. They never
            seem to approach my desk, though, probably because they trust my calculation, and also the mathematics are
            probably beyond them.</p>
        <p>They finished their inspection and finally retreated. We were ready to return to our job before we heard a
            sharp throat clearing from one of them.</p>
        <p>Our attention returns to them, but not without some having a quizzical look on their faces. This never
            happened before. Is this some kind of announcement?</p>
        <p>"We have an announcement to make. During your induction to the project, we mentioned that this project
            remains nameless for the time being while it is being ruminated over. We are now announcing that the names
            of the project have been decided, and hopefully, with this, it would spur your motivation for the completion
            of a project, while before it might have&nbsp;an unfinished and rushed feeling to it," said one of the
            bosses.</p>
        <p>We never really learned their names, even though we've been here for a long time. With the amount of money
            that was being paid to us, we feel like they have a reason not to introduce themselves.</p>
        <p>It would also allow us to claim ignorance if this whole operation is being shut down at the behest of the
            government and we're being interrogated. At least some of us are thinking like that.</p>
        <p>"We have decided to name the project Project Birds."</p>
        <p>I felt a sudden urge to throw up. What did he say?</p>
        <p>"The leadership of this project has congregated and approved of the name, as we feel like it lines up with
            the goal of our project, which was to&hellip;"</p>
        <p>I can't hear what he has to say next, because I feel like I have just listened to something important. The
            importance of it somehow kept slipping from my brain, though. It does feel like it's on the tip of my
            tongue, however.</p>
        <p>I pinched my sides for a bit to focus and start listening back to the explanation.</p>
        <p>"With that concluded, we hope that this announcement renews your passion for the project and adds more
            motivation to complete it in a thorough and timely manner. Thank you." The bosses then turned around and
            exited the premises.</p>
        <p>Project Birds. Why is that name so familiar to me?</p>
        <p>I pondered and pondered, but I never found the answer. I then return to the job I've always had, calculating
            these formulas and variables.</p>
        <p>I hope that Ali will talk to me again. I also still need to contact my father. If what Pat says is right, it
            might not be too late.</p>
        <p>I have to let go of this burden of guilt. I know Mom would hope that I do. It's time to be free and not let
            this bring me down.</p>
    </main>
    <footer>
        <small>Copyright ©2025 AlwaysNever. All Rights Reserved.</small>
    </footer>

    <script type="module" src="{{ '/assets/js/main.js' | url }}"></script>
</body>