---
layout: base
eleventyNavigation:
  key: About
  order: 4
---

<div class="container">
    <h1 id="about-me">About</h1>
    <p>My name is <strong>AlwaysNever-25</strong>, also known as <strong>Al</strong>.</p>
    <p>I am a 25 year-old man that is still entirely obsessed with making sure everyone on the web can hear his thoughts. I already tried using a starter blog using Eleventy and wrote about 700+ blog entries, some are thoughts I wrote down years ago, but about half of them came from 2024, where I started writing a daily blog for the whole year.</p>
    <p>Unfortunately, this website will not contain all that nonsense. The things contained within those blog posts are too private for my comfort for others to read. Too... vulgar. And honestly, it has too much pictures. (It gets to a point where I have to update the starter blog to the most recent canary of Eleventy just so I can use the image processing plugins- anyway...)</p>
    <p>This website, however, will contain all of my thoughts that I was fully prepared to make public. Reviews of many media. Stories that I've written years ago and now decided to share with others.</p>
    <p>For those of you in the know, you will realize that this website is actually a migrated version of my old website that existed prior. It has now been retired, with no way for you all to see it in its previous state, because it was entirely written using pure HTML/CSS/JS. As in, I wrote it all manually, with no framework, no build tool, no <em>nothing</em>. It's just free-hand raw HTML, raw CSS, and raw JS (I specifically didn't write all of this JS myself).</p>
    <p>Right now, this website are made using a Eleventy Plus Vite starter, something I haven't done before. I've dabbled in this for a few days now, and I feel like this is a perfect solution to migrate my website into.</p>
    <p>I hope you can enjoy whatever is contained within my website!</p>
</div>