---
layout: base
title: Fictions
description: List of my fictional stories... for better or worse.
permalink: /fiction/
eleventyNavigation:
  key: Fiction
  order: 5
---

<div class="container">
    <h1>Fictions</h1>
    {% set fictionslist = collections.fiction %}
    {% include "fictionlist.njk" %}
</div>