---
layout: empty
---

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ meta.title }}</title>
    {% include "meta.njk" %}
    <link rel="stylesheet" href="/assets/css/play.css">
</head>

<body>
    <div id="wrapper" class="screenplay">
        {{ content | safe }}
    </div>
    {% include "footer.njk" %}
</body>
